Repository pytorch/ao, pull requests merged in 2024-11, with the labels that each got.

#1212 `at::optional` -> `std::optional` (#1170)
  torchao/csrc/cuda/tensor_core_tiled_layout/tensor_core_tiled_layout.cu
Labels: CLA Signed, fb-exported

#1210 [CPU offload optim] Fix when there are non-trainable params
  test/prototype/test_low_bit_optim.py
  torchao/prototype/low_bit_optim/cpu_offload.py
Labels: CLA Signed

#1147 BF16 support for Quant-LLM kernel
  benchmarks/benchmark_fp6.py
  test/dtypes/test_floatx.py
  test/test_ops.py
  torchao/csrc/cuda/fp6_llm/README.md
  torchao/csrc/cuda/fp6_llm/fp6_linear.cu
  torchao/csrc/cuda/fp6_llm/kernel_matmul.cuh
  torchao/csrc/cuda/fp6_llm/kernel_reduction.cuh
  torchao/csrc/cuda/fp6_llm/ptx_mma.cuh
  torchao/csrc/cuda/fp6_llm/utils_core.cuh
  torchao/csrc/cuda/fp6_llm/utils_parallel_dequant.cuh
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/floatx/README.md
  torchao/dtypes/floatx/floatx.py
  torchao/ops.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed

#1216 [NF4] Add `quantize_()` API support for NF4
  test/dtypes/test_nf4.py
  torchao/dtypes/nf4tensor.py
Labels: CLA Signed

#1214 Expose FakeQuantizeConfigs in QAT quantizers
  torchao/quantization/qat/linear.py
Labels: CLA Signed

#1219 Add a developer guide for exporting to executorch
  torchao/utils.py
  tutorials/developer_api_guide/export_to_executorch.py
Labels: CLA Signed

#1222 `fast_flush` kwarg of `do_bench` is removed
  benchmarks/quantized_training/benchmark_int8mm.py
Labels: CLA Signed, fb-exported

#1228 Fix for weights-only load
  ruff.toml
  test/prototype/test_low_bit_optim.py
  torchao/prototype/low_bit_optim/__init__.py
  torchao/prototype/low_bit_optim/adam.py
  torchao/prototype/low_bit_optim/cpu_offload.py
  torchao/prototype/low_bit_optim/quant_utils.py
  torchao/prototype/low_bit_optim/subclass_4bit.py
  torchao/prototype/low_bit_optim/subclass_8bit.py
  torchao/prototype/low_bit_optim/subclass_fp8.py
Labels: CLA Signed

#1179 Add module-swap UX for INT8 mixed-precision training
  benchmarks/quantized_training/pretrain_llama2.py
  test/prototype/test_quantized_training.py
  torchao/prototype/quantized_training/__init__.py
  torchao/prototype/quantized_training/int8_mixed_precision.py
Labels: CLA Signed

#1248 8-bit packing support
  torchao/experimental/kernels/cpu/aarch64/bitpacking/bitpack.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_bitpacking.cpp
Labels: CLA Signed, fb-exported

#1251 fixing pytest skip for only test_floatx.py
  test/dtypes/test_floatx.py
Labels: CLA Signed

#1252 Try label bot checker
  .github/workflows/pr-label-check.yml
Labels: CLA Signed, topic: not user facing

#1253 More batching and improved furious accuracy/performance
  examples/sam2_amg_server/README.md
  examples/sam2_amg_server/compare_rle_lists.py
  examples/sam2_amg_server/server.py
  torchao/_models/sam2/automatic_mask_generator.py
  torchao/_models/sam2/modeling/backbones/hieradet.py
  torchao/_models/sam2/modeling/sam/mask_decoder.py
  torchao/_models/sam2/modeling/sam/transformer.py
  torchao/_models/sam2/sam2_image_predictor.py
  torchao/_models/sam2/utils/amg.py
Labels: CLA Signed, topic: improvement

#1247 [CI/CD] switch to 2.5.1 for our 2.5 regression tests
  .github/workflows/regression_test.yml
Labels: CLA Signed, topic: not user facing

#1256 pin nightlies to deal with std::badalloc
  .github/workflows/regression_test.yml
Labels: CLA Signed, ci, topic: bug fix

#1217 [Low-bit optim] Support for `dcp.save()` and `dcp.load()`
  test/prototype/test_low_bit_optim.py
  torchao/prototype/low_bit_optim/subclass_4bit.py
  torchao/prototype/low_bit_optim/subclass_8bit.py
  torchao/prototype/low_bit_optim/subclass_fp8.py
Labels: CLA Signed, topic: improvement

#1261 Fix 2.5.1 failing sparsity test
  test/prototype/test_sparse_api.py
Labels: CLA Signed, topic: bug fix

#1202 metal lowbit kernels: split scales and zero points
  torchao/experimental/kernels/mps/metal/divbit.metal
  torchao/experimental/kernels/mps/metal/int3mm.metal
  torchao/experimental/kernels/mps/metal/int5mm.metal
  torchao/experimental/kernels/mps/metal/int6mm.metal
  torchao/experimental/kernels/mps/metal/int7mm.metal
  torchao/experimental/kernels/mps/src/lowbit.h
  torchao/experimental/kernels/mps/test/test_lowbit.mm
  torchao/experimental/ops/mps/register.mm
  torchao/experimental/ops/mps/test/test_lowbit.py
Labels: CLA Signed, fb-exported, topic: improvement

#1262 metal lowbit kernels: add meta kernels
  torchao/experimental/ops/mps/register.mm
Labels: CLA Signed, fb-exported, topic: not user facing

#1239 Ruff Lint fixes (torchao/float8)
  ruff.toml
  torchao/float8/__init__.py
  torchao/float8/config.py
  torchao/float8/distributed_utils.py
  torchao/float8/float8_linear.py
  torchao/float8/float8_linear_utils.py
  torchao/float8/float8_ops.py
  torchao/float8/float8_scaling_utils.py
  torchao/float8/float8_tensor_parallel.py
  torchao/float8/fsdp_utils.py
  torchao/float8/roofline_utils.py
Labels: CLA Signed, topic: not user facing

#1244 Ruff Lint fixes (torchao/quantization)
  ruff.toml
  torchao/quantization/GPTQ.py
  torchao/quantization/GPTQ_MT.py
  torchao/quantization/__init__.py
  torchao/quantization/autoquant.py
  torchao/quantization/granularity.py
  torchao/quantization/linear_activation_quantized_tensor.py
  torchao/quantization/linear_activation_scale.py
  torchao/quantization/observer.py
  torchao/quantization/prototype/qat/__init__.py
  torchao/quantization/prototype/qat/_module_swap_api.py
  torchao/quantization/prototype/qat/affine_fake_quantized_tensor.py
  torchao/quantization/prototype/qat/api.py
  torchao/quantization/prototype/qat/embedding.py
  torchao/quantization/prototype/qat/fake_quantizer.py
  torchao/quantization/prototype/qat/linear.py
  torchao/quantization/qat/__init__.py
  torchao/quantization/qat/affine_fake_quantized_tensor.py
  torchao/quantization/qat/api.py
  torchao/quantization/qat/embedding.py
  torchao/quantization/qat/fake_quantizer.py
  torchao/quantization/qat/linear.py
  torchao/quantization/qat/utils.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
  torchao/quantization/smoothquant.py
  torchao/quantization/subclass.py
  torchao/quantization/unified.py
  torchao/quantization/utils.py
  torchao/quantization/weight_only.py
Labels: CLA Signed, topic: not user facing

#1249 Ruff Lint fixes (torchao/sparsity)
  ruff.toml
  torchao/sparsity/__init__.py
  torchao/sparsity/marlin/__init__.py
  torchao/sparsity/marlin/utils.py
  torchao/sparsity/prototype/__init__.py
  torchao/sparsity/prototype/pruner/FPGM_pruner.py
  torchao/sparsity/prototype/pruner/__init__.py
  torchao/sparsity/prototype/pruner/base_structured_sparsifier.py
  torchao/sparsity/prototype/pruner/lstm_saliency_pruner.py
  torchao/sparsity/prototype/pruner/parametrization.py
  torchao/sparsity/prototype/pruner/saliency_pruner.py
  torchao/sparsity/prototype/scheduler/base_scheduler.py
  torchao/sparsity/prototype/scheduler/cubic_scheduler.py
  torchao/sparsity/prototype/scheduler/lambda_scheduler.py
  torchao/sparsity/prototype/sparsifier/base_sparsifier.py
  torchao/sparsity/prototype/sparsifier/nearly_diagonal_sparsifier.py
  torchao/sparsity/prototype/sparsifier/utils.py
  torchao/sparsity/prototype/sparsifier/weight_norm_sparsifier.py
  torchao/sparsity/prototype/superblock/blocksparse.py
  torchao/sparsity/prototype/superblock/supermask.py
  torchao/sparsity/prototype/superblock/utils.py
  torchao/sparsity/sparse_api.py
  torchao/sparsity/training/__init__.py
  torchao/sparsity/training/autograd.py
  torchao/sparsity/training/pointwise_ops.py
  torchao/sparsity/utils.py
  torchao/sparsity/wanda.py
Labels: CLA Signed, topic: not user facing

#1263 metal lowbit kernels: replace ATEN by USE_ATEN
  torchao/experimental/kernels/mps/codegen/gen_metal_shader_lib.py
  torchao/experimental/kernels/mps/src/lowbit.h
  torchao/experimental/ops/mps/setup.py
Labels: CLA Signed, fb-exported, topic: not user facing

#1207 Call narrow only for TensorCoreTiledLayout
  test/integration/test_integration.py
  torchao/dtypes/affine_quantized_tensor.py
Labels: CLA Signed, topic: bug fix

#1241 Fix Safe Load for NF4
  ruff.toml
  test/dtypes/test_nf4.py
  torchao/dtypes/nf4tensor.py
  torchao/utils.py
Labels: CLA Signed, topic: not user facing

#1276 [1/2] Wean off of PYBIND in favor of torch.ops.load_library
  packaging/post_build_script.sh
  setup.py
  torchao/__init__.py
  torchao/csrc/init.cpp
Labels: CLA Signed, topic: for developers

#1280 Apply lint to contributor PR on demand
  .github/workflows/ruff_linter.yml
Labels: CLA Signed, topic: not user facing

#1255 Update torchao api reference and add contributor guide
  docs/source/api_ref_dtypes.rst
  docs/source/api_ref_intro.rst
  docs/source/api_ref_quantization.rst
  docs/source/contributor_guide.rst
  docs/source/index.rst
  test/integration/test_integration.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/kernel/__init__.py
  torchao/quantization/__init__.py
  torchao/quantization/autoquant.py
  torchao/quantization/linear_activation_quantized_tensor.py
  torchao/quantization/linear_activation_weight_observed_tensor.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
  torchao/quantization/utils.py
  torchao/quantization/weight_tensor_linear_activation_quantization.py
Labels: topic: documentation, CLA Signed

#1271 Add support for Llama 3.2. 3B in eval/bench pipelines
  scripts/convert_hf_checkpoint.py
  scripts/prepare.sh
  torchao/_models/llama/model.py
Labels: CLA Signed, topic: not user facing

#1284 make float 8 error message test BC
  test/float8/test_base.py
Labels: CLA Signed, topic: not user facing

#1285 More SAM2-fast server improvements
  examples/sam2_amg_server/README.md
  examples/sam2_amg_server/compare_rle_lists.py
  examples/sam2_amg_server/server.py
  torchao/_models/sam2/automatic_mask_generator.py
  torchao/_models/sam2/sam2_image_predictor.py
  torchao/_models/sam2/utils/amg.py
  torchao/_models/sam2/utils/transforms.py
Labels: CLA Signed, topic: improvement

#1288 Fix an autoquant bug in flatten/unflatten
  test/integration/test_integration.py
  torchao/quantization/autoquant.py
Labels: CLA Signed, topic: bug fix

#1289 Skip marlin QQQ ops test in fbcode
  test/quantization/test_marlin_qqq.py
Labels: CLA Signed, topic: bug fix

#1291 float8 delayed scaling: remove need to use workaround for AC
  test/float8/test_base.py
  torchao/float8/float8_linear.py
Labels: CLA Signed, topic: not user facing

#1234 Refactor Affine Quantized Tensor
  test/dtypes/test_affine_quantized.py
  test/dtypes/test_floatx.py
  test/dtypes/test_uint4.py
  test/dtypes/test_uintx.py
  test/hqq/test_hqq_affine.py
  test/prototype/test_sparse_api.py
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/dtypes/floatx/__init__.py
  torchao/dtypes/floatx/float8_layout.py
  torchao/dtypes/floatx/floatx_tensor_core_layout.py
  torchao/dtypes/uintx/__init__.py
  torchao/dtypes/uintx/block_sparse_layout.py
  torchao/dtypes/uintx/marlin_qqq_layout.py
  torchao/dtypes/uintx/marlin_sparse_layout.py
  torchao/dtypes/uintx/plain_layout.py
  torchao/dtypes/uintx/semi_sparse_layout.py
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
  torchao/dtypes/uintx/uint4_layout.py
  torchao/dtypes/uintx/uintx_layout.py
  torchao/dtypes/utils.py
  torchao/experimental/_linear_8bit_act_xbit_weight_layout.py
  torchao/prototype/awq/api.py
  torchao/prototype/awq/core.py
  torchao/prototype/hqq/example.py
  torchao/prototype/sparsity/superblock/utils.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: bc-breaking

#1294 Fix Marlin QQQ ops test with unittest
  test/quantization/test_marlin_qqq.py
Labels: CLA Signed, fb-exported, topic: bug fix

#1296 SAM2 Fast AMG: memory profiling and more compile
  examples/sam2_amg_server/README.md
  examples/sam2_amg_server/server.py
  torchao/_models/sam2/automatic_mask_generator.py
  torchao/_models/sam2/modeling/sam/mask_decoder.py
  torchao/_models/sam2/sam2_image_predictor.py
  torchao/_models/sam2/utils/amg.py
  torchao/_models/sam2/utils/transforms.py
Labels: CLA Signed, topic: improvement

#1287 metal lowbit kernels: check contiguity of scales and zeros
  torchao/experimental/kernels/mps/test/test_lowbit.mm
  torchao/experimental/ops/mps/register.mm
  torchao/experimental/ops/mps/test/test_lowbit.py
Labels: CLA Signed, fb-exported, topic: not user facing

#1302 migrate to linux_job_v2 and manylinux 2_28
  .github/workflows/float8_test.yml
  .github/workflows/nightly_smoke_test.yml
  .github/workflows/regression_test.yml
  packaging/post_build_script.sh
Labels: CLA Signed, topic: not user facing

#1303 Lint fixes for test/float8
  ruff.toml
  test/float8/test_base.py
  test/float8/test_compile.py
  test/float8/test_dtensor.py
  test/float8/test_fsdp.py
  test/float8/test_fsdp2/test_fsdp2.py
  test/float8/test_fsdp2/test_fsdp2_fp8_comm_only.py
  test/float8/test_fsdp_compile.py
  test/float8/test_numerics_integration.py
Labels: CLA Signed, topic: not user facing, topic: for developers

#1305 Lint test dtypes
  ruff.toml
  test/dtypes/test_affine_quantized.py
  test/dtypes/test_affine_quantized_tensor_parallel.py
  test/dtypes/test_bitnet.py
  test/dtypes/test_bitpacking.py
  test/dtypes/test_floatx.py
  test/dtypes/test_uint2.py
  test/dtypes/test_uint4.py
  test/dtypes/test_uintx.py
Labels: CLA Signed, topic: not user facing, topic: for developers

#1192 intx weight only linear quantizer for mps
  torchao/experimental/ops/mps/test/test_quantizer.py
  torchao/experimental/quant_api.py
Labels: CLA Signed, fb-exported, topic: not user facing

#1306 float8 with delayed scaling: fix autocast handling
  test/float8/test_base.py
  torchao/float8/float8_linear.py
  torchao/float8/float8_linear_utils.py
Labels: CLA Signed, topic: bug fix

#1283 Revert "pin nightlies to deal with std::badalloc"
  .github/workflows/regression_test.yml
  test/dtypes/test_affine_quantized.py
  test/integration/test_integration.py
  test/prototype/test_awq.py
  test/prototype/test_sparse_api.py
  test/sparsity/test_fast_sparse_training.py
Labels: CLA Signed, topic: not user facing

#1316 Fix pickle.dump missing file argument typo in README
  torchao/quantization/README.md
Labels: topic: documentation, CLA Signed

#1286 Tiny fix for an import in Llama generator script
  torchao/_models/llama/generate.py
Labels: CLA Signed, topic: not user facing

#1319 Update README.md
  README.md
Labels: topic: documentation, topic: not user facing

#1258 Remove calibration args from generate.py
  torchao/_models/llama/generate.py
Labels: CLA Signed, topic: improvement

#1318 fix typo of README.md
  torchao/quantization/README.md
Labels: CLA Signed, topic: not user facing

#1329 float8 training: fix bug with AC + compile
  torchao/float8/float8_linear.py
  torchao/float8/float8_linear_utils.py
  torchao/float8/float8_scaling_utils.py
  torchao/float8/float8_utils.py
Labels: CLA Signed, topic: bug fix

#1328 Some improvement to make autoquant v2 work with Mixtral-8x7B-v0.1
  torchao/prototype/quantization/autoquant_v2.py
Labels: CLA Signed, topic: not user facing

#1333 Update nightly job to use 12.4 since 12.1 is deprecated
  .github/workflows/regression_test.yml
  test/prototype/test_sparse_api.py
  test/test_ops.py
Labels: CLA Signed, topic: not user facing

#1336 SAM2 AMG cli and other QoL improvements
  examples/sam2_amg_server/README.md
  examples/sam2_amg_server/cli.py
  examples/sam2_amg_server/requirements.txt
  examples/sam2_amg_server/server.py
  torchao/_models/sam2/configs/sam2.1/sam2.1_hiera_b+.yaml
  torchao/_models/sam2/configs/sam2.1/sam2.1_hiera_s.yaml
  torchao/_models/sam2/configs/sam2.1/sam2.1_hiera_t.yaml
  torchao/_models/sam2/utils/amg.py
Labels: CLA Signed, topic: improvement

#1334 fix torchtitan + float8 + delayed + compile
  torchao/float8/float8_utils.py
Labels: CLA Signed, topic: bug fix

#1340 Update build_wheels_linux.yml - Pass test-infra input params
  .github/workflows/build_wheels_linux.yml
Labels: CLA Signed, topic: not user facing

#1343 Fix Failing CI - Update bitsandbytes import
  test/quantization/test_galore_quant.py
Labels: CLA Signed, ci, topic: bug fix

#1341 float8 training: move module attribute setting to sync function
  test/float8/test_base.py
  torchao/float8/README.md
  torchao/float8/config.py
  torchao/float8/float8_linear.py
  torchao/float8/float8_linear_utils.py
Labels: CLA Signed, topic: bug fix

#1314 Add hardware check to fp8 quant
  test/dtypes/test_affine_quantized_float.py
  torchao/quantization/quant_api.py
  torchao/utils.py
Labels: CLA Signed, topic: bug fix

#1347 Remove lm_eval warning
  torchao/__init__.py
  torchao/quantization/GPTQ.py
Labels: topic: documentation, CLA Signed

#1348 Fixed invalid url in citation section
  README.md
Labels: CLA Signed

#1324 Enable CPU Offload for Intel GPU
  benchmarks/benchmark_low_bit_adam.py
  test/prototype/test_low_bit_optim.py
  torchao/prototype/low_bit_optim/README.md
  torchao/prototype/low_bit_optim/cpu_offload.py
  torchao/utils.py
Labels: CLA Signed, topic: improvement

#1349 SAM2 AMG cli.py on modal
  examples/sam2_amg_server/cli.py
  examples/sam2_amg_server/cli_on_modal.py
  examples/sam2_amg_server/server.py
Labels: CLA Signed, topic: improvement

#1269 [low-bit optim] Fix edge cases for FSDP2 integration
  test/prototype/test_low_bit_optim.py
  torchao/prototype/low_bit_optim/adam.py
Labels: CLA Signed, topic: bug fix

#1312 [NF4] `.to()` fixes
  test/dtypes/test_nf4.py
  torchao/dtypes/nf4tensor.py
Labels: CLA Signed, topic: bug fix

#1350 Reduce SAM2 AMG cli startup by using deploy
  examples/sam2_amg_server/cli.py
  examples/sam2_amg_server/cli_on_modal.py
Labels: CLA Signed, topic: improvement

#1254 Enable 8-bit
  torchao/experimental/_linear_8bit_act_xbit_weight_layout.py
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit_aten.cpp
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit_executorch.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_aten.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w8s.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w8sz.cpp
  torchao/experimental/quant_api.py
  torchao/experimental/tests/test_embedding_xbit_quantizer.py
  torchao/experimental/tests/test_linear_8bit_act_xbit_weight_quantizer.py
  torchao/experimental/tests/test_linear_int8_dynamic_activation_intx_weight_subclass.py
Labels: CLA Signed, fb-exported

#1353 Benchamarking
  torchao/_models/llama/generate.py
  torchao/experimental/temp_build.py
  torchao/quantization/README.md
Labels: CLA Signed, fb-exported, topic: improvement

#1355 Add floating point options for autoquant and add accuracy measurement
  examples/sam2_amg_server/server.py
  test/integration/test_integration.py
  torchao/_models/llama/generate.py
  torchao/quantization/__init__.py
  torchao/quantization/autoquant.py
Labels: CLA Signed, topic: improvement

#1278 Add Int4CPULayout and update int4 woq
  .github/workflows/regression_test.yml
  test/dtypes/test_affine_quantized.py
  test/integration/test_integration.py
  test/quantization/test_quant_primitives.py
  torchao/dtypes/__init__.py
  torchao/dtypes/uintx/__init__.py
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
  torchao/prototype/hqq/README.md
  torchao/prototype/hqq/hqq_tinygemm_linear.py
  torchao/quantization/GPTQ.py
  torchao/quantization/qat/linear.py
  torchao/quantization/quant_api.py
  torchao/quantization/subclass.py
  torchao/quantization/utils.py
Labels: CLA Signed, topic: not user facing

#1344 Add support for quantize_() with Float8Linear module
  test/float8/test_base.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: bug fix

#1259 Benchmark intel xpu
  torchao/_models/llama/generate.py
  torchao/quantization/README.md
Labels: CLA Signed, topic: for developers

#1361 Update README.md: Fix bibtex and sglang links
  README.md
Labels: CLA Signed
