Repository pytorch/ao, pull requests merged in 2024-10, with the labels that each got.

#930 BitNet b1.58 training
  benchmarks/quantized_training/pretrain_llama2.py
  test/prototype/test_quantized_training.py
  torchao/prototype/quantized_training/README.md
  torchao/prototype/quantized_training/__init__.py
  torchao/prototype/quantized_training/bitnet.py
  torchao/prototype/quantized_training/int8.py
  torchao/prototype/quantized_training/int8_mixed_precision.py
  torchao/prototype/quantized_training/int8_mm.py
Labels: CLA Signed

#965 Don't call dequantize in `__repr__`
  torchao/dtypes/affine_quantized_tensor.py
Labels: CLA Signed

#963 Print args/kwargs types for utils and examples
  test/test_utils.py
  torchao/utils.py
  tutorials/developer_api_guide/print_op_and_shapes.py
Labels: CLA Signed

#969 add ruff lint rule to remove unused imports via ruff
  .github/workflows/ruff_linter.yml
  dev-requirements.txt
  test/dtypes/test_affine_quantized_float.py
  test/dtypes/test_nf4.py
  test/quantization/test_observer.py
  torchao/dtypes/nf4tensor.py
  torchao/float8/float8_tensor.py
  torchao/float8/float8_utils.py
  torchao/float8/inference.py
  torchao/quantization/linear_activation_weight_observer.py
  torchao/quantization/weight_tensor_linear_activation_quantization.py
Labels: CLA Signed

#904 [float8] improve eager numerics for dynamic scales and gets on par with torch.compile
  test/float8/test_compile.py
  torchao/float8/float8_tensor.py
  torchao/float8/float8_utils.py
  torchao/float8/fsdp_utils.py
  torchao/testing/float8/fsdp2_utils.py
Labels: CLA Signed

#947 Add int4 weight-only embedding QAT
  test/quantization/test_qat.py
  torchao/quantization/prototype/qat/__init__.py
  torchao/quantization/prototype/qat/_module_swap_api.py
  torchao/quantization/prototype/qat/embedding.py
  torchao/quantization/prototype/qat/utils.py
Labels: CLA Signed

#914 Gptq mt refactor
  test/quantization/test_quant_api.py
  test_gptq_mt.py
  torchao/_models/_eval.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/utils.py
  torchao/quantization/GPTQ_MT.py
Labels: CLA Signed

#946 Float8 dynamic autoquant
  test/integration/test_integration.py
  torchao/_models/llama/generate.py
  torchao/kernel/intmm.py
  torchao/quantization/__init__.py
  torchao/quantization/autoquant.py
Labels: CLA Signed

#990 Add example for awq like flow
  torchao/quantization/__init__.py
  torchao/quantization/linear_activation_scale.py
  tutorials/calibration_flow/awq_like.py
Labels: CLA Signed

#994 Add float8_static_activation_float8_weight to user-facing API
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#1005 sync with fbcode
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_bitpacking.cpp
Labels: CLA Signed

#1007 Introduce 6-bit quantization for Llama in torchchat
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_bitpacking.cpp
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_linear.cpp
  torchao/experimental/kernels/cpu/aarch64/bitpacking/bitpack.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint6.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_bitpacking.cpp
Labels: CLA Signed, fb-exported

#1008 Pin torch nightly - Oct 1
  .github/workflows/regression_test.yml
  test/prototype/test_quantized_training.py
Labels: CLA Signed

#1011 Add more videos
  README.md
Labels: CLA Signed

#1004 Unskip `test_choose_qparams_token_asym` in 2.6
  test/quantization/test_quant_primitives.py
Labels: CLA Signed

#1003 Add Float8 support for AQT tensor parallel
  test/dtypes/test_affine_quantized_tensor_parallel.py
  torchao/dtypes/affine_quantized_tensor.py
Labels: CLA Signed

#1021 [low-bit optim] Fix load state dict when device is different
  test/prototype/test_low_bit_optim.py
  torchao/prototype/low_bit_optim/adam.py
  torchao/prototype/low_bit_optim/subclass_4bit.py
  torchao/prototype/low_bit_optim/subclass_8bit.py
  torchao/prototype/low_bit_optim/subclass_fp8.py
Labels: CLA Signed

#1023 Use `importlib.util.find_spec` to check if `lm_eval` is installed instead of trying to import it
  torchao/quantization/utils.py
Labels: CLA Signed

#1024 Refactor `tiktoken` import bare except
  torchao/_models/llama/tokenizer.py
Labels: CLA Signed

#919 add axiswise granularity to Float8Tensor
  test/float8/test_base.py
  torchao/float8/config.py
  torchao/float8/float8_linear.py
  torchao/float8/float8_ops.py
  torchao/float8/float8_scaling_utils.py
  torchao/float8/float8_tensor.py
  torchao/float8/float8_utils.py
Labels: CLA Signed

#743 [WIP] Activation Aware Weight Quantization (AWQ)
  scripts/create_weight_map.py
  scripts/hf_eval.py
  test/dtypes/test_uintx.py
  test/prototype/test_awq.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/dtypes/uintx/__init__.py
  torchao/dtypes/uintx/uintx.py
  torchao/prototype/awq/README.md
  torchao/prototype/awq/__init__.py
  torchao/prototype/awq/api.py
  torchao/prototype/awq/core.py
  torchao/prototype/awq/example.py
  torchao/quantization/linear_activation_scale.py
  torchao/quantization/observer.py
Labels: CLA Signed

#940 float8 training axiswise scaling support with per-gemm-argument configuration
  benchmarks/float8/float8_roofline.py
  benchmarks/float8/profile_linear_float8.py
  test/float8/test_base.py
  test/float8/test_compile.py
  test/float8/test_numerics_integration.py
  torchao/float8/config.py
  torchao/float8/float8_linear.py
  torchao/float8/float8_ops.py
  torchao/float8/float8_scaling_utils.py
  torchao/testing/float8/test_utils.py
Labels: CLA Signed

#1029 Optimize 3-bit packing
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_bitpacking.cpp
  torchao/experimental/kernels/cpu/aarch64/bitpacking/bitpack.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint3.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_bitpacking.cpp
Labels: CLA Signed, fb-exported

#1033 fix failing fbcode tests
  test/sparsity/test_sparse_api.py
Labels: CLA Signed

#1019 Make module swap the main QAT flow again
  test/quantization/test_qat.py
  torchao/quantization/prototype/qat/__init__.py
  torchao/quantization/prototype/qat/_module_swap_api.py
  torchao/quantization/prototype/qat/api.py
  torchao/quantization/prototype/qat/linear.py
  torchao/quantization/prototype/qat/utils.py
Labels: CLA Signed

#1028 Rename Layout -> TensorImpl
  .github/workflows/regression_test.yml
  benchmarks/benchmark_fp6.py
  test/dtypes/test_affine_quantized_float.py
  test/dtypes/test_floatx.py
  test/hqq/test_hqq_affine.py
  test/integration/test_integration.py
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/floatx/__init__.py
  torchao/dtypes/floatx/floatx.py
  torchao/dtypes/uintx/uintx.py
  torchao/dtypes/utils.py
  torchao/prototype/hqq/example.py
  torchao/quantization/autoquant.py
  torchao/quantization/quant_api.py
  torchao/sparsity/marlin/utils.py
  torchao/utils.py
  tutorials/developer_api_guide/my_dtype_tensor_subclass.py
  tutorials/developer_api_guide/my_trainable_tensor_subclass.py
  tutorials/developer_api_guide/tensor_parallel.py
Labels: CLA Signed

#1040 Revert "Rename Layout -> TensorImpl"
  .github/workflows/regression_test.yml
  benchmarks/benchmark_fp6.py
  test/dtypes/test_affine_quantized_float.py
  test/dtypes/test_floatx.py
  test/hqq/test_hqq_affine.py
  test/integration/test_integration.py
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/floatx/__init__.py
  torchao/dtypes/floatx/floatx.py
  torchao/dtypes/uintx/uintx.py
  torchao/dtypes/utils.py
  torchao/prototype/hqq/example.py
  torchao/quantization/autoquant.py
  torchao/quantization/quant_api.py
  torchao/sparsity/marlin/utils.py
  torchao/utils.py
  tutorials/developer_api_guide/my_dtype_tensor_subclass.py
  tutorials/developer_api_guide/my_trainable_tensor_subclass.py
  tutorials/developer_api_guide/tensor_parallel.py
Labels: CLA Signed

#1039 Basic SAM2 AutomaticMaskGeneration example server
  examples/sam2_amg_server/README.md
  examples/sam2_amg_server/amg_example.py
  examples/sam2_amg_server/example.html
  examples/sam2_amg_server/sam2_hiera_l.yaml
  examples/sam2_amg_server/server.py
Labels: CLA Signed

#1036 Update README.md
  torchao/prototype/awq/README.md
Labels: CLA Signed

#1031 Allow deprecated declarations what using Parallel ExecuTorch
  torchao/experimental/CMakeLists.txt
Labels: CLA Signed, fb-exported

#1037 Make module swap the main QAT flow again
  test/quantization/test_qat.py
  torchao/quantization/prototype/qat/__init__.py
  torchao/quantization/prototype/qat/_module_swap_api.py
  torchao/quantization/prototype/qat/api.py
  torchao/quantization/prototype/qat/linear.py
  torchao/quantization/prototype/qat/utils.py
Labels: CLA Signed

#1045 bump version to 0.7
  version.txt
Labels: CLA Signed

#1046 Aqt rename#1 Layout -> TensorImpl
  benchmarks/benchmark_fp6.py
  test/dtypes/test_affine_quantized_float.py
  test/dtypes/test_floatx.py
  test/hqq/test_hqq_affine.py
  test/integration/test_integration.py
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/floatx/__init__.py
  torchao/dtypes/floatx/floatx.py
  torchao/dtypes/uintx/__init__.py
  torchao/dtypes/uintx/uintx.py
  torchao/dtypes/utils.py
  torchao/prototype/hqq/example.py
  torchao/quantization/autoquant.py
  torchao/quantization/quant_api.py
  torchao/sparsity/marlin/utils.py
  torchao/utils.py
  tutorials/developer_api_guide/my_dtype_tensor_subclass.py
  tutorials/developer_api_guide/my_trainable_tensor_subclass.py
  tutorials/developer_api_guide/tensor_parallel.py
Labels: CLA Signed

#1043 Enable AWQ example on CPU
  torchao/prototype/awq/example.py
Labels: CLA Signed

#1038 Move and rename GranularityType -> Granularity
  test/dtypes/test_affine_quantized_float.py
  test/quantization/test_observer.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/prototype/awq/api.py
  torchao/prototype/awq/core.py
  torchao/quantization/README.md
  torchao/quantization/autoquant.py
  torchao/quantization/granularity.py
  torchao/quantization/observer.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
  tutorials/calibration_flow/awq_like.py
  tutorials/calibration_flow/gptq_like.py
  tutorials/calibration_flow/static_quant.py
Labels: CLA Signed

#1041 Change torchao quantization types from int to size_t and preface vars with "preferred_"
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x1x32_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x4x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x8x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_prepare_activation_data_1xk_f32-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/linear.h
  torchao/experimental/ops/benchmarks/benchmark_linear_8bit_act_xbit_weight.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/examples/Linear8BitActXBitWeightOperator.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/examples/separate_function_wrappers.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/examples/stateful_class_wrapper.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight-impl.h
  torchao/experimental/ops/tests/test_linear_8bit_act_xbit_weight.cpp
Labels: CLA Signed, fb-exported

#983 SpinQuant
  test/prototype/test_spinquant.py
  torchao/_models/llama/eval.py
  torchao/prototype/README.md
  torchao/prototype/spinquant/README.md
  torchao/prototype/spinquant/__init__.py
  torchao/prototype/spinquant/_hadamard_matrices.py
  torchao/prototype/spinquant/hadamard_utils.py
  torchao/prototype/spinquant/spinquant.py
Labels: CLA Signed

#954 Introduce lowbit quantized linear MPS kernels
  torchao/experimental/kernels/mps/codegen/gen_metal_shader_lib.py
  torchao/experimental/kernels/mps/metal.yaml
  torchao/experimental/kernels/mps/metal/divbit.metal
  torchao/experimental/kernels/mps/metal/int3mm.metal
  torchao/experimental/kernels/mps/metal/int5mm.metal
  torchao/experimental/kernels/mps/metal/int6mm.metal
  torchao/experimental/kernels/mps/metal/int7mm.metal
  torchao/experimental/kernels/mps/src/OperationUtils.h
  torchao/experimental/kernels/mps/src/dispatch.h
  torchao/experimental/kernels/mps/src/lowbit.h
  torchao/experimental/kernels/mps/src/packing.h
  torchao/experimental/kernels/mps/test/Makefile
  torchao/experimental/kernels/mps/test/bfloat16.h
  torchao/experimental/kernels/mps/test/test_lowbit.mm
  torchao/experimental/ops/mps/register.mm
  torchao/experimental/ops/mps/setup.py
  torchao/experimental/ops/mps/test/test_lowbit.py
Labels: CLA Signed, fb-exported

#1027 Enable 6-bit kernel
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_aten.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w6s.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w6sz.cpp
  torchao/experimental/quant_api.py
  torchao/experimental/tests/test_linear_8bit_act_xbit_weight_quantizer.py
Labels: CLA Signed, fb-exported

#1049 Rename AQT#2 LayoutType -> Layout
  benchmarks/benchmark_fp6.py
  test/dtypes/test_affine_quantized.py
  test/dtypes/test_floatx.py
  test/hqq/test_hqq_affine.py
  test/integration/test_integration.py
  test/quantization/test_qat.py
  test/sparsity/test_marlin.py
  test/sparsity/test_sparse_api.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/_models/sam/eval_combo.py
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/floatx/__init__.py
  torchao/dtypes/floatx/floatx.py
  torchao/dtypes/uintx/__init__.py
  torchao/dtypes/uintx/uintx.py
  torchao/dtypes/utils.py
  torchao/prototype/autoround/core.py
  torchao/prototype/awq/api.py
  torchao/prototype/awq/core.py
  torchao/prototype/hqq/example.py
  torchao/quantization/GPTQ_MT.py
  torchao/quantization/autoquant.py
  torchao/quantization/prototype/mixed_precision/scripts/BO_acc_throughput.py
  torchao/quantization/quant_api.py
  torchao/sparsity/README.md
  torchao/sparsity/prototype/superblock/utils.py
  torchao/sparsity/sparse_api.py
  torchao/utils.py
  tutorials/calibration_flow/awq_like.py
  tutorials/calibration_flow/static_quant.py
  tutorials/developer_api_guide/my_dtype_tensor_subclass.py
  tutorials/developer_api_guide/my_trainable_tensor_subclass.py
Labels: CLA Signed, bc-breaking

#1051 shrink hadamard matrices
  torchao/prototype/spinquant/_hadamard_matrices.py
Labels: CLA Signed

#1054 [Tp Test] Fix the placement of the device tensor
  torchao/testing/utils.py
Labels: CLA Signed

#997 Kleidi 4b blockwise gemv prototype
  torchao/experimental/build_torchao_ops.sh
  torchao/experimental/kernels/cpu/aarch64/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/benchmarks/build_and_run_benchmarks.sh
  torchao/experimental/kernels/cpu/aarch64/kleidi/kai_matmul_clamp_f32_qai8dxp1x8_qsi4c32p4x8_1x4x32_neon_dotprod.h
  torchao/experimental/kernels/cpu/aarch64/kleidi/kai_matmul_clamp_f32_qai8dxp1x8_qsi4c32p8x8_1x8x32_neon_dotprod.h
  torchao/experimental/kernels/cpu/aarch64/kleidi/kai_matmul_clamp_f32_qai8dxp_qsi4c32p.h
  torchao/experimental/kernels/cpu/aarch64/kleidi/pack.h
  torchao/experimental/kernels/cpu/aarch64/tests/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/tests/build_and_run_tests.sh
  torchao/experimental/kernels/cpu/aarch64/tests/test_linear.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils.h
Labels: CLA Signed

#1056 Skip test_fpx_weight_only in fbcode
  test/dtypes/test_floatx.py
Labels: CLA Signed

#1059 Use ExecuTorch prebuilt library in pip package to build custom kernels
  torchao/experimental/CMakeLists.txt
  torchao/experimental/Utils.cmake
  torchao/experimental/build_torchao_ops.sh
  torchao/experimental/install_requirements.sh
  torchao/experimental/kernels/cpu/aarch64/CMakeLists.txt
  torchao/experimental/ops/linear_8bit_act_xbit_weight/CMakeLists.txt
  torchao/experimental/tests/test_linear_8bit_act_xbit_weight_quantizer.py
Labels: CLA Signed

#1061 Pin pt nightly CPU version
  .github/workflows/regression_test.yml
Labels: CLA Signed

#962 Update base.h unit to unsigned int
  torchao/csrc/cuda/sparse_marlin/base.h
Labels: CLA Signed

#984 add "_gemm_input_role" to dunder slots
  torchao/float8/float8_tensor.py
Labels: CLA Signed

#1064 Unpin CUDA Nightly
  .github/workflows/regression_test.yml
  torchao/prototype/quantized_training/bitnet.py
  torchao/prototype/quantized_training/int8.py
  torchao/prototype/quantized_training/int8_mixed_precision.py
Labels: CLA Signed

#1068 [low-bit optim] Upcast everything to FP32 for internal calculations
  .github/workflows/regression_test.yml
  torchao/prototype/low_bit_optim/adam.py
Labels: CLA Signed

#1072 Create header for packed weight ops
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight-impl.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/packed_weights_header.h
  torchao/experimental/ops/packed_weights_header.h
Labels: CLA Signed, fb-exported

#1070 Update cmake files
  torchao/experimental/CMakeLists.txt
  torchao/experimental/__init__.py
  torchao/experimental/build_torchao_ops.sh
  torchao/experimental/kernels/cpu/aarch64/CMakeLists.txt
  torchao/experimental/ops/linear_8bit_act_xbit_weight/CMakeLists.txt
Labels: CLA Signed

#1075 Revert "Pin pt nightly CPU version"
  .github/workflows/regression_test.yml
Labels: CLA Signed

#1079 Header bug fix
  torchao/experimental/ops/linear_8bit_act_xbit_weight/packed_weights_header.h
  torchao/experimental/ops/packed_weights_header.h
Labels: CLA Signed, fb-exported

#1078 Add AQT tensor parallel for float8_dynamic_quant
  test/dtypes/test_affine_quantized_tensor_parallel.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/quantization/linear_activation_quantized_tensor.py
Labels: CLA Signed

#1083 Create build_wheels_aarch64_linux.yml
  .github/workflows/build_wheels_aarch64_linux.yml
Labels: CLA Signed

#1094 Experimental 6-bit quantization for Llama in torchchat
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint6.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_bitpacking.cpp
Labels: CLA Signed, fb-exported

#1092 Fix 20x slowdown of FP6 kernel due to device properties query
  torchao/csrc/cuda/fp6_llm/fp6_linear.cu
Labels: CLA Signed

#1099 ROCM binary upload
  .github/workflows/build_wheels_linux.yml
Labels: CLA Signed, module: rocm, ciflow/rocm

#1098 Swap in faster uint6 bitpacking function
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint6.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_bitpacking.cpp
Labels: CLA Signed, fb-exported

#1101 [WIP] Create build_wheels_windows.yml
  .github/workflows/build_wheels_windows.yml
  packaging/vc_env_helper.bat
Labels: CLA Signed

#1018 Add quantized embedding kernels to torchao
  torchao/experimental/kernels/cpu/aarch64/bitpacking/bitpack.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint1.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint2.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint3.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint4.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint5.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint6.h
  torchao/experimental/kernels/cpu/aarch64/embedding/embedding.h
  torchao/experimental/kernels/cpu/aarch64/macro.h
  torchao/experimental/kernels/cpu/aarch64/tests/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/tests/build_and_run_tests.sh
  torchao/experimental/kernels/cpu/aarch64/tests/test_embedding.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils.h
Labels: CLA Signed, fb-exported

#1109 Use fewer instructions when unpacking uint6s.
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint6.h
Labels: CLA Signed, fb-exported

#1105 [CI] XPU binary build enable
  .github/workflows/build_wheels_linux.yml
  packaging/post_build_script.sh
Labels: CLA Signed

#1116 Move common ET/Aten op stuff to ops/library.h
  torchao/experimental/ops/library.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/examples/Linear8BitActXBitWeightOperator.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight-impl.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/packed_weights_header.h
  torchao/experimental/ops/macro.h
  torchao/experimental/quant_api.py
  torchao/experimental/tests/test_linear_8bit_act_xbit_weight_quantizer.py
Labels: CLA Signed, fb-exported

#1119 Move bias from kernel to packed_weights
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_linear.cpp
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x1x32_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x4x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x8x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/linear.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_linear.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight-impl.h
  torchao/experimental/ops/tests/test_linear_8bit_act_xbit_weight.cpp
Labels: CLA Signed, fb-exported

#1121 Add support for groupwise quantization for int8 weight only quantization
  test/integration/test_integration.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#1120 Add tensor parallelism support for int4_weight_only quantization
  test/dtypes/test_affine_quantized_tensor_parallel.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/utils.py
Labels: CLA Signed

#1114 [AFQ] Optimize tensor_flatten for runtime
  torchao/dtypes/affine_quantized_tensor.py
Labels: CLA Signed

#1125 Fix out-of-bounds memory access in Galore dequant kernel
  torchao/prototype/galore/kernels/quant.py
Labels: CLA Signed

#1127 Update version to 0.6.1
  version.txt
Labels: CLA Signed

#1128 Fix 20x slowdown of FP6 kernel due to device properties query
  torchao/csrc/cuda/fp6_llm/fp6_linear.cu
Labels: CLA Signed

#1111 Update smoke test
  .github/scripts/validate_binaries.sh
Labels: CLA Signed

#1130 Add readme doc for experiemental
  torchao/experimental/docs/readme.md
Labels: CLA Signed, fb-exported

#1131 Add support for asymmetric act quant for int8 dynamic quant
  test/dtypes/test_affine_quantized.py
  test/quantization/test_quant_api.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#1122 fixed `weights_only=True` load for `float8_dynamic_activation_float8_weight` in quant_api
  test/dtypes/test_affine_quantized_float.py
  torchao/quantization/linear_activation_quantized_tensor.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#1129 Add embedding ops aten
  torchao/experimental/CMakeLists.txt
  torchao/experimental/ops/embedding_xbit/CMakeLists.txt
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit-impl.h
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit_aten.cpp
  torchao/experimental/ops/embedding_xbit/packed_weights_header.h
  torchao/experimental/ops/library.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/CMakeLists.txt
  torchao/experimental/ops/packed_weights_header.h
  torchao/experimental/quant_api.py
  torchao/experimental/tests/test_embedding_xbit_quantizer.py
  torchao/experimental/tests/test_linear_8bit_act_xbit_weight_quantizer.py
Labels: CLA Signed, fb-exported

#1091 Move QAT out of prototype
  README.md
  test/quantization/test_qat.py
  torchao/quantization/prototype/qat/README.md
  torchao/quantization/prototype/qat/__init__.py
  torchao/quantization/prototype/qat/_module_swap_api.py
  torchao/quantization/prototype/qat/affine_fake_quantized_tensor.py
  torchao/quantization/prototype/qat/api.py
  torchao/quantization/prototype/qat/embedding.py
  torchao/quantization/prototype/qat/fake_quantizer.py
  torchao/quantization/prototype/qat/linear.py
  torchao/quantization/qat/README.md
  torchao/quantization/qat/__init__.py
  torchao/quantization/qat/affine_fake_quantized_tensor.py
  torchao/quantization/qat/api.py
  torchao/quantization/qat/embedding.py
  torchao/quantization/qat/fake_quantizer.py
  torchao/quantization/qat/images/qat_diagram.png
  torchao/quantization/qat/linear.py
  torchao/quantization/qat/utils.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#1137 Add embedding ops executorch
  torchao/experimental/CMakeLists.txt
  torchao/experimental/ops/embedding_xbit/CMakeLists.txt
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit_executorch.cpp
Labels: CLA Signed, fb-exported

#1138 Implement more efficient pack and unpack uint5
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint5.h
Labels: CLA Signed, fb-exported

#1069 Add SpinQuant to generate.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/prototype/spinquant/README.md
  torchao/prototype/spinquant/hadamard_utils.py
  torchao/prototype/spinquant/spinquant.py
Labels: CLA Signed

#1143 Update gpu_sparsity kernel benchmarking script
  benchmarks/benchmark_gpu_sparsity.py
  torchao/sparsity/utils.py
Labels: CLA Signed

#1124 Add BF16 stochastic rounding option for optimizers
  benchmarks/benchmark_low_bit_adam.py
  benchmarks/quantized_training/pretrain_llama2.py
  test/prototype/test_low_bit_optim.py
  torchao/prototype/low_bit_optim/README.md
  torchao/prototype/low_bit_optim/adam.py
  torchao/prototype/low_bit_optim/quant_utils.py
Labels: CLA Signed

#1139 Introduce 7-bit quantization for Llama in torchchat.
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_bitpacking.cpp
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_linear.cpp
  torchao/experimental/kernels/cpu/aarch64/bitpacking/bitpack.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint7.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_bitpacking.cpp
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit_aten.cpp
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit_executorch.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_aten.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w7s.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w7sz.cpp
  torchao/experimental/quant_api.py
Labels: CLA Signed, fb-exported

#1142 [ROCm] use dataclass for fnuz type setting
  test/float8/test_base.py
  test/float8/test_compile.py
  torchao/float8/config.py
  torchao/float8/float8_utils.py
Labels: CLA Signed, module: rocm

#1151 c10::nullopt -> std::nullopt (#1032)
  torchao/csrc/cuda/tensor_core_tiled_layout/tensor_core_tiled_layout.cu
Labels: CLA Signed, fb-exported

#1150 [reland][ROCm] use dataclass for fnuz type setting
  test/float8/test_base.py
  test/float8/test_compile.py
  torchao/float8/config.py
  torchao/float8/float8_utils.py
Labels: CLA Signed, module: rocm, ciflow/rocm

#1030 SmoothQuant using tensor subclassing
  test/prototype/test_smoothquant.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/kernel/intmm.py
  torchao/prototype/smoothquant/README.md
  torchao/prototype/smoothquant/__init__.py
  torchao/prototype/smoothquant/api.py
  torchao/prototype/smoothquant/core.py
  torchao/prototype/smoothquant/example.py
Labels: CLA Signed

#1152 [reland] Move QAT out of prototype
  README.md
  test/quantization/test_qat.py
  torchao/quantization/prototype/qat/README.md
  torchao/quantization/prototype/qat/__init__.py
  torchao/quantization/prototype/qat/_module_swap_api.py
  torchao/quantization/prototype/qat/affine_fake_quantized_tensor.py
  torchao/quantization/prototype/qat/api.py
  torchao/quantization/prototype/qat/embedding.py
  torchao/quantization/prototype/qat/fake_quantizer.py
  torchao/quantization/prototype/qat/linear.py
  torchao/quantization/qat/README.md
  torchao/quantization/qat/__init__.py
  torchao/quantization/qat/affine_fake_quantized_tensor.py
  torchao/quantization/qat/api.py
  torchao/quantization/qat/embedding.py
  torchao/quantization/qat/fake_quantizer.py
  torchao/quantization/qat/images/qat_diagram.png
  torchao/quantization/qat/linear.py
  torchao/quantization/qat/utils.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#1107 Add capability of benchmarking arbitrary binary
  torchao/experimental/benchmark_infra/ios/output_redirect.mm
Labels: CLA Signed, fb-exported

#1163 Update regression_test.yml
  .github/workflows/regression_test.yml
Labels: CLA Signed

#1048 SAM2.1 and example README
  examples/README.md
  examples/sam2_amg_server/README.md
  examples/sam2_amg_server/dog.jpg
  examples/sam2_amg_server/example.html
  examples/sam2_amg_server/sam2_hiera_l.yaml
  examples/sam2_amg_server/server.py
Labels: CLA Signed

#1155 Move float8_aten_api to float8_ops
  test/float8/test_base.py
  torchao/float8/float8_aten_api.py
  torchao/float8/float8_ops.py
  torchao/float8/float8_python_api.py
Labels: CLA Signed

#1165 Fix int8_weight_only group_size
  test/integration/test_integration.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#1166 Move float8 out of prototype in quantization README
  torchao/quantization/README.md
Labels: CLA Signed

#1168 Add PyTorch 2.5 to regression test
  .github/workflows/regression_test.yml
  test/dtypes/test_affine_quantized_tensor_parallel.py
  test/integration/test_integration.py
  torchao/testing/utils.py
Labels: CLA Signed

#1144 Initialize model with meta device for generation benchmarking
  torchao/_models/llama/generate.py
Labels: CLA Signed

#1162 Fix Bias APIs, re-enable kleidi tests for arm64
  torchao/experimental/kernels/cpu/aarch64/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/kleidi/kai_matmul_clamp_f32_qai8dxp1x8_qsi4c32p4x8_1x4x32_neon_dotprod.h
  torchao/experimental/kernels/cpu/aarch64/kleidi/kai_matmul_clamp_f32_qai8dxp1x8_qsi4c32p8x8_1x8x32_neon_dotprod.h
  torchao/experimental/kernels/cpu/aarch64/kleidi/kai_matmul_clamp_f32_qai8dxp_qsi4c32p.h
  torchao/experimental/kernels/cpu/aarch64/tests/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/tests/build_and_run_tests.sh
  torchao/experimental/kernels/cpu/aarch64/tests/test_linear.cpp
Labels: CLA Signed

#1171 add to safe globals
  torchao/float8/__init__.py
Labels: CLA Signed

#1167 int8wo Embedding Quant
  test/integration/test_integration.py
  torchao/_models/llama/generate.py
  torchao/dtypes/affine_quantized_tensor.py
Labels: CLA Signed

#1141 is_linear fix for MHA
  test/integration/test_integration.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#1157 Replace torch.empty with torch.zeros
  torchao/quantization/GPTQ.py
Labels: CLA Signed, fb-exported

#1172 SAM2.1 copy
  examples/sam2_amg_server/requirements.txt
  examples/sam2_amg_server/server.py
  torchao/_models/README.md
  torchao/_models/sam2/__init__.py
  torchao/_models/sam2/automatic_mask_generator.py
  torchao/_models/sam2/build_sam.py
  torchao/_models/sam2/configs/sam2.1/sam2.1_hiera_b+.yaml
  torchao/_models/sam2/configs/sam2.1/sam2.1_hiera_l.yaml
  torchao/_models/sam2/configs/sam2.1/sam2.1_hiera_s.yaml
  torchao/_models/sam2/configs/sam2.1/sam2.1_hiera_t.yaml
  torchao/_models/sam2/configs/sam2.1_training/sam2.1_hiera_b+_MOSE_finetune.yaml
  torchao/_models/sam2/configs/sam2/sam2_hiera_b+.yaml
  torchao/_models/sam2/configs/sam2/sam2_hiera_l.yaml
  torchao/_models/sam2/configs/sam2/sam2_hiera_s.yaml
  torchao/_models/sam2/configs/sam2/sam2_hiera_t.yaml
  torchao/_models/sam2/csrc/connected_components.cu
  torchao/_models/sam2/modeling/__init__.py
  torchao/_models/sam2/modeling/backbones/__init__.py
  torchao/_models/sam2/modeling/backbones/hieradet.py
  torchao/_models/sam2/modeling/backbones/image_encoder.py
  torchao/_models/sam2/modeling/backbones/utils.py
  torchao/_models/sam2/modeling/memory_attention.py
  torchao/_models/sam2/modeling/memory_encoder.py
  torchao/_models/sam2/modeling/position_encoding.py
  torchao/_models/sam2/modeling/sam/__init__.py
  torchao/_models/sam2/modeling/sam/mask_decoder.py
  torchao/_models/sam2/modeling/sam/prompt_encoder.py
  torchao/_models/sam2/modeling/sam/transformer.py
  torchao/_models/sam2/modeling/sam2_base.py
  torchao/_models/sam2/modeling/sam2_utils.py
  torchao/_models/sam2/sam2_hiera_b+.yaml
  torchao/_models/sam2/sam2_hiera_l.yaml
  torchao/_models/sam2/sam2_hiera_s.yaml
  torchao/_models/sam2/sam2_hiera_t.yaml
  torchao/_models/sam2/sam2_image_predictor.py
  torchao/_models/sam2/sam2_video_predictor.py
  torchao/_models/sam2/utils/__init__.py
  torchao/_models/sam2/utils/amg.py
  torchao/_models/sam2/utils/misc.py
  torchao/_models/sam2/utils/transforms.py
Labels: CLA Signed

#1176 Fixing eval.py to use GPTQ_MT for gptq
  torchao/_models/llama/eval.py
  torchao/quantization/GPTQ_MT.py
Labels: CLA Signed

#1177 Add bibtex
  README.md
Labels: CLA Signed

#1178 Create CITATION.cff
  CITATION.cff
Labels: CLA Signed

#1183 unpin nightlies
  .github/workflows/regression_test.yml
Labels: CLA Signed

#1175 Added support for Per Tensor Scaling for Float8 Dynamic Autoquant
  test/integration/test_integration.py
  torchao/quantization/autoquant.py
Labels: CLA Signed

#1186 Update utils.py
  torchao/utils.py
Labels: CLA Signed

#1182 adding batchsize support for torchao llama benchmarks
  torchao/_models/llama/benchmarks.sh
  torchao/_models/llama/generate.py
Labels: CLA Signed

#1191 clarify torchao.float8 PyTorch version support
  torchao/float8/README.md
Labels: CLA Signed

#128 Remove int_scaled_mm's dependency on triton for cpu
  torchao/kernel/intmm.py
  torchao/kernel/intmm_triton.py
Labels: CLA Signed

#1194 Add default filtering to remove mis-alinged weights
  test/dtypes/test_affine_quantized_float.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#995 Subclass API (#966)
  torchao/experimental/_linear_8bit_act_xbit_weight_layout.py
  torchao/experimental/docs/readme.md
  torchao/experimental/quant_api.py
  torchao/experimental/tests/test_linear_int8_dynamic_activation_intx_weight_subclass.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed, fb-exported

#1173 [experimental] Kleidi - add operator level tests
  torchao/experimental/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/kleidi/kai_matmul_clamp_f32_qai8dxp1x8_qsi4c32p4x8_1x4x32_neon_dotprod.h
  torchao/experimental/kernels/cpu/aarch64/kleidi/kai_matmul_clamp_f32_qai8dxp1x8_qsi4c32p8x8_1x8x32_neon_dotprod.h
  torchao/experimental/ops/tests/CMakeLists.txt
  torchao/experimental/ops/tests/build_and_run_tests.sh
  torchao/experimental/ops/tests/test_linear_8bit_act_xbit_weight.cpp
Labels: CLA Signed

#1196 SAM2 AMG example mIoU, perf numbers and more SAM2 model annotations
  examples/sam2_amg_server/README.md
  examples/sam2_amg_server/compare_rle_lists.py
  examples/sam2_amg_server/dog_rle.json
  examples/sam2_amg_server/server.py
  torchao/_models/sam2/automatic_mask_generator.py
  torchao/_models/sam2/modeling/sam/mask_decoder.py
  torchao/_models/sam2/sam2_image_predictor.py
Labels: CLA Signed

#1203 Making sure int4 weight only supports cpu as well
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/affine_quantized_tensor.py
Labels: CLA Signed

#1197 SAM2 AMG server side request batching
  examples/sam2_amg_server/README.md
  examples/sam2_amg_server/server.py
  torchao/_models/sam2/automatic_mask_generator.py
Labels: CLA Signed

#1093 Add an option to use fp8-all-gather only without fp8 computation.
  test/float8/test_fsdp2/test_fsdp2.py
  test/float8/test_fsdp2/test_fsdp2_fp8_comm_only.py
  torchao/float8/config.py
  torchao/float8/float8_linear.py
  torchao/testing/float8/fsdp2_utils.py
Labels: CLA Signed, fb-exported
