Repository pytorch/ao, pull requests merged in 2024-06, with the labels that each got.

#212 Re-enable AOTI tests
  test/integration/test_integration.py
Labels: CLA Signed

#303 sparse benchmarking numbers
  benchmarks/benchmark_sam.py
  torchao/sparsity/README.md
Labels: CLA Signed

#302 Retry of D58015187 Move AsyncCompile to a different file
  tutorials/quantize_vit/bfloat16_code.py
  tutorials/quantize_vit/quant_code.py
Labels: CLA Signed, fb-exported

#309 Check and fix dequantize_affine is idempotent
  test/quantization/test_quant_primitives.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed

#314 Update old pretrained TorchVision API in ao tutorials (#313)
  tutorials/quantize_vit/run_vit_b.py
  tutorials/quantize_vit/run_vit_b_quant.py
Labels: CLA Signed, fb-exported

#312 Fix FP6-LLM benchmark
  benchmarks/benchmark_fp6.py
  benchmarks/benchmark_fp6_llm.py
Labels: CLA Signed

#306 Add fused QKV `HQQ` `triton_mm` test
  test/hqq/test_triton_qkv_fused.py
Labels: CLA Signed

#301 Refactor int4 and int8 weight only quantization to use `quantize`
  benchmarks/benchmark_aq.py
  test/integration/test_integration.py
  test/quantization/test_quant_api.py
  torchao/dtypes/aqt.py
  torchao/quantization/quant_api.py
  torchao/quantization/utils.py
  torchao/utils.py
  tutorials/quantize_vit/run_vit_b_quant.py
Labels: CLA Signed

#325 Test ghstack - 1
  torchao/quantization/prototype/__init__.py
Labels: CLA Signed

#328 Adding a quick way for users to test model eval for hf models
  scripts/hf_eval.py
Labels: CLA Signed

#310 Wrap torch.ops.quantized_decomposed to improve import errors
  torchao/_executorch_ops.py
  torchao/quantization/GPTQ.py
  torchao/quantization/prototype/qat.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
  torchao/quantization/utils.py
Labels: CLA Signed

#323 [NF4Tensor] Switch to save for backward since are now a tensor input
  torchao/dtypes/nf4tensor.py
Labels: CLA Signed

#321 Refactor rest of tinygemm quant primitive ops
  test/quantization/test_quant_primitives.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed

#329 Add `AUTOQUANT_CACHE` docs for reusing the same quantization plan
  torchao/quantization/README.md
Labels: CLA Signed

#184 training acceleration via runtime semi-structured sparsity
  benchmarks/benchmark_semi_sparse.py
  benchmarks/xformers_benchmark_utils.py
  test/sparsity/test_fast_sparse_training.py
  torchao/sparsity/training/README.md
  torchao/sparsity/training/__init__.py
  torchao/sparsity/training/autograd.py
  torchao/sparsity/training/pointwise_ops.py
Labels: CLA Signed

#333 Unpin CUDA nightly
  .github/workflows/regression_test.yml
Labels: CLA Signed

#334 Update nightly build instructions
  README.md
Labels: CLA Signed

#336 Add architecture to index postfix for nightly builds
  README.md
Labels: CLA Signed

#337 Move some util functions from quantization.utils to torchao.utils
  test/dtypes/test_fp8.py
  test/integration/test_integration.py
  test/prototype/mx_formats/test_custom_cast.py
  test/prototype/mx_formats/test_mx_linear.py
  test/prototype/mx_formats/test_mx_tensor.py
  test/prototype/test_bitpacking.py
  test/quantization/model.py
  test/quantization/test_qat.py
  test/quantization/test_quant_api.py
  test/quantization/test_quant_primitives.py
  test/sparsity/test_fast_sparse_training.py
  test/sparsity/test_sparse_api.py
  test/test_ops.py
  torchao/_executorch_ops.py
  torchao/kernel/intmm.py
  torchao/ops.py
  torchao/prototype/mx_formats/custom_cast.py
  torchao/quantization/GPTQ.py
  torchao/quantization/__init__.py
  torchao/quantization/autoquant.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
  torchao/quantization/subclass.py
  torchao/quantization/utils.py
  torchao/sparsity/training/__init__.py
  torchao/sparsity/training/autograd.py
  torchao/utils.py
Labels: CLA Signed

#304 Clean up FP6-LLM
  dev-requirements.txt
  docs/source/api_ref_dtypes.rst
  setup.py
  test/dtypes/test_float6_e3m2.py
  test/prototype/mx_formats/test_custom_cast.py
  test/quantization/test_fp6_llm.py
  test/test_ops.py
  torchao/csrc/cuda/fp6_llm/README.md
  torchao/csrc/cuda/fp6_llm/weight_quant.cu
  torchao/csrc/fp6_llm.cpp
  torchao/csrc/fp6_llm/float6_e3m2.cpp
  torchao/csrc/fp6_llm/fp6_llm.cpp
  torchao/csrc/fp6_llm/weight_prepacking.cpp
  torchao/dtypes/__init__.py
  torchao/dtypes/float6_e3m2.py
  torchao/ops.py
  torchao/quantization/fp6_llm.py
Labels: CLA Signed

#331 Move quant ops to utils.py
  test/dtypes/test_nf4.py
  test/integration/test_integration.py
  test/quantization/test_qat.py
  test/quantization/test_quant_primitives.py
  torchao/__init__.py
  torchao/dtypes/aqt.py
  torchao/quantization/GPTQ.py
  torchao/quantization/__init__.py
  torchao/quantization/autoquant.py
  torchao/quantization/dynamic_quant.py
  torchao/quantization/prototype/qat.py
  torchao/quantization/quant_primitives.py
  torchao/quantization/smoothquant.py
  torchao/quantization/subclass.py
  torchao/quantization/utils.py
  torchao/quantization/weight_only.py
  torchao/sparsity/prototype/dynamic_quant_sparse.py
Labels: CLA Signed

#338 Revert "Clean up FP6-LLM"
  dev-requirements.txt
  docs/source/api_ref_dtypes.rst
  setup.py
  test/dtypes/test_float6_e3m2.py
  test/prototype/mx_formats/test_custom_cast.py
  test/quantization/test_fp6_llm.py
  test/test_ops.py
  torchao/csrc/cuda/fp6_llm/weight_quant.cu
  torchao/csrc/fp6_llm.cpp
  torchao/csrc/fp6_llm/README.md
  torchao/csrc/fp6_llm/float6_e3m2.cpp
  torchao/csrc/fp6_llm/fp6_llm.cpp
  torchao/csrc/fp6_llm/weight_prepacking.cpp
  torchao/dtypes/__init__.py
  torchao/dtypes/float6_e3m2.py
  torchao/ops.py
  torchao/quantization/fp6_llm.py
Labels: CLA Signed

#340 Update regression test to python 3.8
  .github/workflows/regression_test.yml
  torchao/quantization/fp6_llm.py
Labels: CLA Signed

#339 FP6-LLM clean up (again)
  dev-requirements.txt
  docs/source/api_ref_dtypes.rst
  setup.py
  test/dtypes/test_float6_e3m2.py
  test/prototype/mx_formats/test_custom_cast.py
  test/quantization/test_fp6_llm.py
  test/test_ops.py
  torchao/csrc/cuda/fp6_llm/README.md
  torchao/csrc/cuda/fp6_llm/weight_quant.cu
  torchao/csrc/fp6_llm.cpp
  torchao/csrc/fp6_llm/float6_e3m2.cpp
  torchao/csrc/fp6_llm/fp6_llm.cpp
  torchao/csrc/fp6_llm/weight_prepacking.cpp
  torchao/dtypes/__init__.py
  torchao/dtypes/float6_e3m2.py
  torchao/ops.py
  torchao/quantization/fp6_llm.py
Labels: CLA Signed

#307 Bitpackingv2
  benchmarks/benchmark_bitpacking.py
  test/prototype/test_bitpacking.py
  torchao/prototype/common/bitpacking.py
Labels: CLA Signed

#330 Fix dimension issues for int4 weight only quant path
  test/dtypes/test_aq.py
  test/integration/test_integration.py
  torchao/dtypes/aqt.py
Labels: CLA Signed

#341 Fix compile in `hf_eval.py`
  scripts/hf_eval.py
Labels: CLA Signed

#342 Improving hf_eval.py
  scripts/hf_eval.py
Labels: CLA Signed

#276 Adding Llama to TorchAO
  test/quantization/test_quant_api.py
  torchao/_models/__init__.py
  torchao/_models/_eval.py
  torchao/_models/llama/__init__.py
  torchao/_models/llama/benchmark_results.txt
  torchao/_models/llama/benchmarks.sh
  torchao/_models/llama/generate.py
  torchao/_models/llama/model.py
  torchao/_models/llama/tokenizer.py
  torchao/quantization/README.md
Labels: CLA Signed

#343 task_list to tasks in hf_eval
  scripts/hf_eval.py
Labels: CLA Signed

#348 Update version to 0.3.0
  setup.py
  version.txt
Labels: CLA Signed

#351 make torchao test discovery pass in fbcode
  test/integration/test_integration.py
  test/quantization/test_quant_primitives.py
  test/sparsity/test_fast_sparse_training.py
  torchao/utils.py
Labels: CLA Signed, fb-exported

#352 [Release Only] Pin generate-matrix to release 2.3.1
  .github/workflows/build_wheels_linux.yml
Labels: CLA Signed

#353 fixing peak memory stats for benchmark
  torchao/_models/llama/benchmark_results.txt
  torchao/_models/llama/generate.py
  torchao/quantization/README.md
Labels: CLA Signed

#355 add link to benchmarking script
  torchao/sparsity/training/README.md
Labels: CLA Signed

#344 Deprecate top level quantization APIs
  test/dtypes/test_aq.py
  test/integration/test_integration.py
  test/prototype/mx_formats/test_mx_linear.py
  test/quantization/test_quant_api.py
  torchao/dtypes/__init__.py
  torchao/dtypes/aqt.py
  torchao/quantization/README.md
  torchao/quantization/quant_api.py
  torchao/quantization/subclass.py
  torchao/utils.py
  tutorials/quantize_vit/run_vit_b_quant.py
Labels: CLA Signed

#347 Minor upgrades to bit pack
  benchmarks/benchmark_bitpacking.py
  test/prototype/test_bitpacking.py
  torchao/prototype/common/bitpacking.py
Labels: CLA Signed

#358 Add FP6-LLM doc and move FP6-LLM to prototype
  README.md
  benchmarks/benchmark_fp6_llm.py
  test/prototype/test_fp6_llm.py
  test/test_ops.py
  torchao/csrc/cuda/fp6_llm/fp6_linear.cu
  torchao/csrc/fp6_llm.cpp
  torchao/ops.py
  torchao/prototype/README.md
  torchao/prototype/fp6_llm/README.md
  torchao/prototype/fp6_llm/__init__.py
  torchao/prototype/fp6_llm/fp6_llm.py
Labels: CLA Signed

#359 Add torchao.__version__
  torchao/__init__.py
Labels: CLA Signed

#360 Factor out dispatch and layout registration table
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/aqt.py
  torchao/dtypes/nf4tensor.py
  torchao/dtypes/utils.py
Labels: CLA Signed

#366 Add `register_apply_tensor_subclass`
  test/quantization/test_quant_api.py
  torchao/__init__.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#364 Generalize Model Size Code
  test/integration/test_integration.py
  torchao/_models/llama/generate.py
  torchao/utils.py
Labels: CLA Signed

#373 use pytorch version env variable
  requirements.txt
  setup.py
Labels: CLA Signed

#382 Fix inductor config BC change
  test/integration/test_integration.py
Labels: CLA Signed

#363 Refactor custom FPx cast
  test/prototype/test_fp6_llm.py
  torchao/prototype/custom_fp_utils.py
  torchao/prototype/mx_formats/benchmarks/bench_qdq.py
  torchao/prototype/mx_formats/custom_cast.py
Labels: CLA Signed

#369 Remove all dependencies except torch
  .github/workflows/doc_build.yml
  .github/workflows/nightly_smoke_test.yml
  .github/workflows/regression_test.yml
  README.md
  dev-requirements.txt
  requirements.txt
  setup.py
  torchao/__init__.py
  torchao/utils.py
Labels: CLA Signed

#390 Update pre_build_script.sh
  packaging/post_build_script.sh
  packaging/pre_build_script.sh
  packaging/smoke_test.py
Labels: CLA Signed

#389 Enable a test for loading state_dict with tensor subclasses
  test/quantization/test_quant_api.py
  torchao/dtypes/aqt.py
  torchao/quantization/README.md
Labels: CLA Signed

#372 073 scripts for benchmarks
  .gitignore
  scripts/convert_hf_checkpoint.py
  scripts/download.py
  scripts/prepare.sh
  test/quantization/test_quant_api.py
  torchao/_models/llama/README.md
  torchao/_models/llama/benchmarks.sh
Labels: CLA Signed

#374 eval script for llama
  torchao/_models/llama/eval.py
  torchao/quantization/GPTQ.py
Labels: CLA Signed

#282 Added first bits of Uint2Tensor and BitnetTensor
  test/dtypes/test_bitnet.py
  test/dtypes/test_uint2.py
  test/prototype/test_bitpacking_gen.py
  torchao/dtypes/__init__.py
  torchao/prototype/dtypes/__init__.py
  torchao/prototype/dtypes/bitnet.py
  torchao/prototype/dtypes/uint2.py
  torchao/prototype/dtypes/uintgen.py
Labels: CLA Signed

#362 Add WOQ int8 test with Inductor Freeze
  test/integration/test_integration.py
Labels: CLA Signed

#396 Add support for building CUDA extension on Windows
  benchmarks/benchmark_fp6_llm.py
  setup.py
  torchao/csrc/cuda/fp6_llm/kernel_matmul.cuh
  torchao/csrc/cuda/fp6_llm/ptx_mma.cuh
  torchao/csrc/cuda/fp6_llm/utils_core.cuh
  torchao/csrc/cuda/fp6_llm/utils_gmem.cuh
  torchao/csrc/cuda/fp6_llm/utils_parallel_dequant.cuh
Labels: CLA Signed

#395 fixing scripts
  scripts/convert_hf_checkpoint.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
Labels: CLA Signed

#392 New README
  README.md
Labels: CLA Signed

#401 Minor README updates
  README.md
Labels: CLA Signed

#397 Add repr method on tensor subclass
  torchao/dtypes/aqt.py
Labels: CLA Signed

#398 Benchmarking updates for semi-structured sparse training
  benchmarks/benchmark_semi_sparse.py
  benchmarks/benchmark_semi_sparse_training.py
  benchmarks/xformers_benchmark_utils.py
  torchao/sparsity/training/README.md
Labels: CLA Signed

#388 Add trymerge
  .github/merge_rules.yaml
  .github/pytorch-probot.yml
  .github/scripts/github_utils.py
  .github/scripts/gitutils.py
  .github/scripts/label_utils.py
  .github/scripts/trymerge.py
  .github/scripts/trymerge_explainer.py
  .github/workflows/trymerge.yml
Labels: CLA Signed

#361 077 autoquant gpt fast
  test/integration/test_integration.py
  torchao/_models/llama/benchmark_results.txt
  torchao/_models/llama/benchmarks.sh
  torchao/_models/llama/generate.py
  torchao/quantization/README.md
  torchao/quantization/autoquant.py
Labels: CLA Signed

#403 add FSDP QLoRA test and revert failing PR
  test/dtypes/test_nf4.py
  torchao/dtypes/nf4tensor.py
Labels: CLA Signed

#409 Fix github CI error
  .github/workflows/regression_test.yml
Labels: CLA Signed

#400 Refactor the API for quant method argument for quantize function
  README.md
  test/dtypes/test_affine_quantized.py
  test/integration/test_integration.py
  test/quantization/test_quant_api.py
  torchao/__init__.py
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/quantization/README.md
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
  tutorials/quantize_vit/run_vit_b_quant.py
Labels: CLA Signed

#413 Fix missing dependencies in trymerge workflow
  .github/workflows/trymerge.yml
Labels: CLA Signed

#416 Setup trymerge secrets
  .github/workflows/trymerge.yml
Labels: CLA Signed

#414 eval script fixes
  test/quantization/test_quant_api.py
  torchao/_models/_eval.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/_models/llama/tokenizer.py
  torchao/quantization/GPTQ.py
  torchao/quantization/__init__.py
  torchao/quantization/autoquant.py
Labels: CLA Signed

#367 Add `quantize` to doc page
  docs/source/api_ref_dtypes.rst
  docs/source/api_ref_quantization.rst
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#424 Add link to new custom op tutorial
  torchao/csrc/README.md
Labels: CLA Signed

#431 fix mx triton kernel after PyTorch triton pin change
  .github/workflows/regression_test.yml
  torchao/prototype/mx_formats/custom_cast.py
Labels: CLA Signed

#433 Bug fix for TORCH_VERSION_AFTER_* importation
  benchmarks/benchmark_aq.py
  benchmarks/intmm.py
Labels: CLA Signed

#438 Update README.md benchmarks
  README.md
Labels: CLA Signed

#423 adding default inductor config settings
  test/integration/test_integration.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/quantization/README.md
  torchao/quantization/autoquant.py
  torchao/quantization/quant_api.py
  torchao/quantization/utils.py
Labels: CLA Signed

#440 Some missing fixes left from previous PRs
  torchao/dtypes/affine_quantized_tensor.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#441 Fix f-string typo
  torchao/quantization/utils.py
Labels: CLA Signed

#445 Update quantization README.md
  torchao/quantization/README.md
Labels: CLA Signed

#448 RS migration - trymerge to upload merge records to s3
  .github/scripts/trymerge.py
  .github/workflows/trymerge.yml
  .gitignore
Labels: CLA Signed, Merged

#447 Update installation instructions
  README.md
Labels: CLA Signed

#450 Fix typo in Quant-LLM
  torchao/prototype/quant_llm/quant_llm.py
Labels: CLA Signed

#452 Add validations to torchao #1
  .github/scripts/validate_binaries.sh
  .github/workflows/validate-binaries.yml
  test/smoke_tests/smoke_tests.py
Labels: CLA Signed

#453 Add validations to torchao
  .github/scripts/validate_binaries.sh
  .github/workflows/validate-binaries.yml
  test/smoke_tests/smoke_tests.py
Labels: CLA Signed

#454 Validations followup, enable cuda and disable rocm
  .github/workflows/validate-binaries.yml
Labels: CLA Signed, module: rocm, ciflow/rocm

#449 remove torch dependency
  packaging/pre_build_script.sh
  setup.py
  torchao/prototype/mx_formats/custom_cast.py
  version.txt
Labels: CLA Signed

#455 Fix crash when PYTORCH_VERSION is not defined
  packaging/pre_build_script.sh
Labels: CLA Signed

#459 Update installation Docs
  README.md
Labels: CLA Signed

#460 Add Blogs and Videos section
  README.md
Labels: CLA Signed
