Repository pytorch/ao, pull requests merged in 2024-09, with the labels that each got.

#746 [Low-bit optim] Add Llama2-7B finetune benchmarks
  torchao/prototype/low_bit_optim/README.md
Labels: CLA Signed

#755 [low-bit optim] Fix Adam4bit support on PyTorch 2.3 and 2.4. Update AdamFp8 torch requirement
  test/prototype/test_low_bit_optim.py
  torchao/prototype/low_bit_optim/README.md
  torchao/prototype/low_bit_optim/adam.py
Labels: CLA Signed

#790 Pin PT version: Fix FPX Inductor error
  .github/workflows/regression_test.yml
Labels: CLA Signed

#794 Add performance section to float8 README.md
  torchao/float8/README.md
Labels: CLA Signed

#783 Allow quantized linear registration in a different file
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/utils.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#769 Fixed the llama model
  test/test_ao_models.py
  torchao/_models/llama/model.py
Labels: CLA Signed

#797 Add 2bit packing routines
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_bitpacking.cpp
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_linear.cpp
  torchao/experimental/kernels/cpu/aarch64/bitpacking/bitpack.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint2.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_bitpacking.cpp
Labels: CLA Signed, fb-exported

#798 Add 5bit packing routines
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_bitpacking.cpp
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_linear.cpp
  torchao/experimental/kernels/cpu/aarch64/bitpacking/bitpack.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint5.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_bitpacking.cpp
Labels: CLA Signed, fb-exported

#799 [NF4] Freeze dataclass | prep for better pt2 support
  torchao/dtypes/nf4tensor.py
Labels: CLA Signed

#784 Move more utils to TorchAOBaseTensor
  test/prototype/test_low_bit_optim.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/fpx/fpx.py
  torchao/dtypes/uintx/Uintx.py
  torchao/dtypes/utils.py
  torchao/prototype/low_bit_optim/subclass_4bit.py
  torchao/prototype/low_bit_optim/subclass_8bit.py
  torchao/prototype/low_bit_optim/subclass_fp8.py
  torchao/prototype/quantized_training/int8.py
  torchao/quantization/linear_activation_quantized_tensor.py
  torchao/quantization/prototype/qat/affine_fake_quantized_tensor.py
  torchao/sparsity/prototype/superblock/blocksparse.py
  torchao/utils.py
  tutorials/developer_api_guide/my_dtype_tensor_subclass.py
Labels: CLA Signed

#782 Add more information to quantized linear module and added some logs
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/quantization/README.md
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed

#581 Add Auto-Round support
  test/prototype/test_autoround.py
  torchao/_models/llama/benchmarks.sh
  torchao/_models/llama/generate.py
  torchao/_models/llama/model.py
  torchao/prototype/autoround/README.md
  torchao/prototype/autoround/__init__.py
  torchao/prototype/autoround/autoround_llm.py
  torchao/prototype/autoround/core.py
  torchao/prototype/autoround/eval_autoround.py
  torchao/prototype/autoround/multi_tensor.py
  torchao/prototype/autoround/requirements.txt
  torchao/prototype/autoround/run_example.sh
  torchao/prototype/autoround/utils.py
Labels: CLA Signed

#734 make f8 roofline script calculate observed overhead
  benchmarks/float8/bench_matmul.py
  benchmarks/float8/float8_roofline.py
  benchmarks/float8/utils.py
Labels: CLA Signed

#808 [Float8] Make Inference and Training code independent
  ruff.toml
  test/float8/test_base.py
  test/float8/test_everything.sh
  test/float8/test_inference_flows.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/float8/float8_python_api.py
  torchao/float8/float8_tensor.py
  torchao/float8/inference.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#804 int4 fixes and improvements
  README.md
  test/integration/test_integration.py
  torchao/_models/llama/README.md
  torchao/_models/llama/benchmark_results.txt
  torchao/_models/llama/benchmarks.sh
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/dtypes/fpx/fpx.py
  torchao/quantization/GPTQ.py
  torchao/quantization/README.md
  torchao/quantization/__init__.py
  torchao/quantization/autoquant.py
  torchao/quantization/quant_api.py
  torchao/quantization/utils.py
Labels: CLA Signed

#809 make float8 README.md examples standalone
  torchao/float8/README.md
Labels: CLA Signed

#813 adding kv cache quantization to READMEs
  README.md
  torchao/_models/llama/README.md
  torchao/quantization/README.md
Labels: CLA Signed

#814 Update README.md
  torchao/quantization/README.md
Labels: CLA Signed

#812 [Low-bit optim] Improve compile time + Fix PyTorch 2.3 support for 4-bit optim
  test/prototype/test_low_bit_optim.py
  torchao/prototype/low_bit_optim/README.md
  torchao/prototype/low_bit_optim/adam.py
Labels: CLA Signed

#811 Add uintx quant to generate and eval
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/quantization/README.md
Labels: CLA Signed

#815 [StaticQuant] Update how block_size is calculated with Observers
  test/quantization/test_observer.py
  torchao/quantization/observer.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed

#817 Update version.txt to 0.6.0
  version.txt
Labels: CLA Signed

#780 Lowbit custom torch op
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/CMakeLists.txt
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/build_custom_op.sh
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/run_custom_op.py
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/torch_custom_op.cpp
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/torch_custom_op.py
Labels: CLA Signed, fb-exported

#807 [StaticQuant] add a linear observer class and test
  ruff.toml
  test/quantization/test_observer.py
  torchao/quantization/linear_activation_weight_observer.py
  torchao/quantization/observer.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed

#621 Add sparse marlin AQT layout
  test/sparsity/test_marlin.py
  test/sparsity/test_sparse_api.py
  test/test_ops.py
  torchao/_models/llama/benchmark_results.txt
  torchao/_models/llama/benchmarks.sh
  torchao/_models/llama/generate.py
  torchao/_models/sam/benchmark.sh
  torchao/_models/sam/eval_combo.py
  torchao/_models/sam/results.csv
  torchao/csrc/cuda/sparse_marlin/marlin_kernel_nm.cu
  torchao/csrc/sparse_marlin.cpp
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/quantization/README.md
  torchao/quantization/quant_api.py
  torchao/sparsity/README.md
  torchao/sparsity/marlin/README.md
  torchao/sparsity/marlin/__init__.py
  torchao/sparsity/marlin/utils.py
  torchao/sparsity/utils.py
Labels: CLA Signed

#824 fix readme
  torchao/quantization/prototype/mixed_precision/README.md
Labels: CLA Signed

#825 Update docs + add deprecation warning
  README.md
  docs/static/supported_sparsity_patterns.png
  test/dtypes/test_affine_quantized.py
  test/sparsity/test_sparse_api.py
  torchao/_models/sam/eval_combo.py
  torchao/quantization/quant_api.py
  torchao/sparsity/README.md
  torchao/sparsity/sparse_api.py
Labels: CLA Signed

#786 Expose hqq through `uintx_weight_only` API
  test/hqq/test_hqq_affine.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/quantization/README.md
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed

#826 Unbreak build after #621
  torchao/dtypes/affine_quantized_tensor.py
Labels: CLA Signed

#827 Lint fixes #1 torchao/dtypes
  ruff.toml
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/fpx/__init__.py
  torchao/dtypes/fpx/fpx.py
  torchao/dtypes/uint4.py
  torchao/dtypes/uintx/Uintx.py
  torchao/dtypes/uintx/bitpacking.py
  torchao/dtypes/utils.py
Labels: CLA Signed

#822 Create build-wheels-m1.yml
  .github/workflows/build-wheels-m1.yml
Labels: CLA Signed

#836 Revert "Lint fixes #1 torchao/dtypes"
  ruff.toml
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/fpx/__init__.py
  torchao/dtypes/fpx/fpx.py
  torchao/dtypes/uint4.py
  torchao/dtypes/uintx/Uintx.py
  torchao/dtypes/uintx/bitpacking.py
  torchao/dtypes/utils.py
Labels: CLA Signed

#819 [Float8Quant] Add rowwise scaling option to float8 dyanmic quant
  ruff.toml
  test/dtypes/test_affine_quantized_float.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/float8/inference.py
  torchao/quantization/observer.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#805 Update the way scale is calculated for affine Symmetric
  test/quantization/test_qat.py
  test/quantization/test_quant_primitives.py
  torchao/quantization/GPTQ.py
  torchao/quantization/quant_primitives.py
  torchao/quantization/utils.py
Labels: CLA Signed

#823 Update README
  README.md
  torchao/quantization/README.md
Labels: CLA Signed

#842 Don't run mac builds per commit
  .github/workflows/build-wheels_m1.yml
Labels: CLA Signed

#852 fix syntax error in eval_combo.py
  torchao/_models/sam/eval_combo.py
Labels: CLA Signed

#849 Update README.md
  README.md
Labels: CLA Signed

#828 Add 2, 3, 4, 5 bit custom ops
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/run_custom_op.py
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/torch_custom_op.cpp
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/torch_custom_op.py
Labels: CLA Signed, fb-exported

#845 Add symmetric quantization with no clipping error in the tensor subclass based API
  test/quantization/test_quant_api.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#839 Add test util for basic tensor subclass functionalities
  torchao/testing/utils.py
Labels: CLA Signed

#861 add CI to disallow syntax errors and undefined vars in all Python files
  .github/workflows/ruff_linter.yml
  benchmarks/benchmark_gpu_sparsity.py
  benchmarks/float8/bench_matmul.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/quantization/prototype/mixed_precision/scripts/BO_acc_modelsize.py
  torchao/quantization/prototype/mixed_precision/scripts/BO_acc_throughput.py
  torchao/quantization/subclass.py
  torchao/sparsity/prototype/superblock/evaluate.py
  torchao/sparsity/prototype/superblock/utils.py
  tutorials/developer_api_guide/my_dtype_tensor_subclass.py
Labels: CLA Signed

#843 Revert "Pin PT version: Fix FPX Inductor error"
  .github/workflows/regression_test.yml
  test/dtypes/test_bitnet.py
  test/integration/test_integration.py
Labels: CLA Signed

#867 README and benchmark improvements
  torchao/_models/llama/README.md
  torchao/_models/llama/benchmark_results.txt
  torchao/_models/llama/benchmarks.sh
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/quantization/README.md
  torchao/sparsity/README.md
Labels: CLA Signed, benchmark

#835 [FSDP2] cast scale to float32 in precompute
  torchao/float8/fsdp_utils.py
Labels: CLA Signed

#865 Fix tutorial example for my dtype tensor subclass
  tutorials/developer_api_guide/my_dtype_tensor_subclass.py
Labels: CLA Signed

#877 Renaming fpx to floatx
  README.md
  benchmarks/benchmark_fp6.py
  test/dtypes/test_floatx.py
  test/dtypes/test_uintx.py
  test/test_ops.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/floatx/README.md
  torchao/dtypes/floatx/__init__.py
  torchao/dtypes/floatx/floatx.py
  torchao/dtypes/fpx/__init__.py
  torchao/dtypes/uintx/uintx.py
  torchao/ops.py
  torchao/prototype/README.md
  torchao/prototype/custom_fp_utils.py
  torchao/prototype/mx_formats/custom_cast.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed

#874 readme-updates
  torchao/sparsity/prototype/superblock/README.md
Labels: CLA Signed

#869 [Float8] Add static constructor that will be used in Observer workflow
  ruff.toml
  test/dtypes/test_affine_quantized_float.py
  torchao/float8/__init__.py
  torchao/quantization/observer.py
  torchao/quantization/quant_api.py
  torchao/quantization/weight_tensor_linear_activation_quantization.py
Labels: CLA Signed, float8, inference

#885 Fix inference_mode
  torchao/dtypes/affine_quantized_tensor.py
  torchao/quantization/linear_activation_quantized_tensor.py
Labels: CLA Signed

#868 Move `autoround` from `generate.py` to `eval.py`
  torchao/_models/llama/benchmarks.sh
  torchao/_models/llama/eval.py
  torchao/_models/llama/evals.sh
  torchao/_models/llama/generate.py
Labels: CLA Signed

#887 Switch back to supported CI runners
  .github/workflows/float8_test.yml
Labels: CLA Signed

#859 Add out-variants to support ET export
  torchao/experimental/kernels/cpu/linear/channelwise_8bit_activation_groupwise_lowbit_weight-impl.h
  torchao/experimental/kernels/cpu/linear/channelwise_8bit_activation_groupwise_lowbit_weight.h
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/CMakeLists.txt
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/build_custom_op.sh
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/lowbit_op-impl.h
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/lowbit_op_aten.cpp
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/lowbit_op_executorch/w2s.cpp
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/lowbit_op_executorch/w2sz.cpp
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/lowbit_op_executorch/w3s.cpp
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/lowbit_op_executorch/w3sz.cpp
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/lowbit_op_executorch/w4s.cpp
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/lowbit_op_executorch/w4sz.cpp
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/lowbit_op_executorch/w5s.cpp
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/lowbit_op_executorch/w5sz.cpp
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/run_custom_op.py
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/test_custom_op.py
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/torch_custom_op.cpp
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/torch_custom_op.py
  torchao/experimental/kernels/cpu/macro.h
  torchao/experimental/kernels/cpu/memory.h
  torchao/experimental/kernels/cpu/parallel-aten-impl.h
  torchao/experimental/kernels/cpu/parallel-openmp-impl.h
  torchao/experimental/kernels/cpu/parallel-pthreadpool-impl.h
  torchao/experimental/kernels/cpu/parallel-single_threaded-impl.h
  torchao/experimental/kernels/cpu/parallel-test_dummy-impl.h
Labels: CLA Signed, fb-exported

#895 Update README.md for float8 unification
  torchao/float8/README.md
Labels: CLA Signed

#896 Update README.md for float8 inference
  torchao/quantization/README.md
Labels: CLA Signed

#901 move float8 inference README contents to prototype section
  torchao/quantization/README.md
Labels: CLA Signed

#870 Enhance Auto-Round
  torchao/_models/llama/eval.py
  torchao/prototype/autoround/README.md
  torchao/prototype/autoround/autoround_llm.py
  torchao/prototype/autoround/core.py
  torchao/prototype/autoround/eval_autoround.py
  torchao/prototype/autoround/utils.py
Labels: CLA Signed

#902 Add example code for printing the operator and shapes in a model
  tutorials/developer_api_guide/print_op_and_shapes.py
Labels: CLA Signed

#903 Update README.md
  torchao/quantization/README.md
Labels: CLA Signed

#908 Add tutorial for trainable tensor subclass
  tutorials/developer_api_guide/__init__.py
  tutorials/developer_api_guide/my_dtype_tensor_subclass.py
  tutorials/developer_api_guide/my_trainable_tensor_subclass.py
Labels: CLA Signed

#911 Introducing 1-bit quantization for Llama in torchchat (#910)
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_bitpacking.cpp
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_linear.cpp
  torchao/experimental/kernels/cpu/aarch64/bitpacking/bitpack.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint1.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint5.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_bitpacking.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils.h
Labels: CLA Signed, fb-exported

#909 Rename Floating point to fp8
  torchao/dtypes/affine_quantized_tensor.py
Labels: CLA Signed

#918 [float8] fix typo in bitwise_identical unit test
  test/float8/test_base.py
Labels: CLA Signed

#785 Adding example for quantized tensor + tensor parallelism
  tutorials/developer_api_guide/my_dtype_tensor_subclass.py
  tutorials/developer_api_guide/my_trainable_tensor_subclass.py
  tutorials/developer_api_guide/tensor_parallel.py
Labels: CLA Signed

#925 rename cuda mode -> gpu mode
  README.md
Labels: CLA Signed

#926 Add workaround to recover the perf for quantized vit in torch.compile
  tutorials/quantize_vit/run_vit_b_quant.py
Labels: CLA Signed

#923 clean up device checks in float8 unit test files
  test/float8/test_base.py
  test/float8/test_compile.py
Labels: CLA Signed

#927 [low-bit optim] Change 8-bit and FP8 optim block size from 2048 to 256 to match new bnb v0.44
  test/prototype/test_low_bit_optim.py
  torchao/prototype/low_bit_optim/README.md
  torchao/prototype/low_bit_optim/adam.py
  torchao/prototype/low_bit_optim/subclass_8bit.py
  torchao/prototype/low_bit_optim/subclass_fp8.py
Labels: CLA Signed

#866 Float8 autoquant weight only
  test/integration/test_integration.py
  test/kernel/test_autotuner.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/kernel/intmm.py
  torchao/quantization/autoquant.py
Labels: CLA Signed

#931 Fix failing FP6 benchmark
  benchmarks/benchmark_fp6.py
Labels: CLA Signed

#937 [Distributed] Improve sharding example
  tutorials/developer_api_guide/tensor_parallel.py
Labels: CLA Signed

#943 Refactor benchmarking code to remove duplicate code
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_bitpacking.cpp
Labels: CLA Signed, fb-exported

#938 Add composable QAT quantizer
  test/quantization/test_qat.py
  torchao/quantization/prototype/qat/__init__.py
  torchao/quantization/prototype/qat/api.py
  torchao/quantization/unified.py
Labels: CLA Signed

#912 Fix fp8-all-gather buck errors
  test/float8/test_fsdp2/test_fsdp2.py
  torchao/testing/__init__.py
  torchao/testing/float8/__init__.py
  torchao/testing/float8/fsdp2_utils.py
Labels: CLA Signed, fb-exported

#897 Add torchchat quantizer
  torchao/experimental/kernels/cpu/aarch64/CMakeLists.txt
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/CMakeLists.txt
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/build_custom_op.sh
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/run_custom_op.py
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/test_custom_op.py
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/test_int8_dyn_act_intx_weight_quantizer.py
  torchao/experimental/kernels/cpu/linear/examples/torch_custom_op/torch_custom_op.py
  torchao/experimental/quant_api.py
Labels: CLA Signed, fb-exported

#906 Add compile tests to test suite
  torchao/testing/utils.py
Labels: CLA Signed

#933 [float8] all-reduce amax on dp mesh instead of global pg
  test/float8/test_fsdp2/test_fsdp2.py
  torchao/float8/float8_scaling_utils.py
  torchao/float8/float8_utils.py
  torchao/float8/fsdp_utils.py
Labels: CLA Signed

#821 int8 dynamic quant + bsr support
  test/sparsity/test_sparse_api.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/sparsity/prototype/superblock/README.md
  torchao/sparsity/prototype/superblock/benchmark.py
  torchao/sparsity/prototype/superblock/benchmark.sh
  torchao/sparsity/prototype/superblock/benchmark_results.txt
  torchao/sparsity/prototype/superblock/blocksparse.py
  torchao/sparsity/prototype/superblock/evaluate.py
  torchao/sparsity/prototype/superblock/evaluate.sh
  torchao/sparsity/prototype/superblock/evaluation_results.txt
  torchao/sparsity/prototype/superblock/presets.py
  torchao/sparsity/prototype/superblock/sampler.py
  torchao/sparsity/prototype/superblock/train.py
  torchao/sparsity/prototype/superblock/transforms.py
  torchao/sparsity/prototype/superblock/utils.py
  torchao/sparsity/sparse_api.py
Labels: CLA Signed

#941 fixing some issues with our support for 70/405B models
  scripts/convert_hf_checkpoint.py
  scripts/download.py
  torchao/_models/llama/model.py
Labels: CLA Signed

#950 Update INT8 mixed-precision training test to be less flaky
  test/prototype/test_quantized_training.py
Labels: CLA Signed

#953 Add executorch parallel
  torchao/experimental/CMakeLists.txt
  torchao/experimental/Utils.cmake
  torchao/experimental/build_torchao_ops.sh
  torchao/experimental/kernels/cpu/aarch64/CMakeLists.txt
  torchao/experimental/ops/linear/CMakeLists.txt
  torchao/experimental/ops/linear/channelwise_8bit_activation_groupwise_lowbit_weight.cpp
  torchao/experimental/ops/linear/linear_a8wxdq_op/CMakeLists.txt
  torchao/experimental/ops/parallel-executorch-impl.h
  torchao/experimental/ops/parallel.h
Labels: CLA Signed, fb-exported

#949 Move op definition for custom kernel from C++ to Python
  torchao/csrc/README.md
  torchao/csrc/fp6_llm.cpp
  torchao/csrc/sparse_marlin.cpp
  torchao/csrc/tensor_core_tiled_layout.cpp
  torchao/ops.py
Labels: CLA Signed

#956 Change n, k, group_size tensors to have no elements
  torchao/experimental/ops/linear/linear_a8wxdq_op/linear_a8wxdq-impl.h
  torchao/experimental/quant_api.py
  torchao/experimental/tests/test_int8_dyn_act_intx_weight_quantizer.py
Labels: CLA Signed, fb-exported

#939 Supporting tensor parallelism for int8 weight only quant
  test/dtypes/test_affine_quantized.py
  test/dtypes/test_affine_quantized_tensor_parallel.py
  torchao/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/testing/utils.py
  torchao/utils.py
  tutorials/developer_api_guide/my_dtype_tensor_subclass.py
  tutorials/developer_api_guide/tensor_parallel.py
Labels: CLA Signed

#944 Refactor bitpacking benchmark to merge benchmarking code
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_bitpacking.cpp
Labels: CLA Signed, fb-exported

#964 Run CI for gh branches
  .github/workflows/doc_build.yml
  .github/workflows/float8_test.yml
  .github/workflows/regression_test.yml
  .github/workflows/ruff_linter.yml
Labels: CLA Signed

#884 Fix WOQ int8 failures
  test/integration/test_integration.py
  torchao/quantization/README.md
Labels: CLA Signed

#942 SM75 (Turing) support for FP6 kernel
  benchmarks/benchmark_fp6.py
  torchao/csrc/cuda/fp6_llm/fp6_linear.cu
  torchao/csrc/cuda/fp6_llm/kernel_matmul.cuh
  torchao/csrc/cuda/fp6_llm/ptx_mma.cuh
  torchao/csrc/cuda/fp6_llm/utils_gmem.cuh
  torchao/dtypes/floatx/README.md
Labels: CLA Signed

#971 [low-bit optim] Update docs on supported platforms and caveats
  torchao/prototype/low_bit_optim/README.md
Labels: CLA Signed

#934 Add new evaluation metrics
  torchao/_models/llama/evals.sh
Labels: CLA Signed

#978 Change op names to linear_8bit_act_xbit_weight
  torchao/experimental/CMakeLists.txt
  torchao/experimental/ops/benchmarks/CMakeLists.txt
  torchao/experimental/ops/benchmarks/benchmark_linear_8bit_act_xbit_weight.cpp
  torchao/experimental/ops/benchmarks/build_and_run_benchmarks.sh
  torchao/experimental/ops/linear/CMakeLists.txt
  torchao/experimental/ops/linear/linear_a8wxdq_op/CMakeLists.txt
  torchao/experimental/ops/linear_8bit_act_xbit_weight/CMakeLists.txt
  torchao/experimental/ops/linear_8bit_act_xbit_weight/examples/CMakeLists.txt
  torchao/experimental/ops/linear_8bit_act_xbit_weight/examples/Linear8BitActXBitWeightOperator.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/examples/build_and_run_examples.sh
  torchao/experimental/ops/linear_8bit_act_xbit_weight/examples/separate_function_wrappers.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/examples/stateful_class_wrapper.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight-impl.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_aten.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w2s.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w2sz.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w3s.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w3sz.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w4s.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w4sz.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w5s.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w5sz.cpp
  torchao/experimental/ops/tests/CMakeLists.txt
  torchao/experimental/ops/tests/build_and_run_tests.sh
  torchao/experimental/ops/tests/test_linear_8bit_act_xbit_weight.cpp
  torchao/experimental/tests/test_linear_8bit_act_xbit_weight_quantizer.py
Labels: CLA Signed, fb-exported

#980 Add arm neon guards
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_bitpacking.cpp
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_quantization.cpp
  torchao/experimental/kernels/cpu/aarch64/bitpacking/bitpack.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint1.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint2.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint3.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint4.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint5.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x1x32_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x4x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x8x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_prepare_activation_data_1xk_f32-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/linear.h
  torchao/experimental/kernels/cpu/aarch64/quantization/quantize.cpp
  torchao/experimental/kernels/cpu/aarch64/quantization/quantize.h
  torchao/experimental/kernels/cpu/aarch64/reduction/compute_sum.cpp
  torchao/experimental/kernels/cpu/aarch64/reduction/find_min_and_max.cpp
  torchao/experimental/kernels/cpu/aarch64/reduction/reduction.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_bitpacking.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_linear.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_quantization.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_reduction.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight-impl.h
Labels: CLA Signed, fb-exported

#973 no lintrunner
  .lintrunner.toml
  requirements-lintrunner.txt
Labels: CLA Signed
