Repository pytorch/ao, pull requests merged in 2024-07, with the labels that each got.

#451 refactor _replace_linear_8da4w
  torchao/quantization/GPTQ.py
Labels: CLA Signed, Merged

#465 Revert "Add semi-structured sparse perf/accuracy benchmarks for SAM"
  README.md
  benchmarks/benchmark_sam.py
  scripts/sam/.gitignore
  scripts/sam/README.md
  scripts/sam/benchmark.sh
  scripts/sam/data.py
  scripts/sam/eval_combo.py
  scripts/sam/flash_4_configs.p
  scripts/sam/metrics.py
  scripts/sam/results.csv
  scripts/sam/setup.sh
  torchao/sparsity/README.md
  torchao/sparsity/prototype/dynamic_quant_sparse.py
  torchao/sparsity/sparse_api.py
Labels: CLA Signed

#457 Add segment-anything-fast perf/acc benchmarks to torchao
  README.md
  benchmarks/benchmark_sam.py
  scripts/sam/.gitignore
  scripts/sam/README.md
  scripts/sam/benchmark.sh
  scripts/sam/data.py
  scripts/sam/eval_combo.py
  scripts/sam/flash_4_configs.p
  scripts/sam/metrics.py
  scripts/sam/results.csv
  scripts/sam/setup.sh
  torchao/sparsity/README.md
  torchao/sparsity/prototype/dynamic_quant_sparse.py
  torchao/sparsity/sparse_api.py
Labels: CLA Signed, Merged

#434 Add decorator for custom op and inductor decomp registration
  test/integration/test_integration.py
  torchao/quantization/quant_primitives.py
  torchao/utils.py
Labels: CLA Signed

#463 8-bit Adam
  benchmarks/benchmark_adam_8bit.py
  test/prototype/test_optim_8bit.py
  torchao/prototype/README.md
  torchao/prototype/optim_8bit/README.md
  torchao/prototype/optim_8bit/__init__.py
  torchao/prototype/optim_8bit/adam.py
  torchao/prototype/optim_8bit/adamw.py
  torchao/prototype/optim_8bit/subclass.py
Labels: CLA Signed

#469 Add more docs for int4_weight_only API that targets tinygemm
  torchao/quantization/README.md
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed

#472 Change print() to logging in Quantizer so that the caller can have control
  torchao/quantization/GPTQ.py
Labels: CLA Signed

#475 Accept device for Int8DynActInt4WeightQuantizer
  torchao/quantization/GPTQ.py
Labels: CLA Signed

#444 Better error message for lm_eval script
  scripts/hf_eval.py
Labels: CLA Signed

#471 Fix an import after previous refactor
  torchao/dtypes/affine_quantized_tensor.py
Labels: CLA Signed

#467 Renaming `quantize` to `quantize_`
  README.md
  test/integration/test_integration.py
  test/prototype/test_quant_llm.py
  test/quantization/test_quant_api.py
  torchao/__init__.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/prototype/quant_llm/README.md
  torchao/quantization/README.md
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
  tutorials/quantize_vit/run_vit_b_quant.py
Labels: CLA Signed

#415 [FEAT] Add custom CUDA `tinygemm` unpacker
  test/test_ops.py
  torchao/csrc/cuda/tensor_core_tiled_layout/tensor_core_tiled_layout.cu
  torchao/csrc/tensor_core_tiled_layout.cpp
  torchao/ops.py
Labels: CLA Signed

#476 Remove unused code
  torchao/quantization/smoothquant.py
Labels: CLA Signed

#473 Add sparsify API to torchao
  README.md
  scripts/sam/eval_combo.py
  test/sparsity/test_sparse_api.py
  torchao/sparsity/__init__.py
  torchao/sparsity/prototype/dynamic_quant_sparse.py
  torchao/sparsity/sparse_api.py
Labels: CLA Signed

#480 fix torchtune in Genie
  torchao/utils.py
Labels: CLA Signed, fb-exported

#479 Allow Int4WeightOnlyQuantizer to set different dtype for scales_and_zeros
  torchao/quantization/GPTQ.py
  torchao/quantization/utils.py
Labels: CLA Signed

#478 Add 4-bit Adam
  benchmarks/benchmark_low_bit_adam.py
  test/prototype/test_low_bit_optim.py
  test/prototype/test_optim_8bit.py
  torchao/prototype/README.md
  torchao/prototype/low_bit_optim/README.md
  torchao/prototype/low_bit_optim/__init__.py
  torchao/prototype/low_bit_optim/adam.py
  torchao/prototype/low_bit_optim/adamw.py
  torchao/prototype/low_bit_optim/subclass_4bit.py
  torchao/prototype/low_bit_optim/subclass_8bit.py
  torchao/prototype/optim_8bit/README.md
  torchao/prototype/optim_8bit/__init__.py
Labels: CLA Signed

#481 Update low-bit Adam benchmark
  benchmarks/benchmark_low_bit_adam.py
  torchao/prototype/low_bit_optim/README.md
Labels: CLA Signed

#482 Add FP8 Adam
  benchmarks/benchmark_low_bit_adam.py
  test/prototype/test_low_bit_optim.py
  torchao/prototype/low_bit_optim/README.md
  torchao/prototype/low_bit_optim/__init__.py
  torchao/prototype/low_bit_optim/adam.py
  torchao/prototype/low_bit_optim/adamw.py
  torchao/prototype/low_bit_optim/subclass_fp8.py
Labels: CLA Signed

#486 Enable `model.to(device)` for int8 weight only quantized model
  test/quantization/test_quant_api.py
  torchao/dtypes/affine_quantized_tensor.py
Labels: CLA Signed

#427 Update HF_TOKEN env variable
  .github/workflows/nightly_smoke_test.yml
  .github/workflows/regression_test.yml
Labels: CLA Signed

#489 Remove sparse test collection warning
  test/sparsity/test_fast_sparse_training.py
Labels: CLA Signed

#488 [i will merge] Upgrade pytorch version to 3.9
  .github/workflows/regression_test.yml
  README.md
Labels: CLA Signed

#406 Added support to benchmark_model for cpu and mps
  test/integration/test_integration.py
  torchao/utils.py
Labels: CLA Signed, Merged

#496 Update calls to `quantize_` everywhere
  docs/source/api_ref_quantization.rst
  scripts/hf_eval.py
  scripts/sam/eval_combo.py
  torchao/quantization/README.md
Labels: CLA Signed

#497 Add a test for map_location="cpu"
  test/quantization/test_quant_api.py
Labels: CLA Signed

#505 pin nightly to 2.5.0.dev20240709+cu121
  .github/workflows/regression_test.yml
  test/dtypes/test_uint4.py
Labels: CLA Signed

#484 Add FSDP2 support for low-bit optimizers
  test/prototype/test_low_bit_optim.py
  torchao/prototype/low_bit_optim/README.md
  torchao/prototype/low_bit_optim/adam.py
  torchao/prototype/low_bit_optim/adamw.py
  torchao/prototype/low_bit_optim/quant_utils.py
  torchao/prototype/low_bit_optim/subclass_4bit.py
  torchao/prototype/low_bit_optim/subclass_8bit.py
  torchao/prototype/low_bit_optim/subclass_fp8.py
Labels: CLA Signed

#509 fix infer_schema bc change
  torchao/utils.py
Labels: CLA Signed

#491 Refactor layout implementation
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/utils.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#510 Revert "pin nightly to 2.5.0.dev20240709+cu121"
  .github/workflows/regression_test.yml
  test/dtypes/test_affine_quantized.py
  test/integration/test_integration.py
  test/test_ops.py
Labels: CLA Signed

#499 Test ghimport land
  torchao/__init__.py
Labels: CLA Signed

#500 Add cachemask variant for fake_quantize_affine
  test/quantization/test_quant_primitives.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed

#521 Skip int4 QAT tests for nightly for now
  test/quantization/test_qat.py
Labels: CLA Signed

#520 Add more logs to `TensorCoreTiledAQTLayout`
  torchao/dtypes/affine_quantized_tensor.py
Labels: CLA Signed

#487 Add static quantization as an example for calibration flow
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/prototype/quant_llm/quant_llm.py
  torchao/quantization/quant_api.py
  tutorials/calibration_flow/static_quant.py
Labels: CLA Signed

#522 Fix the impl for `to` for int4 weight only use case
  test/quantization/test_quant_api.py
  torchao/dtypes/affine_quantized_tensor.py
Labels: CLA Signed

#524 Add doc for serialization/deserialization of torchao optimized models
  docs/source/index.rst
  docs/source/serialization.rst
Labels: CLA Signed

#523 Test codev flow
  torchao/__init__.py
Labels: CLA Signed

#518 Parallel test with pytest-xdist
  .github/workflows/regression_test.yml
  dev-requirements.txt
  pytest.ini
  test/dtypes/test_nf4.py
  test/integration/test_integration.py
  test/prototype/test_low_bit_optim.py
Labels: CLA Signed

#526 Revert "Parallel test with pytest-xdist"
  .github/workflows/regression_test.yml
  dev-requirements.txt
  pytest.ini
  test/dtypes/test_nf4.py
  test/integration/test_integration.py
  test/prototype/test_low_bit_optim.py
Labels: CLA Signed

#525 Fix serialization doc display
  docs/source/index.rst
  docs/source/serialization.rst
Labels: CLA Signed

#527 Refactor QAT to use common fake_quantize_affine primitive
  test/quantization/test_qat.py
  torchao/quantization/prototype/qat.py
  torchao/quantization/quant_api.py
  torchao/quantization/utils.py
Labels: CLA Signed

#537 [test] Fix regression tests
  .github/workflows/regression_test.yml
Labels: CLA Signed

#536 Fixing cuda device check
  test/quantization/test_quant_api.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/utils.py
Labels: CLA Signed

#538 Improve FSDP support for low-bit optimizers
  test/prototype/test_low_bit_optim.py
  torchao/prototype/low_bit_optim/adam.py
  torchao/prototype/low_bit_optim/adamw.py
  torchao/prototype/low_bit_optim/subclass_4bit.py
  torchao/prototype/low_bit_optim/subclass_8bit.py
  torchao/prototype/low_bit_optim/subclass_fp8.py
Labels: CLA Signed

#498 Implement sparsity as a AQT Layout
  README.md
  scripts/sam/benchmark.sh
  scripts/sam/eval_combo.py
  scripts/sam/results.csv
  test/sparsity/test_sparse_api.py
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
  torchao/sparsity/__init__.py
  torchao/sparsity/prototype/dynamic_quant_sparse.py
  torchao/sparsity/sparse_api.py
Labels: CLA Signed

#542 Refactor LinearActQuantizedTensor
  test/quantization/test_quant_api.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/utils.py
  torchao/prototype/low_bit_optim/subclass_4bit.py
  torchao/prototype/low_bit_optim/subclass_8bit.py
  torchao/prototype/low_bit_optim/subclass_fp8.py
  torchao/prototype/quant_llm/quant_llm.py
  torchao/quantization/README.md
  torchao/quantization/__init__.py
  torchao/quantization/linear_activation_quantized_tensor.py
  torchao/quantization/quant_api.py
  torchao/quantization/subclass.py
  tutorials/calibration_flow/static_quant.py
Labels: CLA Signed

#544 dont let dynamo inline inside of NF4 constructors or __torch_dispatch__
  torchao/dtypes/nf4tensor.py
Labels: CLA Signed

#517 Fix int4pack_mm error
  test/dtypes/test_affine_quantized.py
  test/integration/test_integration.py
  test/quantization/test_quant_api.py
  test/quantization/test_quant_primitives.py
  test/test_ops.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/prototype/hqq/hqq_tinygemm_linear.py
  torchao/quantization/utils.py
Labels: CLA Signed

#552 [int4-quant] Execute weights shuffling on CPU until MPS memory issue is resolved
  torchao/quantization/utils.py
Labels: CLA Signed

#534 [int8 woq] make the scale type the same as input for bf16 autocast
  torchao/dtypes/affine_quantized_tensor.py
Labels: CLA Signed

#551 move float8_experimental to torchao/float8
  README.md
  benchmarks/float8/bench_linear_float8.py
  benchmarks/float8/bench_matmul.py
  benchmarks/float8/bench_multi_gpu.py
  benchmarks/float8/bench_padding.py
  benchmarks/float8/profile_linear_float8.py
  benchmarks/float8/utils.py
  test/float8/test_base.py
  test/float8/test_compile.py
  test/float8/test_dtensor.py
  test/float8/test_dtensor.sh
  test/float8/test_everything.sh
  test/float8/test_fsdp.py
  test/float8/test_fsdp.sh
  test/float8/test_fsdp2/fsdp2_common.py
  test/float8/test_fsdp2/test_fsdp2.py
  test/float8/test_fsdp_compile.py
  test/float8/test_fsdp_compile.sh
  test/float8/test_inference_flows.py
  test/float8/test_numerics_integration.py
  torchao/float8/README.md
  torchao/float8/__init__.py
  torchao/float8/config.py
  torchao/float8/distributed_utils.py
  torchao/float8/float8_aten_api.py
  torchao/float8/float8_linear.py
  torchao/float8/float8_linear_utils.py
  torchao/float8/float8_ops.py
  torchao/float8/float8_python_api.py
  torchao/float8/float8_scaling_utils.py
  torchao/float8/float8_tensor.py
  torchao/float8/float8_tensor_parallel.py
  torchao/float8/float8_utils.py
  torchao/float8/fsdp_utils.py
  torchao/float8/inference.py
Labels: CLA Signed

#555 Refactor QAT into its own module
  test/quantization/test_qat.py
  torchao/quantization/prototype/qat/__init__.py
  torchao/quantization/prototype/qat/api.py
  torchao/quantization/prototype/qat/utils.py
Labels: CLA Signed

#557 Update README.md for float8 to new feature tracker
  torchao/float8/README.md
Labels: CLA Signed

#558 Pin nightly torch==2.5.0.dev20240728
  .github/workflows/regression_test.yml
Labels: CLA Signed

#547 Add git version suffix to package name
  setup.py
Labels: CLA Signed

#583 Update README.md
  README.md
Labels: CLA Signed
