Repository pytorch/ao, pull requests merged in 2024-12, with the labels that each got.

#1356 Update hardware check conditions
  test/dtypes/test_affine_quantized.py
  test/dtypes/test_affine_quantized_float.py
  test/float8/test_base.py
  test/float8/test_compile.py
  test/float8/test_fsdp2/test_fsdp2.py
  test/float8/test_fsdp2/test_fsdp2_fp8_comm_only.py
  test/float8/test_numerics_integration.py
  test/integration/test_integration.py
  test/kernel/test_autotuner.py
  test/prototype/mx_formats/test_mx_linear.py
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/quantization/quant_api.py
  torchao/utils.py
Labels: CLA Signed, topic: not user facing, topic: for developers

#1359 Lint fixes test/quantization
  ruff.toml
  test/quantization/test_galore_quant.py
  test/quantization/test_marlin_qqq.py
  test/quantization/test_qat.py
  test/quantization/test_quant_api.py
  test/quantization/test_quant_primitives.py
Labels: CLA Signed, topic: not user facing

#1360 Lint fixes test sparsity
  ruff.toml
  test/sparsity/test_fast_sparse_training.py
  test/sparsity/test_marlin.py
  test/sparsity/test_wanda.py
Labels: CLA Signed, topic: not user facing

#1354 add option to use SAC in float8 training profiling script
  benchmarks/float8/profile_linear_float8.py
Labels: CLA Signed, topic: not user facing

#1339 check `scale.ndim` before applying `t`/`transpose`
  test/float8/test_base.py
  torchao/float8/float8_ops.py
Labels: CLA Signed, topic: improvement

#1364 bump main version to 0.8
  version.txt
Labels: CLA Signed, topic: not user facing

#1366 Lint fixes torchao files
  ruff.toml
  torchao/_executorch_ops.py
  torchao/ops.py
Labels: CLA Signed, topic: not user facing

#1367 Fix find_multiple import in GPTQ.py
  torchao/quantization/GPTQ.py
Labels: CLA Signed, topic: not user facing

#1368 Lint fixes torchao/profiler and torchao/testing
  ruff.toml
  torchao/profiler/__init__.py
  torchao/testing/float8/dtensor_utils.py
  torchao/testing/float8/fsdp2_utils.py
  torchao/testing/float8/test_utils.py
  torchao/testing/utils.py
Labels: CLA Signed, topic: not user facing

#1369 Fix bfloat16/float16/float32 options
  examples/sam2_amg_server/server.py
  torchao/_models/llama/generate.py
  torchao/prototype/quantization/autoquant_v2.py
  torchao/quantization/autoquant.py
Labels: CLA Signed, topic: bug fix

#1370 Move profiler -> prototype
  test/prototype/test_device_spec.py
  test/prototype/test_performance_counter.py
  test/prototype/utils.py
  torchao/_models/llama/perf_profile.py
  torchao/prototype/profiler/__init__.py
  torchao/prototype/profiler/device_spec.py
  torchao/prototype/profiler/performance_counter.py
  torchao/prototype/profiler/utils.py
Labels: CLA Signed, topic: not user facing

#1374 SAM2 AMG load_fast fix
  examples/sam2_amg_server/server.py
Labels: CLA Signed

#1140 Add TTFT benchmarks + update sparsity benchmarks
  scripts/prepare.sh
  test/prototype/test_sparse_api.py
  torchao/_models/llama/benchmarks.sh
  torchao/_models/llama/generate.py
  torchao/dtypes/uintx/semi_sparse_layout.py
Labels: CLA Signed, benchmark, topic: new feature, topic: performance

#1377 [float8] Re-enable slow-accum in the bwd of axis-wise scaling schemes
  torchao/float8/config.py
  torchao/float8/float8_python_api.py
Labels: CLA Signed, topic: performance

#1378 [float8] Allow specifying arbitrary dtype for each tensor
  test/float8/test_base.py
  test/float8/test_compile.py
  test/float8/test_dtensor.py
  torchao/float8/config.py
  torchao/float8/float8_linear.py
  torchao/float8/float8_linear_utils.py
  torchao/float8/float8_scaling_utils.py
  torchao/float8/float8_tensor.py
  torchao/float8/float8_tensor_parallel.py
  torchao/float8/float8_utils.py
  torchao/float8/fsdp_utils.py
Labels: CLA Signed, topic: new feature

#1380 Add script to pre-process raw release notes
  scripts/clean_release_notes.py
Labels: CLA Signed, topic: not user facing

#1386 SAM2: video_profile.py
  examples/sam2_amg_server/video_profile.py
  torchao/_models/sam2/build_sam.py
  torchao/_models/sam2/modeling/backbones/image_encoder.py
  torchao/_models/sam2/modeling/position_encoding.py
  torchao/_models/sam2/modeling/sam/transformer.py
  torchao/_models/sam2/modeling/sam2_base.py
  torchao/_models/sam2/sam2_video_predictor.py
Labels: CLA Signed, topic: improvement

#1385 Move MarlinQQQTensor out of AQT
  torchao/dtypes/README.md
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/dtypes/uintx/__init__.py
  torchao/dtypes/uintx/marlin_qqq_tensor.py
Labels: CLA Signed, topic: for developers

#1391 update test-infra to release version
  .github/workflows/build-wheels_m1.yml
  .github/workflows/build_wheels_aarch64_linux.yml
  .github/workflows/build_wheels_linux.yml
  .github/workflows/build_wheels_windows.yml
Labels: CLA Signed, topic: not user facing

#1337 Update SAM AMG README with more descriptive install instructions
  examples/sam2_amg_server/README.md
  torchao/_models/sam2/configs/sam2/sam2_hiera_b+.yaml
  torchao/_models/sam2/configs/sam2/sam2_hiera_s.yaml
  torchao/_models/sam2/configs/sam2/sam2_hiera_t.yaml
Labels: CLA Signed, topic: improvement

#1398 Add llama benchmark run to GHA
  .github/workflows/dashboard_perf_test.yml
  torchao/_models/llama/generate.py
Labels: CLA Signed, topic: not user facing

#1392 Add exhaustive config option to intmm kernel
  torchao/_models/sam/eval_combo.py
  torchao/kernel/README.md
  torchao/kernel/intmm.py
  torchao/kernel/intmm_triton.py
  torchao/prototype/quantization/autoquant_v2.py
  torchao/quantization/__init__.py
  torchao/quantization/autoquant.py
Labels: CLA Signed, topic: not user facing

#1400 Fix a bug in LinearActivationQuantizedTensor
  test/dtypes/test_affine_quantized_tensor_parallel.py
  torchao/quantization/linear_activation_quantized_tensor.py
Labels: CLA Signed, topic: bug fix

#1399 Add marlin and semi sparse + quant option to autoquant
  torchao/_models/llama/generate.py
  torchao/_models/sam/eval_combo.py
  torchao/quantization/__init__.py
  torchao/quantization/autoquant.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: not user facing

#1395 SAM2 video batching
  examples/sam2_amg_server/video_profile.py
  torchao/_models/sam2/map_tensor.py
  torchao/_models/sam2/modeling/backbones/image_encoder.py
  torchao/_models/sam2/sam2_video_predictor.py
Labels: CLA Signed, topic: improvement

#1404 Enable ciflow/benchmark
  .github/pytorch-probot.yml
  .github/workflows/dashboard_perf_test.yml
Labels: CLA Signed, topic: not user facing

#1409 Update index.rst
  docs/source/index.rst
Labels: topic: documentation, CLA Signed

#1322 metal lowbit kernels: executorch ops
  torchao/experimental/kernels/mps/codegen/gen_metal_shader_lib.py
  torchao/experimental/kernels/mps/src/MetalShaderLibrary.h
  torchao/experimental/kernels/mps/src/OperationUtils.h
  torchao/experimental/kernels/mps/src/OperationUtils.mm
  torchao/experimental/kernels/mps/src/common.h
  torchao/experimental/kernels/mps/src/lowbit.h
  torchao/experimental/kernels/mps/test/Makefile
  torchao/experimental/kernels/mps/test/test_lowbit.mm
  torchao/experimental/ops/mps/CMakeLists.txt
  torchao/experimental/ops/mps/linear_fp_act_xbit_weight_aten.mm
  torchao/experimental/ops/mps/linear_fp_act_xbit_weight_executorch.mm
  torchao/experimental/ops/mps/test/test_lowbit.py
  torchao/experimental/ops/mps/test/test_quantizer.py
  torchao/experimental/quant_api.py
Labels: CLA Signed, fb-exported, topic: not user facing

#1410 metal lowbit kernels: glob metal files in CMakeLists
  torchao/experimental/ops/mps/CMakeLists.txt
Labels: CLA Signed, topic: not user facing

#1416 Clarify how users should fix ruff errors
  .github/workflows/ruff_linter.yml
Labels: CLA Signed, topic: not user facing

#1417 Add back mistakenly deleted QAT BC import test
  test/quantization/test_qat.py
Labels: CLA Signed, topic: not user facing

#1034 gemlite integration in torchao
  test/dtypes/test_affine_quantized_tensor_parallel.py
  test/integration/test_integration.py
  torchao/_models/llama/benchmarks.sh
  torchao/_models/llama/generate.py
  torchao/_models/llama/model.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/dtypes/uintx/gemlite_layout.py
  torchao/quantization/README.md
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed, topic: new feature

#1401 Expose zero_point_domain as arguments
  test/dtypes/test_affine_quantized.py
  test/quantization/test_quant_primitives.py
  torchao/quantization/README.md
  torchao/quantization/quant_api.py
  torchao/quantization/utils.py
Labels: CLA Signed

#1407 Add dashboard metric support for sam and sam2 benchmarks
  .github/workflows/dashboard_perf_test.yml
  dev-requirements.txt
  examples/sam2_amg_server/server.py
  scripts/convert_hf_checkpoint.py
  scripts/download_sam2_ckpts.sh
  scripts/run_ruff_fix.sh
  torchao/_models/llama/generate.py
  torchao/_models/sam/eval_combo.py
  torchao/_models/sam/setup.sh
  torchao/_models/sam2/build_sam.py
  torchao/_models/utils.py
  torchao/prototype/quantization/autoquant_v2.py
  torchao/prototype/quantization/subgraph_utils/__init__.py
  torchao/quantization/autoquant.py
Labels: CLA Signed, topic: not user facing, ciflow/benchmark

#1423 Fix error message in float8 FSDP utils
  torchao/float8/fsdp_utils.py
Labels: CLA Signed, topic: bug fix

#1299 [WIP] Codebook quantization flow
  test/prototype/test_codebook_quant.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/prototype/quantization/codebook/__init__.py
  torchao/prototype/quantization/codebook/codebook_ops.py
  torchao/prototype/quantization/codebook/codebook_quantized_tensor.py
  torchao/quantization/README.md
Labels: CLA Signed, topic: not user facing, topic: new feature

#1428 [float8nocompile] Initial commit of float8nocompile prototype
  torchao/prototype/float8nocompile/.gitignore
  torchao/prototype/float8nocompile/README.md
  torchao/prototype/float8nocompile/float8nocompile_linear.py
  torchao/prototype/float8nocompile/float8nocompile_linear_utils.py
Labels: CLA Signed, topic: not user facing

#1426 Add local optoin for output json file
  examples/sam2_amg_server/server.py
  torchao/_models/llama/generate.py
  torchao/_models/sam/eval_combo.py
  torchao/_models/utils.py
Labels: CLA Signed, topic: not user facing

#1430 [ez] Use noquant to make dashboard logic easier
  examples/sam2_amg_server/server.py
  torchao/_models/llama/generate.py
  torchao/_models/sam/eval_combo.py
  torchao/_models/sam2/build_sam.py
Labels: CLA Signed, topic: not user facing

#1265 Fixes observer attachment to model based on config for wanda sparsifier
  test/sparsity/test_wanda.py
  torchao/sparsity/wanda.py
Labels: CLA Signed, topic: bug fix

#1429 [float8nocompile] Simplified Float8Linear implementation which only supports dynamic tensorwise scaling
  torchao/prototype/float8nocompile/.gitignore
  torchao/prototype/float8nocompile/examples/example.py
  torchao/prototype/float8nocompile/float8nocompile_linear.py
  torchao/prototype/float8nocompile/float8nocompile_linear_utils.py
  torchao/prototype/float8nocompile/float8nocompile_scaling_utils.py
Labels: CLA Signed, topic: not user facing

#1435 [resubmit] Gemlite fix
  test/integration/test_integration.py
  torchao/dtypes/uintx/gemlite_layout.py
Labels: CLA Signed, topic: bug fix

#1422 metal lowbit kernels: optimized 2-bit, 3-bit and 4-bit shaders
  torchao/experimental/kernels/mps/metal.yaml
  torchao/experimental/kernels/mps/metal/common.metal
  torchao/experimental/kernels/mps/metal/divbit.metal
  torchao/experimental/kernels/mps/metal/int1mm.metal
  torchao/experimental/kernels/mps/metal/int2mm_opt.metal
  torchao/experimental/kernels/mps/metal/int3mm_opt.metal
  torchao/experimental/kernels/mps/metal/int4mm_opt.metal
  torchao/experimental/kernels/mps/metal/int5mm.metal
  torchao/experimental/kernels/mps/metal/int6mm.metal
  torchao/experimental/kernels/mps/metal/int7mm.metal
  torchao/experimental/kernels/mps/src/dispatch.h
  torchao/experimental/kernels/mps/src/lowbit.h
  torchao/experimental/kernels/mps/test/test_lowbit.mm
  torchao/experimental/ops/mps/linear_fp_act_xbit_weight_aten.mm
  torchao/experimental/ops/mps/linear_fp_act_xbit_weight_executorch.mm
  torchao/experimental/ops/mps/test/test_lowbit.py
  torchao/experimental/ops/mps/test/test_quantizer.py
Labels: CLA Signed, topic: not user facing

#1438 fix local float8 tests on H100
  test/float8/test_base.py
Labels: CLA Signed, topic: not user facing

#1277 [2/2] Switch ao to use py_limited_api
  setup.py
Labels: CLA Signed, topic: for developers

#1446 Set the url to pytorch/ao and clean up some duplication
  setup.py
Labels: CLA Signed, topic: not user facing

#1443 pytorch/ao/test/quantization
  test/quantization/test_quant_api.py
Labels: CLA Signed, fb-exported, topic: not user facing

#1440 pytorch/ao/tutorials/developer_api_guide
  tutorials/developer_api_guide/export_to_executorch.py
Labels: CLA Signed, fb-exported, topic: not user facing

#1442 pytorch/ao/torchao/experimental/ops/mps/test
  torchao/experimental/ops/mps/test/test_quantizer.py
Labels: CLA Signed, fb-exported

#1439 refactor: move delayed and static scaling to StatefulFloat8Linear
  test/float8/test_base.py
  test/float8/test_compile.py
  torchao/float8/__init__.py
  torchao/float8/float8_linear.py
  torchao/float8/float8_linear_utils.py
  torchao/float8/float8_utils.py
  torchao/float8/fsdp_utils.py
  torchao/float8/stateful_float8_linear.py
Labels: CLA Signed, topic: not user facing

#1441 pytorch/ao/torchao/experimental/tests
  torchao/experimental/tests/test_embedding_xbit_quantizer.py
  torchao/experimental/tests/test_linear_8bit_act_xbit_weight_quantizer.py
  torchao/experimental/tests/test_linear_int8_dynamic_activation_intx_weight_subclass.py
Labels: CLA Signed, fb-exported, topic: not user facing

#1444 pytorch/ao/test/integration
  test/integration/test_integration.py
Labels: CLA Signed, fb-exported, topic: not user facing

#1445 [float8nocompile]: Triton kernels for conversion to float8 dtypes for forward pass of Float8LinearNoCompile
  torchao/prototype/float8nocompile/.gitignore
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise.py
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise_test.py
Labels: CLA Signed, topic: not user facing

#1451 for now, delete the float8-all-gather-only functionality from float8 …
  test/float8/test_fsdp2/test_fsdp2_fp8_comm_only.py
  test/quantization/test_quant_api.py
  torchao/float8/config.py
  torchao/float8/float8_linear.py
  torchao/testing/float8/fsdp2_utils.py
Labels: CLA Signed, topic: bc-breaking

#1434 [float8nocompile] Add unit tests validating model outputs, weight gradients, input gradients match expected values
  torchao/prototype/float8nocompile/float8nocompile_linear.py
  torchao/prototype/float8nocompile/test/test.py
Labels: CLA Signed, topic: not user facing

#1452 [float8nocompile]: Wrap fp8 conversion kernels in autograd func and use in Float8NoCompileLinear
  torchao/prototype/float8nocompile/float8nocompile_linear.py
  torchao/prototype/float8nocompile/float8nocompile_scaling_utils.py
Labels: CLA Signed, topic: not user facing

#1454 float8nocompile: add benchmark script
  torchao/prototype/float8nocompile/benchmark/benchmark.py
Labels: CLA Signed, topic: not user facing

#1449 Add gemlite kernel option to autoquant
  torchao/_models/llama/generate.py
  torchao/dtypes/uintx/gemlite_layout.py
  torchao/quantization/__init__.py
  torchao/quantization/autoquant.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: not user facing

#1455 [float8nocompile] Add alternate Triton kernels for FP8 conversion which use atomic_max-based algo instead of reduction-based algo
  torchao/prototype/float8nocompile/benchmark/benchmark.py
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise.py
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise_test.py
Labels: CLA Signed, topic: not user facing

#1459 [float8nocompile] Make Float8Linear fp8 conversion kernel used configurable and update benchmarking code to compare both kernels
  torchao/prototype/float8nocompile/benchmark/benchmark.py
  torchao/prototype/float8nocompile/float8nocompile_linear.py
  torchao/prototype/float8nocompile/float8nocompile_linear_utils.py
  torchao/prototype/float8nocompile/float8nocompile_scaling_utils.py
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise.py
Labels: CLA Signed, topic: not user facing

#1436 int8 dynamic prefill weight only decode
  scripts/prepare.sh
  torchao/_models/llama/.gitignore
  torchao/_models/llama/demo_summarize.sh
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: improvement, topic: performance
