Repository pytorch/ao, pull requests merged in 2024-08, with the labels that each got.

#531 mixed-precision quantization milestone1: naive_intNwo + eval/benchmark framework
  test/quantization/test_mixed_precision.py
  torchao/quantization/prototype/mixed_precision/__init__.py
  torchao/quantization/prototype/mixed_precision/scripts/__init__.py
  torchao/quantization/prototype/mixed_precision/scripts/mp_quant_eval.py
  torchao/quantization/prototype/mixed_precision/scripts/naive_intNwo.py
Labels: CLA Signed

#586 Allow `benchmark_model` to accept args and kwargs
  benchmarks/benchmark_aq.py
  test/integration/test_integration.py
  torchao/quantization/README.md
  torchao/utils.py
  tutorials/quantize_vit/run_vit_b.py
  tutorials/quantize_vit/run_vit_b_quant.py
Labels: CLA Signed

#532 adding kv_cache quantization
  torchao/_models/llama/benchmark_results.txt
  torchao/_models/llama/benchmarks.sh
  torchao/_models/llama/generate.py
  torchao/_models/llama/model.py
Labels: CLA Signed

#588 Add developer guide code to tutorials
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/utils.py
  torchao/prototype/low_bit_optim/subclass_4bit.py
  torchao/prototype/low_bit_optim/subclass_8bit.py
  torchao/prototype/low_bit_optim/subclass_fp8.py
  torchao/prototype/quant_llm/quant_llm.py
  torchao/quantization/linear_activation_quantized_tensor.py
  tutorials/developer_api_guide.py
Labels: CLA Signed

#591 move sam eval from `scripts` to `torchao/_models`
  README.md
  torchao/_models/sam/.gitignore
  torchao/_models/sam/README.md
  torchao/_models/sam/benchmark.sh
  torchao/_models/sam/data.py
  torchao/_models/sam/eval_combo.py
  torchao/_models/sam/flash_4_configs.p
  torchao/_models/sam/metrics.py
  torchao/_models/sam/results.csv
  torchao/_models/sam/setup.sh
  torchao/sparsity/README.md
Labels: CLA Signed

#590 [float8] fix all-gather in 2D with DTensor(WeightWithDynamicFloat8CastTensor)
  test/float8/test_dtensor.py
  torchao/float8/fsdp_utils.py
Labels: CLA Signed

#593 Unpin nightly version
  .github/workflows/regression_test.yml
  test/integration/test_integration.py
  test/sparsity/test_sparse_api.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/_models/sam/eval_combo.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/quantization/README.md
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
  torchao/quantization/utils.py
  tutorials/quantize_vit/run_vit_b_quant.py
Labels: CLA Signed

#595 Fix FP6-LLM API and add `.to(device)` op
  test/prototype/test_quant_llm.py
  torchao/prototype/quant_llm/quant_llm.py
Labels: CLA Signed

#598 Unpin nightly version (#593)
  .github/workflows/regression_test.yml
  scripts/sam/eval_combo.py
  test/integration/test_integration.py
  test/sparsity/test_sparse_api.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/quantization/README.md
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
  torchao/quantization/utils.py
  tutorials/quantize_vit/run_vit_b_quant.py
Labels: CLA Signed

#599 Fix FP6-LLM API and add .to(device) op
  test/prototype/test_quant_llm.py
  torchao/prototype/quant_llm/quant_llm.py
Labels: CLA Signed

#600 bump version.txt
  version.txt
Labels: CLA Signed

#597 Add QAT README
  torchao/quantization/prototype/qat/README.md
  torchao/quantization/prototype/qat/images/qat_diagram.png
Labels: CLA Signed

#596 QOL improvements to float8 gemm benchmark
  benchmarks/float8/bench_matmul.py
Labels: CLA Signed

#584 Optimizer CPU offload for single GPU training
  benchmarks/benchmark_low_bit_adam.py
  test/prototype/test_low_bit_optim.py
  torchao/prototype/low_bit_optim/README.md
  torchao/prototype/low_bit_optim/__init__.py
  torchao/prototype/low_bit_optim/cpu_offload.py
Labels: CLA Signed

#604 Update serialization.rst to include get_model_size_in_bytes import
  docs/source/serialization.rst
Labels: CLA Signed

#592 add sensitivity analysis tool for layer-wise FIT and Hessian trace
  torchao/quantization/prototype/mixed_precision/scripts/fit.py
  torchao/quantization/prototype/mixed_precision/scripts/hessian_grad.py
  torchao/quantization/prototype/mixed_precision/scripts/hessian_vhp.py
Labels: CLA Signed

#612 skip test cases that rely on pt 2.5
  test/integration/test_integration.py
  test/prototype/test_low_bit_optim.py
  test/sparsity/test_structured_sparsifier.py
Labels: CLA Signed

#608 testing ghstack direct, part 2
  test/float8/test_base.py
Labels: CLA Signed

#613 Fix inference tests and add export test
  test/float8/test_inference_flows.py
Labels: CLA Signed

#619 Update README.md
  torchao/quantization/README.md
Labels: CLA Signed

#617 reduce atol/rtol for stable tests.
  test/sparsity/test_structured_sparsifier.py
Labels: CLA Signed

#620 fix version check
  torchao/quantization/autoquant.py
Labels: CLA Signed

#622 Fixing linear_activation_tensor dynamic quant
  torchao/quantization/linear_activation_quantized_tensor.py
Labels: CLA Signed

#582 Move lowbit universal kernels from torchaccel to torchao
  torchao/experimental/kernels/cpu/aarch64/benchmarks/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_bitpacking.cpp
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_linear.cpp
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_quantization.cpp
  torchao/experimental/kernels/cpu/aarch64/bitpacking/bitpack.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/macro.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint3.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint4.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x1x32_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x4x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x8x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_prepare_activation_data_1xk_f32-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/linear.h
  torchao/experimental/kernels/cpu/aarch64/quantization/quantize.cpp
  torchao/experimental/kernels/cpu/aarch64/quantization/quantize.h
  torchao/experimental/kernels/cpu/aarch64/reduction/compute_sum.cpp
  torchao/experimental/kernels/cpu/aarch64/reduction/find_min_and_max.cpp
  torchao/experimental/kernels/cpu/aarch64/reduction/reduction.h
  torchao/experimental/kernels/cpu/aarch64/tests/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/tests/test_bitpacking.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_linear.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_quantization.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_valpacking.cpp
  torchao/experimental/kernels/cpu/aarch64/valpacking/interleave.cpp
  torchao/experimental/kernels/cpu/aarch64/valpacking/valpack.h
  torchao/experimental/kernels/cpu/build_and_run_benchmarks.sh
  torchao/experimental/kernels/cpu/build_and_run_tests.sh
Labels: CLA Signed, fb-exported

#553 Add support for save quantized checkpoint in llama code
  scripts/hf_eval.py
  torchao/_models/llama/generate.py
Labels: CLA Signed

#618 Update README.md
  torchao/quantization/README.md
Labels: CLA Signed

#615 update float8 benchmarks to be more useful for smaller shapes
  benchmarks/float8/bench_linear_float8.py
  benchmarks/float8/bench_matmul.py
  benchmarks/float8/profile_linear_float8.py
  benchmarks/float8/utils.py
Labels: CLA Signed

#468 Intx Quantization Tensor Class
  benchmarks/benchmark_bitpacking.py
  benchmarks/benchmark_uintx.py
  test/prototype/test_bitpacking.py
  test/prototype/test_uintx.py
  torchao/prototype/common/bitpacking.py
  torchao/prototype/uintx/Uintx.py
  torchao/prototype/uintx/__init__.py
  torchao/prototype/uintx/bitpacking.py
Labels: CLA Signed

#626 fixing bc for QAT location
  torchao/quantization/prototype/qat/__init__.py
Labels: CLA Signed

#587 Enable float8 CI on sm89
  .github/workflows/float8_test.yml
  test/float8/test_base.py
  test/float8/test_compile.py
  test/float8/test_fsdp.py
  test/float8/test_fsdp2/test_fsdp2.py
  test/float8/test_inference_flows.py
  test/float8/test_numerics_integration.py
Labels: CLA Signed

#609 autoquant using aqt
  test/integration/test_integration.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/quantization/autoquant.py
  torchao/quantization/linear_activation_quantized_tensor.py
Labels: CLA Signed

#629 float8 profiling script: filter out microbenchmarking overhead
  benchmarks/float8/profile_linear_float8.py
  benchmarks/float8/utils.py
Labels: CLA Signed

#638 Fix Inductor bench BC change
  torchao/quantization/autoquant.py
Labels: CLA Signed

#640 Skip failing inference test which requires change to PT core
  test/float8/test_inference_flows.py
Labels: CLA Signed

#641 [BC][internal-first] Cleanup BC fixes
  torchao/quantization/autoquant.py
Labels: CLA Signed

#636 Add CUDA compute capability compile guard
  torchao/csrc/cuda/fp6_llm/fp6_linear.cu
  torchao/csrc/cuda/tensor_core_tiled_layout/tensor_core_tiled_layout.cu
Labels: CLA Signed

#630 Add support for using AffineQuantizedTensor with `weights_only=True`
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/utils.py
  torchao/quantization/linear_activation_quantized_tensor.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed

#651 Re-enable dequant save load test
  test/integration/test_integration.py
Labels: CLA Signed

#653 skip fsdp2 low bit optim test in nightlies
  test/prototype/test_low_bit_optim.py
Labels: CLA Signed

#645 float8 profiling: save torch_logs, and attach them to profiling trace
  benchmarks/float8/profile_linear_float8.py
  benchmarks/float8/utils.py
Labels: CLA Signed

#659 fix bug with float8 + inference_mode
  test/float8/test_base.py
  torchao/float8/float8_ops.py
Labels: CLA Signed

#660 Add superblock to sparse/prototype
  torchao/sparsity/prototype/superblock/.gitignore
  torchao/sparsity/prototype/superblock/README.md
  torchao/sparsity/prototype/superblock/TRAINING.md
  torchao/sparsity/prototype/superblock/benchmark.py
  torchao/sparsity/prototype/superblock/evaluate.py
  torchao/sparsity/prototype/superblock/presets.py
  torchao/sparsity/prototype/superblock/sampler.py
  torchao/sparsity/prototype/superblock/supermask.py
  torchao/sparsity/prototype/superblock/train.py
  torchao/sparsity/prototype/superblock/transforms.py
  torchao/sparsity/prototype/superblock/utils.py
Labels: CLA Signed

#635 Move Uintx out of prototype for future extension
  README.md
  test/dtypes/test_bitpacking.py
  test/dtypes/test_uintx.py
  test/integration/test_integration.py
  torchao/dtypes/uintx/Uintx.py
  torchao/dtypes/uintx/__init__.py
  torchao/dtypes/uintx/bitpacking.py
  torchao/prototype/uintx/__init__.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#662 Spelling fixes
  test/dtypes/test_nf4.py
  torchao/dtypes/nf4tensor.py
  torchao/float8/inference.py
Labels: CLA Signed

#666 float8 gemm benchmarks: add option for gpu time
  benchmarks/float8/bench_matmul.py
  benchmarks/float8/profile_linear_float8.py
Labels: CLA Signed

#670 Add layout option to woq int4 api
  test/integration/test_integration.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, bc-breaking

#677 Remove numpy as bitpack dependency
  torchao/dtypes/uintx/bitpacking.py
Labels: CLA Signed

#650 Add AffineQuantizedObserver
  test/quantization/test_observer.py
  torchao/quantization/observer.py
  torchao/quantization/quant_primitives.py
  tutorials/calibration_flow/static_quant.py
Labels: CLA Signed

#634 Refactor `_quantized_linear` for better extensibility
  torchao/dtypes/affine_quantized_tensor.py
Labels: CLA Signed

#681 Move developer guide file to a folder
  tutorials/developer_api_guide/my_dtype_tensor_subclass.py
Labels: CLA Signed

#680 Add BSR subclass +torch.compile and clean up superblock
  torchao/sparsity/prototype/superblock/.gitignore
  torchao/sparsity/prototype/superblock/__init__.py
  torchao/sparsity/prototype/superblock/benchmark.py
  torchao/sparsity/prototype/superblock/blocksparse.py
  torchao/sparsity/prototype/superblock/evaluate.py
  torchao/sparsity/prototype/superblock/supermask.py
  torchao/sparsity/prototype/superblock/utils.py
Labels: CLA Signed

#684 Fix source version check
  test/test_utils.py
  torchao/utils.py
Labels: CLA Signed

#654 Add PyTorch 2.4 tests in CI
  .github/workflows/regression_test.yml
  test/float8/test_base.py
  test/float8/test_compile.py
  test/float8/test_dtensor.py
  test/float8/test_fsdp.py
  test/float8/test_fsdp2/test_fsdp2.py
  test/float8/test_fsdp_compile.py
  test/float8/test_inference_flows.py
  test/float8/test_numerics_integration.py
  test/integration/test_integration.py
  test/prototype/test_low_bit_optim.py
  test/quantization/test_qat.py
Labels: CLA Signed

#605 Add HQQ support
  test/hqq/test_hqq_affine.py
  test/integration/test_integration.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/prototype/hqq/example.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed

#688 add in formatting skip everything
  .github/workflows/ruff_linter.yml
  .pre-commit-config.yaml
  dev-requirements.txt
  ruff.toml
Labels: CLA Signed

#673 Update micro benchmarking code for AQT
  benchmarks/benchmark_aq.py
Labels: CLA Signed

#649 Update README.md
  torchao/quantization/README.md
Labels: CLA Signed

#690 [FEAT] Perf Profiler Update
  test/profiler/test_device_spec.py
  test/profiler/test_performance_counter.py
  test/profiler/utils.py
  torchao/_models/llama/perf_profile.py
  torchao/profiler/__init__.py
  torchao/profiler/device_spec.py
  torchao/profiler/performance_counter.py
  torchao/profiler/utils.py
Labels: CLA Signed

#644 Add experimental INT8 quantized training
  benchmarks/quantized_training/pretrain_llama2.py
  test/prototype/test_quantized_training.py
  torchao/prototype/low_bit_optim/__init__.py
  torchao/prototype/low_bit_optim/adam.py
  torchao/prototype/low_bit_optim/adamw.py
  torchao/prototype/quantized_training/README.md
  torchao/prototype/quantized_training/__init__.py
  torchao/prototype/quantized_training/int8.py
Labels: CLA Signed

#661 Remove torchao_nightly package
  .github/workflows/build_wheels_linux.yml
  setup.py
Labels: CLA Signed

#691 Refactor superblock code + add final benchmark / eval scripts
  test/sparsity/test_parametrization.py
  torchao/sparsity/prototype/sparsifier/utils.py
  torchao/sparsity/prototype/superblock/README.md
  torchao/sparsity/prototype/superblock/benchmark.py
  torchao/sparsity/prototype/superblock/blocksparse.py
  torchao/sparsity/prototype/superblock/evaluate.py
  torchao/sparsity/prototype/superblock/supermask.py
  torchao/sparsity/prototype/superblock/train.py
  torchao/sparsity/prototype/superblock/utils.py
Labels: CLA Signed

#692 Relax QAT dtype assertion
  test/quantization/test_qat.py
  torchao/quantization/prototype/qat/utils.py
Labels: CLA Signed

#699 Add option to move param to `device` before quantization
  test/quantization/test_quant_api.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#703 remove outdated TODO from config.py
  torchao/float8/config.py
Labels: CLA Signed

#192 added gpu benchmarking script
  benchmarks/benchmark_gpu_sparsity.py
  torchao/sparsity/utils.py
Labels: CLA Signed

#708 Add high-level operator interface
  torchao/experimental/kernels/cpu/aarch64/benchmarks/build_and_run_benchmarks.sh
  torchao/experimental/kernels/cpu/aarch64/bitpacking/bitpack.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x4x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x8x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/tests/build_and_run_tests.sh
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils.h
  torchao/experimental/kernels/cpu/linear/benchmarks/CMakeLists.txt
  torchao/experimental/kernels/cpu/linear/benchmarks/benchmark_linear_operator.cpp
  torchao/experimental/kernels/cpu/linear/benchmarks/build_and_run_benchmarks.sh
  torchao/experimental/kernels/cpu/linear/channelwise_8bit_activation_groupwise_lowbit_weight-impl.h
  torchao/experimental/kernels/cpu/linear/channelwise_8bit_activation_groupwise_lowbit_weight.h
  torchao/experimental/kernels/cpu/linear/examples/CMakeLists.txt
  torchao/experimental/kernels/cpu/linear/examples/Channelwise8BitActivationGroupwiseLowbitWeightLinearOperator.h
  torchao/experimental/kernels/cpu/linear/examples/build_and_run_examples.sh
  torchao/experimental/kernels/cpu/linear/examples/separate_function_wrappers.cpp
  torchao/experimental/kernels/cpu/linear/examples/stateful_class_wrapper.cpp
  torchao/experimental/kernels/cpu/linear/tests/CMakeLists.txt
  torchao/experimental/kernels/cpu/linear/tests/build_and_run_tests.sh
  torchao/experimental/kernels/cpu/linear/tests/test_linear_operator.cpp
  torchao/experimental/kernels/cpu/macro.h
  torchao/experimental/kernels/cpu/memory.h
  torchao/experimental/kernels/cpu/parallel.h
Labels: CLA Signed, fb-exported

#585 Refactor QAT to use tensor subclasses
  test/quantization/test_qat.py
  torchao/quantization/prototype/qat/__init__.py
  torchao/quantization/prototype/qat/affine_fake_quantized_tensor.py
  torchao/quantization/prototype/qat/api.py
  torchao/quantization/prototype/qat/utils.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#717 Bug fixes
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x4x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x8x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/reduction/compute_sum.cpp
  torchao/experimental/kernels/cpu/aarch64/reduction/find_min_and_max.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/tests/build_and_run_tests.sh
  torchao/experimental/kernels/cpu/aarch64/tests/test_linear.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_reduction.cpp
  torchao/experimental/kernels/cpu/linear/examples/build_and_run_examples.sh
  torchao/experimental/kernels/cpu/linear/tests/test_linear_operator.cpp
Labels: CLA Signed, fb-exported

#720 Update licenses in torchao/experimental
  torchao/experimental/kernels/cpu/aarch64/benchmarks/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_bitpacking.cpp
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_linear.cpp
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_quantization.cpp
  torchao/experimental/kernels/cpu/aarch64/benchmarks/build_and_run_benchmarks.sh
  torchao/experimental/kernels/cpu/aarch64/bitpacking/bitpack.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/macro.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint3.h
  torchao/experimental/kernels/cpu/aarch64/bitpacking/uint4.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x1x32_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x4x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x8x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_prepare_activation_data_1xk_f32-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/linear.h
  torchao/experimental/kernels/cpu/aarch64/quantization/quantize.cpp
  torchao/experimental/kernels/cpu/aarch64/quantization/quantize.h
  torchao/experimental/kernels/cpu/aarch64/reduction/compute_sum.cpp
  torchao/experimental/kernels/cpu/aarch64/reduction/find_min_and_max.cpp
  torchao/experimental/kernels/cpu/aarch64/reduction/reduction.h
  torchao/experimental/kernels/cpu/aarch64/tests/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/tests/build_and_run_tests.sh
  torchao/experimental/kernels/cpu/aarch64/tests/test_bitpacking.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_linear.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_quantization.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_reduction.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_valpacking.cpp
  torchao/experimental/kernels/cpu/aarch64/valpacking/interleave.cpp
  torchao/experimental/kernels/cpu/aarch64/valpacking/valpack.h
  torchao/experimental/kernels/cpu/linear/benchmarks/CMakeLists.txt
  torchao/experimental/kernels/cpu/linear/benchmarks/benchmark_linear_operator.cpp
  torchao/experimental/kernels/cpu/linear/benchmarks/build_and_run_benchmarks.sh
  torchao/experimental/kernels/cpu/linear/channelwise_8bit_activation_groupwise_lowbit_weight-impl.h
  torchao/experimental/kernels/cpu/linear/channelwise_8bit_activation_groupwise_lowbit_weight.h
  torchao/experimental/kernels/cpu/linear/examples/CMakeLists.txt
  torchao/experimental/kernels/cpu/linear/examples/Channelwise8BitActivationGroupwiseLowbitWeightLinearOperator.h
  torchao/experimental/kernels/cpu/linear/examples/build_and_run_examples.sh
  torchao/experimental/kernels/cpu/linear/examples/separate_function_wrappers.cpp
  torchao/experimental/kernels/cpu/linear/examples/stateful_class_wrapper.cpp
  torchao/experimental/kernels/cpu/macro.h
  torchao/experimental/kernels/cpu/memory.h
  torchao/experimental/kernels/cpu/parallel.h
Labels: CLA Signed, fb-exported

#722 Enable `to(device=device_name)` for `Uintx`
  test/dtypes/test_uintx.py
  torchao/dtypes/uintx/Uintx.py
Labels: CLA Signed

#723 torchao-nightly -> --pre torchao in README
  README.md
Labels: CLA Signed

#713 cast `local_scale_tensor` to fp32 for precompute of fp8 dynamic scaling
  test/float8/test_fsdp2/test_fsdp2.py
  torchao/float8/fsdp_utils.py
Labels: CLA Signed

#726 Fix affine quantized tensor to device calls
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/quantization/linear_activation_quantized_tensor.py
  torchao/utils.py
Labels: CLA Signed

#727 Specify output dtype to `torch.float32` in `_foreach_norm`
  torchao/float8/fsdp_utils.py
Labels: CLA Signed

#731 f8 roofline: make utils reusable
  benchmarks/float8/float8_roofline.py
  torchao/float8/roofline_utils.py
Labels: CLA Signed

#711 Small fix for micro benchmark code
  benchmarks/benchmark_aq.py
Labels: CLA Signed

#735 Fix docstring args names
  torchao/float8/float8_utils.py
  torchao/float8/inference.py
  torchao/ops.py
  torchao/quantization/prototype/mixed_precision/scripts/naive_intNwo.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed

#737 Move non-NF4 tensor to device prior to quantization on copy
  torchao/dtypes/nf4tensor.py
Labels: CLA Signed

#739 use `torch.compiler.is_compiling`
  torchao/float8/float8_linear_utils.py
Labels: CLA Signed

#736 Fix LR schedule handling for low-bit optimizers
  benchmarks/benchmark_low_bit_adam.py
  torchao/prototype/low_bit_optim/README.md
  torchao/prototype/low_bit_optim/__init__.py
  torchao/prototype/low_bit_optim/adam.py
  torchao/prototype/low_bit_optim/adamw.py
  torchao/prototype/low_bit_optim/subclass_4bit.py
  torchao/prototype/low_bit_optim/subclass_8bit.py
  torchao/prototype/low_bit_optim/subclass_fp8.py
Labels: CLA Signed

#733 Add sparse marlin 2:4 gemm op
  test/test_ops.py
  torchao/csrc/cuda/sparse_marlin/base.h
  torchao/csrc/cuda/sparse_marlin/marlin_kernel_nm.cu
  torchao/csrc/cuda/sparse_marlin/mem.h
  torchao/csrc/cuda/sparse_marlin/mma.h
  torchao/csrc/sparse_marlin.cpp
  torchao/ops.py
  torchao/sparsity/marlin/README.md
  torchao/sparsity/marlin/__init__.py
  torchao/sparsity/marlin/utils.py
  torchao/sparsity/utils.py
  torchao/utils.py
Labels: CLA Signed

#721 Example for GPTQ-like calibration flow
  torchao/quantization/linear_activation_quantized_tensor.py
  tutorials/calibration_flow/gptq_like.py
Labels: CLA Signed

#576 Add semi-structured sparsity to hf eval
  benchmarks/benchmark_semi_sparse_training.py
  scripts/hf_eval.py
  tutorials/huggingface_24sparse_example.py
Labels: CLA Signed

#672 Use `torch.uint1` to `torch.uint7` for Uintx tensor subclass
  test/dtypes/test_affine_quantized.py
  test/dtypes/test_uintx.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/uintx/Uintx.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed

#741 update README example with correct import of `sparsify_`
  README.md
Labels: CLA Signed

#742 Add AdamW to `CPUOffloadOptimizer` default
  torchao/prototype/low_bit_optim/cpu_offload.py
Labels: CLA Signed

#745 1 more doc revamp
  README.md
  torchao/quantization/README.md
Labels: CLA Signed

#747 README typos
  README.md
Labels: CLA Signed

#749 Make developer experience better for extending AQT
  torchao/dtypes/affine_quantized_tensor.py
  torchao/quantization/autoquant.py
Labels: CLA Signed

#756 Update version.txt
  version.txt
Labels: CLA Signed

#757 empathy day fixes
  README.md
Labels: CLA Signed

#738 Llama3.1 and kv_cache quantization
  scripts/prepare.sh
  torchao/_models/llama/benchmark_results.txt
  torchao/_models/llama/benchmarks.sh
  torchao/_models/llama/generate.py
  torchao/_models/llama/model.py
Labels: CLA Signed

#694 bayesian optimization tool for mixed precision quantization
  torchao/quantization/prototype/mixed_precision/scripts/BO_acc_modelsize.py
  torchao/quantization/prototype/mixed_precision/scripts/BO_acc_throughput.py
  torchao/quantization/prototype/mixed_precision/scripts/fit.py
  torchao/quantization/prototype/mixed_precision/scripts/hessian_grad.py
  torchao/quantization/prototype/mixed_precision/scripts/hessian_vhp.py
  torchao/quantization/prototype/mixed_precision/scripts/mp_quant_eval.py
  torchao/quantization/prototype/mixed_precision/scripts/naive_intNwo.py
  torchao/quantization/prototype/mixed_precision/scripts/utils.py
Labels: CLA Signed

#762 Add back QAT module swap API
  test/quantization/test_qat.py
  torchao/quantization/prototype/qat/__init__.py
  torchao/quantization/prototype/qat/_module_swap_api.py
  torchao/quantization/prototype/qat/api.py
Labels: CLA Signed

#696 Refactor quant_llm to work with affine quantized tensor
  benchmarks/benchmark_fp6.py
  scripts/hf_eval.py
  test/dtypes/test_fpx.py
  test/test_ops.py
  torchao/_models/_eval.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/fpx/README.md
  torchao/dtypes/fpx/__init__.py
  torchao/dtypes/fpx/fpx.py
  torchao/prototype/quant_llm/__init__.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
  torchao/quantization/utils.py
Labels: CLA Signed

#767 Revert "Refactor quant_llm to work with affine quantized tensor"
  benchmarks/benchmark_fp6_llm.py
  scripts/hf_eval.py
  test/prototype/test_quant_llm.py
  test/test_ops.py
  torchao/_models/_eval.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/fpx/__init__.py
  torchao/prototype/quant_llm/README.md
  torchao/prototype/quant_llm/__init__.py
  torchao/prototype/quant_llm/quant_llm.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
  torchao/quantization/utils.py
Labels: CLA Signed

#759 more empathy fixes
  README.md
Labels: CLA Signed

#768 Revert "more empathy fixes"
  README.md
Labels: CLA Signed

#766 Move benchmarking infra code to torchao
  torchao/experimental/benchmark_infra/ios/Entitlements-Dev.plist
  torchao/experimental/benchmark_infra/ios/TorchAOBenchmark-Info.plist
  torchao/experimental/benchmark_infra/ios/main_empty.mm
  torchao/experimental/benchmark_infra/ios/output_redirect.h
  torchao/experimental/benchmark_infra/ios/output_redirect.mm
  torchao/experimental/benchmark_infra/test/test_bench.cpp
Labels: CLA Signed, fb-exported

#671 [Experimental] Float8 support in AQT
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed

#773 CPU bandwidth benchmark
  torchao/experimental/benchmarks/cpu_memory_bw.cpp
Labels: CLA Signed, fb-exported

#760 float8 training: add static scaling
  benchmarks/float8/bench_linear_float8.py
  benchmarks/float8/profile_linear_float8.py
  test/float8/test_base.py
  test/float8/test_compile.py
  test/float8/test_everything.sh
  test/float8/test_fsdp2/test_fsdp2.py
  test/float8/test_numerics_integration.py
  torchao/float8/README.md
  torchao/float8/config.py
  torchao/float8/float8_linear.py
  torchao/float8/float8_scaling_utils.py
  torchao/float8/fsdp_utils.py
Labels: CLA Signed

#775 Update method names to support intx and floatx changes
  docs/source/api_ref_dtypes.rst
  test/dtypes/test_affine_quantized.py
  test/hqq/test_hqq_affine.py
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/prototype/hqq/example.py
  torchao/quantization/README.md
  torchao/quantization/autoquant.py
  torchao/quantization/prototype/mixed_precision/scripts/naive_intNwo.py
  torchao/quantization/prototype/qat/api.py
  torchao/quantization/quant_api.py
  tutorials/calibration_flow/gptq_like.py
  tutorials/calibration_flow/static_quant.py
Labels: CLA Signed

#772 [reland] Refactor quant_llm to work with affine quantized tensor (#696)
  benchmarks/benchmark_fp6.py
  scripts/hf_eval.py
  test/dtypes/test_fpx.py
  test/test_ops.py
  torchao/_models/_eval.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/fpx/README.md
  torchao/dtypes/fpx/__init__.py
  torchao/dtypes/fpx/fpx.py
  torchao/prototype/quant_llm/__init__.py
  torchao/quantization/__init__.py
  torchao/quantization/prototype/mixed_precision/scripts/hessian_vhp.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
  torchao/quantization/utils.py
Labels: CLA Signed

#740 Add Float8 Weight Only and FP8 weight + dynamic activation
  scripts/hf_eval.py
  test/dtypes/test_affine_quantized.py
  test/dtypes/test_affine_quantized_float.py
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/utils.py
  torchao/float8/__init__.py
  torchao/float8/float8_python_api.py
  torchao/float8/inference.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
  torchao/utils.py
Labels: CLA Signed

#779 add in formatting skip everything
  .github/workflows/ruff_linter.yml
  .pre-commit-config.yaml
  dev-requirements.txt
  ruff.toml
  torchao/float8/inference.py
Labels: CLA Signed
