Repository pytorch/ao, pull requests merged in 2025-08, with the labels that each got.

#2654 Remove warnings in favor of skiptests for Moe code
  test/float8/test_base.py
  test/prototype/moe_training/test_fsdp.py
  test/prototype/moe_training/test_fsdp_tp.py
  test/prototype/moe_training/test_tp.py
  test/prototype/moe_training/test_training.py
Labels: CLA Signed, topic: not user facing

#2652 fix bc breakage flex path
  torchao/prototype/inductor/int8_sdpa_lowering.py
Labels: bug, CLA Signed, topic: bug fix

#2639 backward pass for differentiable mxfp8 grouped gemm with dynamic quant
  test/prototype/moe_training/test_scaled_grouped_mm.py
  torchao/prototype/moe_training/scaled_grouped_mm.py
Labels: CLA Signed, topic: not user facing

#2400 Make AWQ more general
  test/core/test_config.py
  test/prototype/test_awq.py
  torchao/_models/_eval.py
  torchao/_models/llama/eval.py
  torchao/core/config.py
  torchao/prototype/awq/__init__.py
  torchao/prototype/awq/api.py
  torchao/prototype/awq/core.py
  torchao/prototype/awq/example.py
  torchao/prototype/moe_quant/utils.py
  torchao/quantization/linear_activation_scale.py
  torchao/quantization/quant_api.py
  torchao/utils.py
Labels: CLA Signed, topic: improvement

#2509 [MoE training] torch.compile support for ScaledGroupedMMTensor
  test/prototype/moe_training/test_scaled_grouped_mm.py
  test/prototype/moe_training/test_training.py
  torchao/prototype/moe_training/kernels/jagged_float8_scales.py
  torchao/prototype/moe_training/tensor.py
Labels: CLA Signed, topic: not user facing

#2629 New multi-step QAT API
  README.md
  docs/source/api_ref_qat.rst
  docs/source/finetuning.rst
  test/quantization/test_qat.py
  torchao/quantization/qat/README.md
  torchao/quantization/qat/__init__.py
  torchao/quantization/qat/api.py
  torchao/quantization/qat/fake_quantize_config.py
  torchao/quantization/transform_module.py
Labels: CLA Signed, topic: new feature

#2620 mx: expose scaling calculation methods in training UX
  benchmarks/float8/float8_roofline.py
  benchmarks/mx_formats/cast_bench.py
  test/prototype/mx_formats/test_mx_linear.py
  torchao/prototype/mx_formats/README.md
  torchao/prototype/mx_formats/config.py
  torchao/prototype/mx_formats/mx_linear.py
  torchao/prototype/mx_formats/mx_tensor.py
  torchao/testing/training/roofline_utils.py
Labels: CLA Signed, topic: improvement

#2661 mx: make CUDA kernel for dim1 cast in mxfp8_cublas recipe
  torchao/prototype/mx_formats/config.py
Labels: CLA Signed, topic: improvement

#2672 fix float8 rowwise inference perf with torch.compile
  benchmarks/inference/bench_float8_inference.py
  test/dtypes/test_affine_quantized_float.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed, topic: bug fix

#2663 [MoE training] Assert expert weights are column-major; preserve subclass with transpose
  torchao/prototype/moe_training/scaled_grouped_mm.py
  torchao/prototype/moe_training/tensor.py
Labels: CLA Signed, topic: not user facing

#2681 [mxfp8] skip mxfp8 test on rocm
  test/prototype/moe_training/test_scaled_grouped_mm.py
Labels: CLA Signed, mx, module: rocm, ciflow/rocm, topic: not user facing

#2678 [moe training] set token group alignment size to 16 for fp8 training test
  test/prototype/moe_training/test_training.py
Labels: CLA Signed, topic: not user facing

#2674 fix lm_eval import in eval_hf_models.py
  benchmarks/_models/eval_hf_models.py
Labels: CLA Signed, topic: not user facing

#2675 enable batch_size auto for model eval
  benchmarks/_models/eval_hf_models.py
Labels: CLA Signed, topic: not user facing

#2691 Skip Flaky ROCm Test in Integration Suite
  test/integration/test_integration.py
Labels: module: rocm, ciflow/rocm, topic: not user facing

#2657 Add gpu_name as a parameter in roofline estimate utils
  torchao/testing/training/roofline_utils.py
Labels: CLA Signed, fb-exported, topic: not user facing

#2668 [moe training] use smaller block sizes for per group scaling kernels to improve perf
  torchao/prototype/moe_training/benchmarks/benchmark_kernels.py
  torchao/prototype/moe_training/kernels/jagged_float8_scales.py
  torchao/prototype/moe_training/scaled_grouped_mm.py
Labels: CLA Signed, topic: not user facing

#2700 Update test_quant_passes.py
  torchao/experimental/tests/test_quant_passes.py
Labels: CLA Signed, topic: not user facing

#2659 Convert SmoothQuant test to unittest
  test/prototype/test_smoothquant.py
Labels: CLA Signed, topic: not user facing

#2705 fix swizzle kernel w/ fullgraph
  torchao/prototype/mx_formats/kernels.py
  torchao/prototype/mx_formats/utils.py
Labels: CLA Signed, topic: not user facing

#2650 Bump version for float8 dynamic quant and weight only quant configs
  test/core/test_config.py
  test/dtypes/test_affine_quantized_float.py
  test/float8/test_base.py
  test/integration/test_loading_deprecated_checkpoint.py
  test/quantization/quantize_/workflows/float8/test_float8_tensor.py
  torchao/core/config.py
  torchao/dtypes/floatx/float8_layout.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: bc-breaking

#2671 [moe training] add benchmark script for moe layer
  benchmarks/prototype/moe_training/benchmark_kernels.py
  benchmarks/prototype/moe_training/benchmark_moe_layer.py
  benchmarks/prototype/moe_training/benchmark_scaled_grouped_mm.py
Labels: CLA Signed, topic: not user facing

#2696 [moe training] add fp8 rowwise kernels for expert weights
  benchmarks/prototype/moe_training/benchmark_kernels.py
  test/prototype/moe_training/test_kernels.py
  torchao/prototype/moe_training/kernels/float8_rowwise.py
  torchao/prototype/moe_training/scaled_grouped_mm.py
  torchao/prototype/moe_training/utils.py
Labels: CLA Signed, topic: not user facing

#2692 Update KleidiAI
  torchao/experimental/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/CMakeLists.txt
  torchao/experimental/ops/tests/CMakeLists.txt
Labels: CLA Signed, topic: not user facing

#2651 Check numerical equivalence / closeness between different kernel preferences
  test/quantization/quantize_/workflows/float8/test_float8_tensor.py
Labels: CLA Signed, topic: not user facing

#2715 Updating 4xH100 to only run with tags or workflow dispatch
  .github/pytorch-probot.yml
  .github/workflows/4xH100_tests.yml
Labels: CLA Signed, topic: not user facing, ciflow/4xh100

#2716 Don't call erase if node is already erased in batch norm fusion.
  torchao/quantization/pt2e/utils.py
Labels: CLA Signed, fb-exported, topic: improvement

#2717 Remove dep on protype MoEQuantConfig
  test/quantization/quantize_/workflows/float8/test_float8_tensor.py
  torchao/testing/model_architectures.py
  torchao/testing/utils.py
Labels: CLA Signed, topic: not user facing

#2714 Generalize FakeQuantizer beyond intx
  docs/source/api_ref_qat.rst
  test/quantization/test_qat.py
  torchao/quantization/prototype/qat/fake_quantizer.py
  torchao/quantization/qat/__init__.py
  torchao/quantization/qat/api.py
  torchao/quantization/qat/embedding.py
  torchao/quantization/qat/fake_quantizer.py
  torchao/quantization/qat/linear.py
Labels: CLA Signed, topic: improvement

#2679 Add api for group wise low bit quantization, using codebook utils provided by coreml
  torchao/prototype/quantization/codebook_groupwise/api.py
Labels: CLA Signed, fb-exported, topic: not user facing

#2726 Fix internal tests after recent chagnes
  test/integration/test_loading_deprecated_checkpoint.py
Labels: CLA Signed, fb-exported, topic: not user facing

#2736 torchao.float8: update with AMD MI300X benchmark results
  torchao/float8/README.md
Labels: topic: documentation, CLA Signed

#2702 Add __init__.py for group wise lut quantization package
  torchao/prototype/quantization/codebook_groupwise/__init__.py
Labels: CLA Signed, fb-exported, topic: not user facing

#2704 Add meta function for linear operation (groupwise lut kernel).
  torchao/experimental/op_lib.py
Labels: CLA Signed, fb-exported, topic: not user facing

#2687 Align Int4Tensor implementation details with the design of Float8Tensor
  test/quantization/quantize_/workflows/int4/test_int4_tensor.py
  test/test_utils.py
  torchao/quantization/quant_api.py
  torchao/quantization/quantize_/workflows/int4/int4_tensor.py
  torchao/utils.py
Labels: CLA Signed, topic: not user facing

#2738 Update Int4PreshuffledTensor to align with implementation details of the Float8Tensor
  torchao/quantization/quant_api.py
  torchao/quantization/quantize_/workflows/int4/int4_preshuffled_tensor.py
Labels: CLA Signed, topic: not user facing

#2747 Remove calls to contiguous in the implementation of Float8Tensor
  torchao/quantization/quantize_/workflows/float8/float8_tensor.py
Labels: CLA Signed, topic: not user facing

#2613 Remove double baseline calculations for CI microbenchmarks
  benchmarks/dashboard/ci_microbenchmark_runner.py
  benchmarks/dashboard/microbenchmark_quantization_config.yml
  benchmarks/microbenchmarks/benchmark_inference.py
  benchmarks/microbenchmarks/benchmark_runner.py
  benchmarks/microbenchmarks/test/benchmark_config.yml
  benchmarks/microbenchmarks/test/test_benchmark_inference.py
  benchmarks/microbenchmarks/test/test_benchmark_profiler.py
  benchmarks/microbenchmarks/test/test_benchmark_runner.py
  benchmarks/microbenchmarks/test/test_utils.py
  benchmarks/microbenchmarks/utils.py
  docs/source/benchmarking_api_guide.md
Labels: CLA Signed, topic: for developers, topic: performance, ciflow/benchmark

#2510 [ROCm] fix build for newer hipblaslt BC-breaking change
  setup.py
  torchao/csrc/rocm/swizzle/swizzle.cpp
Labels: CLA Signed, module: rocm

#2735 Add float8 FakeQuantizeConfig and FakeQuantizer
  docs/source/api_ref_qat.rst
  test/quantization/test_qat.py
  torchao/quantization/qat/__init__.py
  torchao/quantization/qat/fake_quantize_config.py
  torchao/quantization/qat/fake_quantizer.py
  torchao/quantization/qat/linear.py
  torchao/quantization/qat/utils.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed, topic: new feature

#2706 Track API usage
  torchao/float8/float8_linear_utils.py
  torchao/float8/fsdp_utils.py
  torchao/optim/adam.py
  torchao/quantization/pt2e/convert.py
  torchao/quantization/pt2e/quantize_pt2e.py
  torchao/quantization/qat/api.py
  torchao/quantization/qat/embedding.py
  torchao/quantization/qat/fake_quantizer.py
  torchao/quantization/qat/linear.py
  torchao/quantization/quant_api.py
  torchao/sparsity/sparse_api.py
Labels: CLA Signed, topic: improvement

#2754 Update Int4WeightOnlyConfig VERSION argument
  test/quantization/quantize_/workflows/int4/test_int4_preshuffled_tensor.py
  test/quantization/quantize_/workflows/int4/test_int4_tensor.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: not user facing

#2743 Allow per-group quantizers in QuantOptimizer, fix state_dict
  test/prototype/test_parq.py
  test/quantization/test_qat.py
  torchao/prototype/parq/optim/quantopt.py
  torchao/prototype/parq/quant/quant_api.py
  torchao/prototype/parq/utils.py
  torchao/quantization/qat/api.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: improvement

#2766 Update autoquant.py
  torchao/quantization/autoquant.py
Labels: CLA Signed, topic: not user facing

#2770 Fix missing QuantOptimizer methods
  test/prototype/test_parq.py
  torchao/prototype/parq/optim/quantopt.py
  torchao/prototype/parq/quant/uniform_torchao.py
Labels: CLA Signed, topic: bug fix

#2725 Add CPP version of bitpacking.
  torchao/experimental/kernels/cpu/aarch64/tests/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/tests/build_and_run_tests.sh
  torchao/experimental/kernels/cpu/aarch64/tests/test_bitpack_fallback_compatibility.cpp
  torchao/experimental/kernels/cpu/fallback/CMakeLists.txt
  torchao/experimental/kernels/cpu/fallback/bitpacking/bitpack.h
  torchao/experimental/kernels/cpu/fallback/bitpacking/uint1.h
  torchao/experimental/kernels/cpu/fallback/bitpacking/uint2.h
  torchao/experimental/kernels/cpu/fallback/bitpacking/uint3.h
  torchao/experimental/kernels/cpu/fallback/bitpacking/uint4.h
  torchao/experimental/kernels/cpu/fallback/bitpacking/uint5.h
  torchao/experimental/kernels/cpu/fallback/bitpacking/uint6.h
  torchao/experimental/kernels/cpu/fallback/bitpacking/uint7.h
  torchao/experimental/kernels/cpu/fallback/tests/CMakeLists.txt
  torchao/experimental/kernels/cpu/fallback/tests/build_and_run_tests.sh
  torchao/experimental/kernels/cpu/fallback/tests/test_bitpacking.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#2734 [moe training] work around wrap_triton bug by using normal custom ops instead for fp8 rowwise kernels
  benchmarks/prototype/moe_training/benchmark_kernels.py
  benchmarks/prototype/moe_training/benchmark_per_group_scaling_kernels.py
  test/prototype/moe_training/test_kernels.py
  test/prototype/moe_training/test_training.py
  torchao/prototype/moe_training/kernels/__init__.py
  torchao/prototype/moe_training/kernels/float8_rowwise.py
  torchao/prototype/moe_training/kernels/jagged_float8_scales.py
  torchao/prototype/moe_training/scaled_grouped_mm.py
Labels: CLA Signed, topic: not user facing

#2749 [moe training] fix scaling type bug; refactor distributed tests
  test/prototype/moe_training/test_fsdp.py
  test/prototype/moe_training/test_fsdp_tp.py
  test/prototype/moe_training/test_tp.py
  torchao/prototype/moe_training/tensor.py
Labels: CLA Signed, topic: not user facing

#2756 [moe training] use llama4 shapes for kernel benchmarks
  benchmarks/float8/bench_grouped_mm.py
  benchmarks/float8/utils.py
  benchmarks/prototype/moe_training/benchmark_kernels.py
  benchmarks/prototype/moe_training/benchmark_rowwise_3d_quant_kernels.py
  torchao/prototype/moe_training/kernels/float8_rowwise.py
  torchao/prototype/moe_training/kernels/jagged_float8_scales.py
Labels: CLA Signed, topic: not user facing

#2765 [moe training] update bench script to compare fp8 dynamic quant scaled_grouped_mm fwd+bwd against bf16
  benchmarks/prototype/moe_training/benchmark_rowwise_3d_quant_kernels.py
  benchmarks/prototype/moe_training/benchmark_scaled_grouped_mm.py
  benchmarks/prototype/moe_training/utils.py
  torchao/prototype/moe_training/kernels/float8_rowwise.py
  torchao/prototype/moe_training/scaled_grouped_mm.py
Labels: CLA Signed

#2767 [moe training] refactor to share benchmarking and profiling utils
  benchmarks/prototype/moe_training/benchmark_moe_fsdp.py
  benchmarks/prototype/moe_training/benchmark_scaled_grouped_mm_dq.py
  benchmarks/prototype/moe_training/utils.py
Labels: CLA Signed, topic: not user facing

#2773 mx_formats: make emulated tests pass on H100, and add to CI
  .github/workflows/1xH100_tests.yml
  .github/workflows/4xH100_tests.yml
  test/prototype/mx_formats/test_kernels.py
  test/prototype/mx_formats/test_mx_dtensor.py
  test/prototype/mx_formats/test_mx_linear.py
  test/prototype/mx_formats/test_nvfp4_tensor.py
Labels: CLA Signed, topic: not user facing

#2777 Update mx_formats README.md
  torchao/prototype/mx_formats/README.md
Labels: topic: documentation, CLA Signed

#2644 Convert model inference test from pytest to unittest
  test/test_ao_models.py
Labels: CLA Signed, topic: not user facing

#2778 Update mx README.md
  torchao/prototype/mx_formats/README.md
Labels: CLA Signed, topic: not user facing

#2775 Update benchmarking tool to run on local iPhones
  torchao/experimental/benchmark_infra/ios/output_redirect.mm
Labels: CLA Signed, fb-exported, topic: not user facing

#2771 Int4 sparse marlin tensor
  test/quantization/quantize_/workflows/int4/test_int4_marlin_sparse_tensor.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
  torchao/quantization/quantize_/common/packing_format.py
  torchao/quantization/quantize_/workflows/__init__.py
  torchao/quantization/quantize_/workflows/int4/int4_marlin_sparse_tensor.py
Labels: CLA Signed, topic: improvement

#2808 turn float8 inference kernel check test back on
  test/dtypes/test_affine_quantized_float.py
Labels: CLA Signed, topic: not user facing

#2804 mxtensor: make data argument first and rename to `qdata`
  test/prototype/mx_formats/test_inference_workflow.py
  test/prototype/mx_formats/test_mx_mm.py
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/mx_linear.py
  torchao/prototype/mx_formats/mx_ops.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: not user facing

#2806 mxtensor: refactor activation quant to use direct logic
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/inference_workflow.py
  torchao/prototype/mx_formats/mx_linear.py
  torchao/prototype/mx_formats/mx_ops.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: not user facing

#2784 improve fp8 blockwise gemm perf
  benchmarks/prototype/blockwise_fp8_training/bench_1x128_128x128_gemms.py
  benchmarks/prototype/blockwise_fp8_training/bench_1x128_128x1_gemms.py
  torchao/prototype/blockwise_fp8_training/kernels.py
  torchao/prototype/moe_training/utils.py
Labels: CLA Signed, topic: not user facing

#2813 Add model release CI job
  .github/scripts/torchao_model_releases/quantize_and_upload.py
  .github/workflows/release_model.yml
Labels: CLA Signed, topic: not user facing

#2818 Fix autoquant tests failed due to changes to benchmark_gpu
  torchao/quantization/autoquant.py
Labels: CLA Signed, topic: not user facing

#2817 float8tensor: small fixes for kernel_preference
  torchao/quantization/quant_api.py
  torchao/quantization/quantize_/workflows/float8/float8_tensor.py
Labels: CLA Signed, topic: not user facing

#2820 Add test for lut based embedding quantization.
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils.h
Labels: CLA Signed, fb-exported, topic: not user facing

#2830 mx: delete `triton_f4_to_bf16` kernel
  test/prototype/mx_formats/test_kernels.py
  torchao/prototype/mx_formats/kernels.py
Labels: CLA Signed, topic: not user facing

#2835 [mxfp8 moe] add compile test; add mxfp8 to bench script
  benchmarks/prototype/moe_training/benchmark_scaled_grouped_mm_dq.py
  test/prototype/moe_training/test_training.py
  torchao/prototype/moe_training/scaled_grouped_mm.py
Labels: CLA Signed, topic: not user facing

#2841 [mxfp8 moe] replace per group scaling with conventional scaling
  test/prototype/moe_training/test_training.py
  torchao/prototype/moe_training/scaled_grouped_mm.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: not user facing

#2847 float8 kernel test: make more robust
  test/dtypes/test_affine_quantized_float.py
Labels: CLA Signed, topic: not user facing

#2793 Refactor TorchAOBaseTensor for better BC support
  test/test_utils.py
  torchao/quantization/quantize_/workflows/float8/float8_tensor.py
  torchao/quantization/quantize_/workflows/int4/int4_preshuffled_tensor.py
  torchao/utils.py
Labels: CLA Signed, topic: for developers

#2786 fix incorrect torch version test
  test/test_utils.py
  torchao/utils.py
Labels: CLA Signed, topic: improvement

#2851 Fix float8 + int4 QAT
  test/quantization/test_qat.py
  torchao/quantization/qat/fake_quantize_config.py
Labels: CLA Signed, topic: bug fix

#2858 Fix autoquant after version util changes
  torchao/quantization/autoquant.py
Labels: CLA Signed

#2872 bump version to 0.14.0
  version.txt
Labels: CLA Signed, topic: not user facing

#2849 [mxfp8 moe training] Add mxfp8 to FSDP tests
  test/prototype/moe_training/test_fsdp.py
Labels: CLA Signed, topic: not user facing

#2870 add mxfp8 to test_tp
  test/prototype/moe_training/test_tp.py
Labels: CLA Signed, topic: not user facing

#2875 release notes script: keep not user facing rows
  scripts/clean_release_notes.py
Labels: CLA Signed, topic: not user facing

#2874 TorchAOBaseTensor `__tensor_flatten__` and `__tensor_unflatten__` use…
  test/prototype/mx_formats/test_mx_tensor.py
  test/prototype/mx_formats/test_nvfp4_tensor.py
  torchao/prototype/mx_formats/nvfp4_tensor.py
  torchao/utils.py
Labels: CLA Signed, topic: not user facing

#2876 fix ci import error
  test/prototype/moe_training/test_fsdp.py
  test/prototype/moe_training/test_fsdp_tp.py
  test/prototype/moe_training/test_tp.py
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing, ciflow/4xh100

#2839 Conditional ROCm kernel build
  setup.py
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing

#2798 [CPU] Introduce Int4OpaqueTensor to replace Int4CPULayout in AQT
  test/quantization/quantize_/workflows/int4/test_int4_opaque_tensor.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
  torchao/quantization/quantize_/workflows/__init__.py
  torchao/quantization/quantize_/workflows/int4/int4_opaque_tensor.py
Labels: CLA Signed, topic: new feature

#2863 [moe fp8 training] test and bench new faster method for per group rowwise scaling
  benchmarks/prototype/moe_training/benchmark_per_group_colwise_scaling_kernels.py
  benchmarks/prototype/moe_training/benchmark_per_group_rowwise_scaling_kernels.py
  benchmarks/prototype/moe_training/benchmark_scaled_grouped_mm_dq.py
  test/prototype/moe_training/test_kernels.py
Labels: CLA Signed, topic: not user facing

#2742 Introduce IntxOpaqueTensor to replace PackedInt8DynamicActivationIntxWeightLayout in AQT
  .github/workflows/torchao_experimental_test.yml
  test/quantization/quantize_/workflows/intx/test_intx_opaque_tensor.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
  torchao/quantization/quantize_/workflows/__init__.py
  torchao/quantization/quantize_/workflows/intx/intx_opaque_tensor.py
Labels: CLA Signed, topic: not user facing

#2753 Update AWQ implementation to not use extra wrapper tensor subclass
  test/prototype/test_awq.py
  test/quantization/quantize_/workflows/int4/test_int4_tensor.py
  torchao/prototype/awq/api.py
  torchao/prototype/awq/example.py
  torchao/quantization/quantize_/common/__init__.py
  torchao/quantization/quantize_/common/protocol.py
  torchao/quantization/quantize_/workflows/int4/int4_tensor.py
Labels: CLA Signed, topic: not user facing

#2686 [CPU][float8] Add scaled_embedding_bag kernel
  test/test_ops.py
  torchao/csrc/cpu/scaled_embedding_bag.cpp
  torchao/ops.py
Labels: CLA Signed, topic: new feature

#2892 exclude libcudart.so.13 from auditwheel repair to fix CUDA 13.0 wheel build
  packaging/post_build_script.sh
Labels: CLA Signed, binaries, topic: bug fix

#2829 [fp8 blockwise] wrap triton quantization kernels in custom ops for torch.compile compatibility
  benchmarks/prototype/blockwise_fp8_training/bench_1x128_128x128_gemms.py
  benchmarks/prototype/blockwise_fp8_training/bench_1x128_128x1_gemms.py
  benchmarks/utils.py
  test/prototype/blockwise_fp8_training/test_blockwise_kernels.py
  torchao/prototype/blockwise_fp8_training/kernels.py
  torchao/prototype/blockwise_fp8_training/linear.py
Labels: CLA Signed, topic: not user facing

#2879 [mxfp8 moe training] refactor all var names with suffix _mx to _data for clarity
  torchao/prototype/moe_training/scaled_grouped_mm.py
Labels: CLA Signed, mx, topic: not user facing

#2886 [mxfp8 moe training] add per group blocked scale kernels
  benchmarks/prototype/moe_training/benchmark_2d_3d_grouped_gemms.py
  benchmarks/prototype/moe_training/benchmark_2d_blocked_swizzle_scale_kernels.py
  test/prototype/moe_training/test_kernels.py
  torchao/prototype/moe_training/kernels/__init__.py
  torchao/prototype/moe_training/kernels/mxfp8_blocked_scales.py
  torchao/prototype/moe_training/kernels/mxfp8_gemms.py
  torchao/prototype/mx_formats/utils.py
Labels: CLA Signed, mx, topic: not user facing

#2881 safetensors support
  test/prototype/safetensors/test_safetensors_support.py
  torchao/prototype/safetensors/__init__.py
  torchao/prototype/safetensors/safetensors_serialization.py
  torchao/prototype/safetensors/safetensors_support.py
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing, ciflow/4xh100

#2860 Port metadata from the linear node onto the reference custom op for int4
  torchao/quantization/pt2e/reference_representation_rewrite.py
Labels: CLA Signed, topic: improvement, pt2e_quant

#2908 torchao init: do not load .so files for known incompatible torch version
  torchao/__init__.py
Labels: CLA Signed, topic: bug fix

#2883 Fix Float8Tensor quantize op kernrel preference dispatch
  test/quantization/quantize_/workflows/float8/test_float8_tensor.py
  torchao/quantization/quantize_/common/kernel_preference.py
  torchao/quantization/quantize_/workflows/float8/float8_tensor.py
Labels: CLA Signed, topic: improvement

#2897 [mxfp8 moe training] use dim1 cast cuda kernel in bwd
  torchao/prototype/moe_training/scaled_grouped_mm.py
  torchao/prototype/mx_formats/mx_linear.py
  torchao/prototype/mx_formats/utils.py
Labels: CLA Signed, mx, topic: not user facing

#2905 [moe training] update tests + benchmarks with conditional runs based on SM arch; make test cases more comprehensive and consistent
  benchmarks/prototype/moe_training/benchmark_2d_3d_grouped_gemms.py
  benchmarks/prototype/moe_training/benchmark_moe_layer_fsdp.py
  benchmarks/prototype/moe_training/benchmark_scaled_grouped_mm_dq.py
  benchmarks/utils.py
  test/prototype/moe_training/test_everything.sh
  test/prototype/moe_training/test_fsdp.py
  test/prototype/moe_training/test_fsdp_tp.py
  test/prototype/moe_training/test_tp.py
  test/prototype/moe_training/test_training.py
Labels: CLA Signed, topic: not user facing
