Repository pytorch/ao, pull requests merged in 2025-06, with the labels that each got.

#2287 Fix benchmark_low_bit_adam.py reference
  torchao/optim/README.md
Labels: CLA Signed

#2281 Remove Constraint for sm89 hardware
  .github/workflows/float8_test.yml
  test/dtypes/test_affine_quantized_float.py
  torchao/float8/inference.py
  torchao/utils.py
Labels: CLA Signed, topic: not user facing

#2280 Fix QAT range learning, ensure scales get gradients
  test/quantization/test_qat.py
  torchao/quantization/qat/affine_fake_quantized_tensor.py
  torchao/quantization/qat/fake_quantizer.py
  torchao/quantization/qat/utils.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed, topic: improvement

#2295 Remove valpacking code and associated tests
  torchao/experimental/kernels/cpu/aarch64/tests/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/tests/build_and_run_tests.sh
  torchao/experimental/kernels/cpu/aarch64/tests/test_valpacking.cpp
Labels: CLA Signed, topic: not user facing

#2286 [optim] Fix bug when default dtype is BF16
  test/test_low_bit_optim.py
  torchao/optim/subclass_4bit.py
  torchao/optim/subclass_8bit.py
Labels: CLA Signed, topic: bug fix

#2291 update float8 training readme to include time measurement
  torchao/float8/README.md
Labels: topic: documentation, CLA Signed

#2305 [sparse] marlin fixes
  torchao/dtypes/uintx/marlin_sparse_layout.py
  torchao/sparsity/marlin/__init__.py
Labels: CLA Signed, topic: bug fix

#2276 Add support for fbgemm fp8 kernels
  test/dtypes/test_affine_quantized.py
  test/dtypes/test_fbgemm_fp8.py
  test/dtypes/test_fbgemm_int4.py
  torchao/_models/llama/generate.py
  torchao/dtypes/__init__.py
  torchao/dtypes/fbgemm_fp8_tensor.py
  torchao/dtypes/fbgemm_int4_tensor.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: new feature

#2210 primitive scale fix
  torchao/quantization/quant_primitives.py
Labels: CLA Signed, fb-exported, topic: not user facing

#2288 Fix slicing and get_plain() in GemLite
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/uintx/gemlite_layout.py
  torchao/quantization/autoquant.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: improvement

#2289 Add Float8ActInt4WeightQATQuantizer
  test/quantization/test_qat.py
  torchao/quantization/qat/__init__.py
  torchao/quantization/qat/fake_quantizer.py
  torchao/quantization/qat/linear.py
  torchao/quantization/qat/utils.py
Labels: CLA Signed, topic: new feature

#2304 [BE] [docs] Add float8 pretraining tutorial to docsite
  docs/source/conf.py
  docs/source/index.rst
  docs/source/pretraining.rst
  docs/static/fp8-loss-curves.png
Labels: topic: documentation, CLA Signed

#2320 Fix broken circular dep error
  torchao/float8/__init__.py
  torchao/float8/inference.py
  torchao/float8/types.py
Labels: CLA Signed, fb-exported, topic: not user facing

#2308 Add slicing support for fbgemm fp8 and int4
  test/dtypes/test_fbgemm_fp8.py
  test/dtypes/test_fbgemm_int4.py
  torchao/dtypes/fbgemm_fp8_tensor.py
  torchao/dtypes/fbgemm_int4_tensor.py
Labels: CLA Signed, topic: improvement

#2333 Fix Windows Build
  setup.py
Labels: CLA Signed, topic: not user facing, build

#2302 Migrate xnnpack/vulkan/boltnn pt2e from torch.ao to torchao (#11363)
  torchao/quantization/pt2e/__init__.py
  torchao/testing/pt2e/utils.py
Labels: CLA Signed, fb-exported, topic: not user facing, module: vulkan

#2328 add cast config for fp8 enablement
  torchao/float8/__init__.py
Labels: CLA Signed, fb-exported, topic: not user facing

#2337 Add support for bmm and `to` for fbgemm Tensor
  test/dtypes/test_fbgemm_fp8.py
  test/dtypes/test_fbgemm_int4.py
  torchao/dtypes/__init__.py
  torchao/dtypes/fbgemm_fp8_tensor.py
  torchao/dtypes/fbgemm_int4_tensor.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: improvement

#2344 [BE] Rename qparams for tinygemm
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/dtypes/uintx/int4_cpu_layout.py
  torchao/dtypes/uintx/int4_xpu_layout.py
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
  torchao/prototype/parq/quant/uniform_torchao.py
  torchao/quantization/quant_primitives.py
  torchao/quantization/utils.py
Labels: CLA Signed, topic: bc-breaking, topic: for developers

#2275 float8 moe training conversion API prototype
  test/prototype/moe_training/__init__.py
  test/prototype/moe_training/test_kernels.py
  test/prototype/moe_training/test_scaled_grouped_mm.py
  test/prototype/moe_training/test_training.py
  torchao/prototype/moe_training/__init__.py
  torchao/prototype/moe_training/benchmarks/benchmark_kernels.py
  torchao/prototype/moe_training/benchmarks/benchmark_scaled_grouped_mm.py
  torchao/prototype/moe_training/conversion_utils.py
  torchao/prototype/moe_training/kernels/__init__.py
  torchao/prototype/moe_training/kernels/jagged_float8_scales.py
  torchao/prototype/moe_training/scaled_grouped_mm.py
  torchao/prototype/moe_training/tensor.py
  torchao/prototype/moe_training/utils.py
  torchao/prototype/scaled_grouped_mm/__init__.py
Labels: CLA Signed, topic: not user facing

#2353 Add float8 MoE training readme and runnable example
  torchao/prototype/moe_training/README.md
  torchao/prototype/moe_training/examples/simple_moe_layer.py
Labels: CLA Signed, topic: not user facing

#2366 Fix 2:4 sparsify meta registrations
  test/sparsity/test_activation24.py
  torchao/csrc/cuda/activation24/sparse_gemm.cu
  torchao/csrc/cuda/activation24/sparsify24.cu
  torchao/ops.py
Labels: CLA Signed, topic: not user facing, topic: bug fix

#2369 fixing ruff format for trunk
  torchao/dtypes/fbgemm_int4_tensor.py
Labels: CLA Signed

#2363 fixing trunk - autoquant test failure
  test/integration/test_integration.py
Labels: CLA Signed, topic: bug fix

#2371 [ci] fix pt2e x86 unit tests
  test/quantization/pt2e/test_x86inductor_fusion.py
Labels: CLA Signed, topic: not user facing

#2359 Add test case generator for groupwise low bit LUT based quantization
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils.h
Labels: CLA Signed, topic: not user facing

#2375 [docs] Replace deprecated configs with Config objects
  docs/source/api_ref_sparsity.rst
  docs/source/quantization.rst
  docs/source/quick_start.rst
  docs/source/serialization.rst
  scripts/quick_start.py
  torchao/quantization/README.md
  torchao/sparsity/README.md
Labels: topic: documentation, CLA Signed

#2382 Skip a couple tests to unbreak CI
  test/integration/test_integration.py
  test/sparsity/test_sparse_api.py
Labels: CLA Signed, topic: not user facing

#2381 [sparse] remove superblock
  torchao/prototype/sparsity/superblock/.gitignore
  torchao/prototype/sparsity/superblock/README.md
  torchao/prototype/sparsity/superblock/TRAINING.md
  torchao/prototype/sparsity/superblock/__init__.py
  torchao/prototype/sparsity/superblock/benchmark.py
  torchao/prototype/sparsity/superblock/benchmark.sh
  torchao/prototype/sparsity/superblock/benchmark_results.txt
  torchao/prototype/sparsity/superblock/evaluate.py
  torchao/prototype/sparsity/superblock/evaluate.sh
  torchao/prototype/sparsity/superblock/evaluation_results.txt
  torchao/prototype/sparsity/superblock/train.py
  torchao/prototype/sparsity/superblock/utils.py
Labels: topic: not user facing

#2370 Test PARQ with torchao activation quantization
  test/prototype/test_parq.py
  torchao/prototype/parq/quant/uniform_torchao.py
Labels: CLA Signed, topic: improvement

#2374 Revamp README
  README.md
Labels: topic: documentation, CLA Signed

#2385 remove rocm source files when not building for rocm
  setup.py
Labels: CLA Signed, module: rocm, topic: not user facing

#2390 deduplicate torch ao debugger tests between pytorch/ao and ExecuTorch
  test/quantization/pt2e/test_numeric_debugger.py
  torchao/testing/pt2e/utils.py
Labels: CLA Signed, fb-exported, topic: not user facing

#2384 Add pt2e tutorials to torchao doc page
  docs/source/index.rst
  docs/source/quick_start.rst
  docs/source/tutorials_source/pt2e_quant_openvino.rst
  docs/source/tutorials_source/pt2e_quant_ptq.rst
  docs/source/tutorials_source/pt2e_quant_qat.rst
  docs/source/tutorials_source/pt2e_quant_x86_inductor.rst
  docs/source/tutorials_source/pt2e_quant_xpu_inductor.rst
  docs/source/tutorials_source/pt2e_quantizer.rst
  torchao/quantization/pt2e/quantizer/x86_inductor_quantizer.py
Labels: topic: documentation, CLA Signed

#2345 Add inplace quantizer examples
  test/quantization/pt2e/test_quantize_pt2e.py
  torchao/quantization/pt2e/constant_fold.py
Labels: CLA Signed, fb-exported, topic: improvement

#2397 Delete Galore
  benchmarks/bench_galore_fused_kernels.py
  benchmarks/fused_benchmark_utils.py
  test/galore/README.md
  test/galore/profile_memory_usage.py
  test/kernel/galore_test_utils.py
  test/kernel/test_fused_kernels.py
  test/kernel/test_galore_downproj.py
  test/quantization/test_galore_quant.py
  torchao/prototype/README.md
  torchao/prototype/galore/README.md
  torchao/prototype/galore/docs/README.md
  torchao/prototype/galore/docs/galore_adam8bit.md
  torchao/prototype/galore/kernels/adam_downproj_fused.py
  torchao/prototype/galore/kernels/matmul.py
  torchao/prototype/galore/optim/galore_torch.py
  torchao/prototype/galore/utils.py
Labels: CLA Signed, topic: deprecation

#2350 [BE] Convert quant_primitives methods private
  docs/source/api_ref_quantization.rst
  test/dtypes/test_affine_quantized_float.py
  test/dtypes/test_floatx.py
  test/prototype/test_gguf_quant.py
  test/quantization/test_marlin_qqq.py
  test/quantization/test_qat.py
  test/quantization/test_quant_primitives.py
  test/test_ops.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/dtypes/floatx/floatx_tensor_core_layout.py
  torchao/dtypes/uintx/int4_cpu_layout.py
  torchao/dtypes/uintx/int4_xpu_layout.py
  torchao/dtypes/uintx/marlin_qqq_tensor.py
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
  torchao/prototype/parq/quant/uniform_torchao.py
  torchao/prototype/quantization/gguf/gguf_quantized_tensor.py
  torchao/quantization/__init__.py
  torchao/quantization/qat/affine_fake_quantized_tensor.py
  torchao/quantization/qat/utils.py
  torchao/quantization/quant_primitives.py
  torchao/quantization/utils.py
  tutorials/calibration_flow/gptq_like.py
Labels: CLA Signed, topic: bc-breaking, topic: not user facing

#2404 Fix ruff broken on main
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: not user facing

#2394 Add part 2 of end-to-end tutorial: fine-tuning
  docs/source/finetuning.rst
  docs/source/index.rst
  docs/source/pretraining.rst
  docs/source/serving.rst
  docs/static/e2e_flow_part1.png
  docs/static/e2e_flow_part2.png
  docs/static/e2e_flow_part3.png
  docs/static/qat_eval.png
Labels: topic: documentation, CLA Signed

#2405 [float8 moe training] make using triton kernels for per-group scaling configurable
  torchao/prototype/moe_training/benchmarks/benchmark_scaled_grouped_mm.py
  torchao/prototype/moe_training/conversion_utils.py
  torchao/prototype/moe_training/scaled_grouped_mm.py
  torchao/prototype/moe_training/tensor.py
Labels: CLA Signed, topic: not user facing

#2402 Enable cpp kernel building
  setup.py
Labels: CLA Signed, topic: not user facing

#2417 Remove more Galore bits
  test/galore/memory_analysis_utils.py
  test/galore/model_configs.py
  test/galore/profiling_utils.py
  torchao/prototype/galore/__init__.py
  torchao/prototype/galore/kernels/__init__.py
  torchao/prototype/galore/kernels/adam_step.py
  torchao/prototype/galore/kernels/custom_autotune.py
  torchao/prototype/galore/kernels/quant.py
  torchao/prototype/galore/optim/__init__.py
Labels: CLA Signed, topic: deprecation

#2285 Build mxfp4 kernel for sm120a
  benchmarks/float8/bench_matmul.py
  benchmarks/float8/utils.py
  setup.py
  test/prototype/mx_formats/test_mx_mm.py
  torchao/__init__.py
  torchao/csrc/cuda/mx_kernels/mx_fp_cutlass_kernels_sm100a.cu
  torchao/csrc/cuda/mx_kernels/mx_fp_cutlass_kernels_sm120a.cu
  torchao/testing/float8/roofline_utils.py
Labels: CLA Signed, topic: improvement

#2426 mitigate the numeric test issue
  test/quantization/pt2e/test_numeric_debugger.py
Labels: CLA Signed, fb-exported, topic: not user facing

#2428 Revert "Build mxfp4 kernel for sm120a"
  benchmarks/float8/bench_matmul.py
  benchmarks/float8/utils.py
  setup.py
  test/prototype/mx_formats/test_mx_mm.py
  torchao/__init__.py
  torchao/csrc/cuda/mx_kernels/mx_fp_cutlass_kernels.cu
  torchao/csrc/cuda/mx_kernels/mx_fp_cutlass_kernels_sm120a.cu
  torchao/testing/float8/roofline_utils.py
Labels: CLA Signed, topic: not user facing, ci-no-td

#2416 make dtensor shared test util more generic
  test/float8/test_dtensor.py
  torchao/testing/training/dtensor_utils.py
Labels: CLA Signed, topic: not user facing

#2410 [float8] add _auto_filter_for_recipe to float8
  torchao/float8/__init__.py
  torchao/float8/float8_linear_utils.py
Labels: CLA Signed, float8, topic: new feature

#2435 Update github links in torchao pt2e tutorial
  docs/source/tutorials_source/pt2e_quantizer.rst
Labels: CLA Signed, topic: not user facing

#2434 enable tensor parallelism for MXLinear
  test/prototype/mx_formats/test_mx_dtensor.py
  test/prototype/mx_formats/test_mx_linear.py
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/kernels.py
  torchao/prototype/mx_formats/mx_tensor.py
  torchao/testing/training/dtensor_utils.py
Labels: CLA Signed, topic: improvement

#2372 Gemlite generate.py fix
  torchao/_models/llama/benchmarks.sh
  torchao/_models/llama/generate.py
Labels: CLA Signed, topic: bug fix

#2432 solve the test issue
  test/quantization/pt2e/test_numeric_debugger.py
Labels: CLA Signed, fb-exported, topic: not user facing

#2128 [CPU] Enable DA8W4 on CPU
  setup.py
  test/quantization/test_quant_api.py
  torchao/csrc/cpu/da8w4_linear.cpp
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/dtypes/uintx/__init__.py
  torchao/dtypes/uintx/dyn_int8_act_int4_wei_cpu_layout.py
  torchao/dtypes/uintx/int4_cpu_layout.py
  torchao/ops.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, cpu, quantize, topic: new feature

#2447 float8 readme: remove duplication
  torchao/float8/README.md
Labels: topic: documentation, CLA Signed

#2406 Improve tiling params to speed up prefill
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.cpp
Labels: CLA Signed, topic: not user facing

#2438 Store NVFP4 block scales in swwizzled layout on tensor
  test/prototype/mx_formats/test_mx_linear.py
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/mx_subclass.py
  torchao/prototype/mx_formats/nvfp4_tensor.py
  torchao/prototype/mx_formats/utils.py
  torchao/utils.py
Labels: CLA Signed, mx, topic: not user facing

#2452 Graduate debug handle in torchao
  test/quantization/pt2e/test_numeric_debugger.py
  torchao/quantization/pt2e/_numeric_debugger.py
  torchao/testing/pt2e/utils.py
Labels: CLA Signed, fb-exported, topic: improvement

#2457 Update README.md to include Flux-Fast
  README.md
Labels: CLA Signed

#2450 [float8] add tests for float8 _auto_filter_for_recipe
  test/float8/test_auto_filter.py
  test/float8/test_everything.sh
  test/prototype/moe_training/test_tp.sh
Labels: CLA Signed, float8, topic: not user facing
