Repository pytorch/ao, pull requests merged in 2025-02, with the labels that each got.

#1650 more stringent test for CPUOffloadOptimizer
  test/prototype/test_low_bit_optim.py
  torchao/prototype/low_bit_optim/cpu_offload.py
Labels: CLA Signed, topic: bug fix

#1658 Fix ruff and make sure pre-commit is at same version
  .pre-commit-config.yaml
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: not user facing

#1657 Add int8 dynamic activation + int8 weight only test to TensorParallel
  test/dtypes/test_affine_quantized_tensor_parallel.py
Labels: CLA Signed, topic: bug fix

#1515 Add CUTLASS-based W4A4
  benchmarks/benchmark_rowwise_scaled_linear_cutlass.py
  benchmarks/benchmark_s8s4_cutlass.py
  setup.py
  test/dtypes/test_affine_quantized.py
  test/test_rowwise_scaled_linear_cutlass.py
  test/test_s8s4_linear_cutlass.py
  torchao/csrc/README.md
  torchao/csrc/cuda/cutlass_extensions/common.h
  torchao/csrc/cuda/rowwise_scaled_linear_cutlass/README.md
  torchao/csrc/cuda/rowwise_scaled_linear_cutlass/rowwise_scaled_linear_cutlass.cuh
  torchao/csrc/cuda/rowwise_scaled_linear_cutlass/rowwise_scaled_linear_cutlass_s4s4.cu
  torchao/csrc/cuda/rowwise_scaled_linear_cutlass/rowwise_scaled_linear_cutlass_s8s4.cu
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/dtypes/uintx/cutlass_int4_packed_layout.py
  torchao/ops.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: new feature

#1651 Fix compile issue for Marin qqq on sm<8.0
  torchao/csrc/cuda/marlin_qqq/marlin_qqq_kernel.cu
Labels: CLA Signed, topic: bug fix

#1673 SAM2: more export, small perf improvements
  examples/sam2_amg_server/compile_export_utils.py
  examples/sam2_amg_server/generate_data.py
  examples/sam2_amg_server/reproduce_experiments.py
  examples/sam2_amg_server/result.csv
  torchao/_models/sam2/automatic_mask_generator.py
  torchao/_models/sam2/modeling/sam/prompt_encoder.py
  torchao/_models/sam2/sam2_image_predictor.py
  torchao/_models/sam2/utils/transforms.py
Labels: CLA Signed, topic: improvement

#1642 Q dq layout
  .github/workflows/torchao_experimental_test.yml
  torchao/experimental/q_dq_layout.py
  torchao/experimental/tests/test_int8_dynamic_activation_intx_weight.py
  torchao/experimental/tests/test_packed_linear_int8_dynamic_activation_intx_weight_layout.py
Labels: CLA Signed

#1674 Remove duplicate definitions of fill_defaults
  torchao/dtypes/uintx/uint4_layout.py
  torchao/prototype/dtypes/uint2.py
Labels: CLA Signed, topic: not user facing

#1676 update notify in build_wheels_linux.yml
  .github/workflows/build_wheels_linux.yml
Labels: CLA Signed, topic: not user facing

#1667 Support mixed MX element dtype in `mx_mm` function and `MXLinear`.
  test/prototype/mx_formats/test_mx_linear.py
  torchao/prototype/mx_formats/README.md
  torchao/prototype/mx_formats/mx_linear.py
Labels: CLA Signed, topic: improvement

#1678 Test fix
  .github/workflows/build_wheels_aarch64_linux.yml
Labels: CLA Signed, ciflow/binaries/all, topic: not user facing

#1679 CI fix for linux wheels
  .github/workflows/build_wheels_linux.yml
Labels: CLA Signed, ciflow/binaries/all, topic: not user facing

#1663 Add boiler plate code to Tensor subclass
  torchao/utils.py
Labels: CLA Signed, topic: improvement

#1681 add a deprecation warning for float8 delayed and static scaling
  torchao/float8/README.md
  torchao/float8/config.py
Labels: CLA Signed, topic: deprecation

#1682 Lint fixes for fbcode
  torchao/experimental/tests/test_packed_linear_int8_dynamic_activation_intx_weight_layout_target_aten.py
Labels: CLA Signed, topic: not user facing

#1683 SAM2: Modal experiments QoL improvements
  examples/sam2_amg_server/cli_on_modal.py
  examples/sam2_amg_server/compare_rle_lists.py
  examples/sam2_amg_server/modal_experiments.sh
Labels: CLA Signed, topic: improvement

#1643 mx: add ceil and RNE rounding modes to the cast from fp32 to e8m0
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: improvement

#1670 Support power of 2 scaling factors in float8 training and use e4m3 everywhere
  test/float8/test_base.py
  test/float8/test_compile.py
  test/float8/test_float8_utils.py
  torchao/float8/config.py
  torchao/float8/float8_linear.py
  torchao/float8/float8_scaling_utils.py
  torchao/float8/float8_utils.py
Labels: CLA Signed, topic: new feature

#1692 Add third_party to exclude
  ruff.toml
Labels: CLA Signed, topic: not user facing

#1693 Update float8nocompile readme
  torchao/prototype/float8nocompile/README.md
  torchao/prototype/float8nocompile/float8nocompile_loss_curves.png
Labels: CLA Signed, topic: not user facing

#1645 Change TORCH_LIBRARY to TORCH_LIBRARY_FRAGMENT
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_aten.cpp
  torchao/experimental/ops/mps/linear_fp_act_xbit_weight_aten.mm
Labels: CLA Signed

#1703 SAM2: Collect p90 latency statistics
  examples/sam2_amg_server/generate_data.py
  examples/sam2_amg_server/result.csv
Labels: CLA Signed, topic: improvement

#1661 Add mx_fp4_kernel
  test/prototype/mx_formats/test_mx_mm.py
  torchao/csrc/cuda/mx_kernels/mx_fp_cutlass_kernels.cu
  torchao/ops.py
Labels: CLA Signed, mx, topic: new feature

#1637 Add mx_fp8_bf16 kernel
  setup.py
  test/prototype/mx_formats/test_mx_mm.py
  torchao/csrc/cuda/mx_kernels/mx_fp_cutlass_kernels.cu
  torchao/ops.py
  torchao/prototype/mx_formats/utils.py
Labels: CLA Signed, mx, topic: new feature

#1707 Fix use_hqq for int4_weight_only quantize
  torchao/_models/llama/generate.py
Labels: CLA Signed, topic: bug fix

#1595 [bc-breaking] enable direct configuration in quantize_
  test/dtypes/test_affine_quantized.py
  test/hqq/test_hqq_affine.py
  test/quantization/test_qat.py
  test/quantization/test_quant_api.py
  torchao/core/__init__.py
  torchao/core/config.py
  torchao/quantization/__init__.py
  torchao/quantization/qat/__init__.py
  torchao/quantization/qat/api.py
  torchao/quantization/quant_api.py
  torchao/quantization/transform_module.py
Labels: CLA Signed, topic: bc-breaking

#1694 config migration: float8*
  test/dtypes/test_affine_quantized.py
  test/quantization/test_quant_api.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: bc-breaking

#1696 config migration: int*
  test/dtypes/test_affine_quantized.py
  test/quantization/test_quant_api.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: bc-breaking

#1697 config migration: fpx, gemlite, uintx
  test/dtypes/test_uintx.py
  test/hqq/test_hqq_affine.py
  test/quantization/test_quant_api.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: bc-breaking

#1709 unbreak float8 static quant tutorial
  torchao/dtypes/floatx/float8_layout.py
  tutorials/calibration_flow/static_quant.py
Labels: CLA Signed, topic: bug fix

#1710 migrate static quant tutorials to direct configuration
  tutorials/calibration_flow/awq_like.py
  tutorials/calibration_flow/gptq_like.py
  tutorials/calibration_flow/static_quant.py
Labels: topic: documentation, CLA Signed

#1711 update torchao READMEs with new configuration APIs
  README.md
  torchao/quantization/README.md
  torchao/quantization/qat/README.md
Labels: topic: documentation, CLA Signed

#1716 make quantize_.set_inductor_config None by default
  torchao/quantization/README.md
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: improvement

#1688 mx formats: create MXLinearConfig
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/config.py
  torchao/prototype/mx_formats/mx_linear.py
  torchao/prototype/mx_formats/mx_ops.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: not user facing

#1689 MX: move block_size and elem_dtype into MXLinearConfig
  test/prototype/mx_formats/test_mx_linear.py
  torchao/prototype/mx_formats/README.md
  torchao/prototype/mx_formats/config.py
  torchao/prototype/mx_formats/mx_linear.py
Labels: CLA Signed, topic: improvement

#1713 MX: hook up mxfp8 and mxfp4 CUTLASS kernels to MXLinear
  test/prototype/mx_formats/test_mx_linear.py
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/README.md
  torchao/prototype/mx_formats/config.py
  torchao/prototype/mx_formats/mx_linear.py
  torchao/prototype/mx_formats/mx_ops.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: improvement

#1723 Reformat
  torchao/experimental/kernels/cpu/aarch64/kleidi/kai_matmul_clamp_f32_qai8dxp_qsi4c32p.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_linear.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight-impl.h
  torchao/experimental/ops/tests/test_linear_8bit_act_xbit_weight.cpp
Labels: CLA Signed

#1684 Fix `DDP` with `nf4`
  test/dtypes/ddp/check_ddp_nf4.py
  test/dtypes/ddp/ddp_nf4.py
  test/dtypes/ddp/run_ddp_nf4_test.sh
  torchao/dtypes/nf4tensor.py
Labels: CLA Signed, topic: bug fix

#1725 notify on wheel failure for aarch, m1, windows
  .github/workflows/build-wheels_m1.yml
  .github/workflows/build_wheels_aarch64_linux.yml
  .github/workflows/build_wheels_windows.yml
Labels: CLA Signed, topic: not user facing

#1719 Make TorchAO cpp/Python extension
  test/dtypes/test_affine_quantized.py
  test/quantization/test_marlin_qqq.py
  test/test_ops.py
  torchao/__init__.py
  torchao/csrc/cuda/rowwise_scaled_linear_cutlass/rowwise_scaled_linear_cutlass_s4s4.cu
  torchao/csrc/cuda/rowwise_scaled_linear_cutlass/rowwise_scaled_linear_cutlass_s8s4.cu
Labels: CLA Signed, fb-exported, topic: not user facing

#1729 Promote Supermask out of prototype
  test/sparsity/test_supermask.py
  torchao/prototype/sparsity/superblock/supermask.py
  torchao/sparsity/__init__.py
  torchao/sparsity/prototype/superblock/supermask.py
  torchao/sparsity/supermask.py
Labels: CLA Signed, topic: bc-breaking, sparsity

#1735 SAM2: Update README.md
  examples/sam2_amg_server/README.md
Labels: topic: documentation, CLA Signed

#1730 float8 training: clean up recipe names
  benchmarks/float8/float8_roofline.py
  test/float8/test_base.py
  test/float8/test_compile.py
  test/float8/test_dtensor.py
  test/float8/test_numerics_integration.py
  torchao/float8/config.py
Labels: CLA Signed, topic: improvement

#1731 float8 training: make the "config from recipe" API polished
  benchmarks/float8/float8_roofline.py
  benchmarks/float8/profile_linear_float8.py
  test/float8/test_base.py
  test/float8/test_compile.py
  test/float8/test_dtensor.py
  test/float8/test_numerics_integration.py
  torchao/float8/config.py
Labels: CLA Signed, topic: improvement

#1733 float8 training: add README.md entry for rowwise scaling
  torchao/float8/README.md
Labels: topic: documentation, CLA Signed

#1734 promote blocksparse from prototype, make it faster
  test/sparsity/test_sparse_api.py
  torchao/_models/llama/generate.py
  torchao/kernel/__init__.py
  torchao/kernel/bsr_triton_ops.py
  torchao/ops.py
  torchao/sparsity/README.md
  torchao/sparsity/__init__.py
  torchao/sparsity/blocksparse.py
  torchao/sparsity/sparse_api.py
Labels: CLA Signed, topic: bc-breaking, performance, sparsity

#1717 Make FakeQuantizer expose useful config details
  test/quantization/test_qat.py
  torchao/quantization/qat/fake_quantizer.py
Labels: CLA Signed, topic: improvement

#1714 Update version.txt to 0.10.0
  version.txt
Labels: CLA Signed, topic: not user facing

#1739 Set test-infra-ref param for release
  .github/workflows/build-wheels_m1.yml
  .github/workflows/build_wheels_aarch64_linux.yml
  .github/workflows/build_wheels_linux.yml
  .github/workflows/build_wheels_windows.yml
Labels: CLA Signed, topic: not user facing

#1748 Remove duplicate, confusing conditional in setup.py
  setup.py
Labels: CLA Signed, topic: not user facing

#1708 SAM2: Use torch.export for VOS
  examples/sam2_amg_server/compile_export_utils.py
  examples/sam2_amg_server/generate_data.py
  examples/sam2_vos_example/compile_export_utils.py
  examples/sam2_vos_example/requirements.txt
  examples/sam2_vos_example/video_profile.py
  torchao/_models/sam2/modeling/sam2_base.py
Labels: CLA Signed, topic: improvement

#1749 Add ciflow/rocm to bot-created tags
  .github/pytorch-probot.yml
Labels: CLA Signed, module: rocm, ciflow/rocm

#1755 Add linear bias support for QAT
  test/quantization/test_qat.py
  torchao/quantization/qat/linear.py
Labels: CLA Signed, topic: improvement

#1761 move decorators to testing/utils.py
  test/dtypes/test_affine_quantized.py
  test/dtypes/test_floatx.py
  test/dtypes/test_nf4.py
  test/dtypes/test_uint4.py
  test/float8/test_base.py
  test/float8/test_float8_utils.py
  test/hqq/test_hqq_affine.py
  test/integration/test_integration.py
  test/kernel/test_fused_kernels.py
  test/kernel/test_galore_downproj.py
  test/prototype/test_awq.py
  test/prototype/test_low_bit_optim.py
  test/prototype/test_splitk.py
  test/quantization/test_galore_quant.py
  test/quantization/test_marlin_qqq.py
  test/quantization/test_quant_api.py
  test/sparsity/test_marlin.py
  torchao/testing/utils.py
  torchao/utils.py
Labels: CLA Signed, ciflow/rocm, topic: not user facing, topic: bug fix

#1742 Allow for scales to be in new e8m0 dtype
  torchao/ops.py
Labels: CLA Signed, mx, topic: improvement

#1753 delete delayed scaling from torchao.float8
  benchmarks/float8/bench_linear_float8.py
  benchmarks/float8/bench_multi_gpu.py
  benchmarks/float8/float8_roofline.py
  benchmarks/float8/profile_linear_float8.py
  test/float8/test_base.py
  test/float8/test_compile.py
  test/float8/test_fsdp.py
  test/float8/test_fsdp.sh
  test/float8/test_fsdp2/test_fsdp2.py
  test/float8/test_fsdp_compile.py
  test/float8/test_numerics_integration.py
  torchao/float8/README.md
  torchao/float8/__init__.py
  torchao/float8/config.py
  torchao/float8/float8_linear.py
  torchao/float8/float8_linear_utils.py
  torchao/float8/float8_scaling_utils.py
  torchao/float8/float8_tensor_parallel.py
  torchao/float8/float8_utils.py
  torchao/float8/fsdp_utils.py
  torchao/float8/inductor_utils.py
  torchao/float8/roofline_utils.py
  torchao/float8/stateful_float8_linear.py
  torchao/testing/float8/fsdp2_utils.py
  torchao/testing/float8/test_utils.py
Labels: CLA Signed, topic: bc-breaking

#1762 MX Updated to_blocked to not call nn.pad
  torchao/prototype/mx_formats/utils.py
Labels: CLA Signed, mx, topic: not user facing

#1765 add MX support to lowp training profiling script
  benchmarks/float8/profile_lowp_training.py
  benchmarks/float8/utils.py
  torchao/prototype/mx_formats/config.py
Labels: CLA Signed, topic: not user facing

#1758 Update README.md
  torchao/quantization/README.md
Labels: CLA Signed, topic: not user facing

#1771 mx bench: add cast with to_blocked
  benchmarks/float8/profile_lowp_training.py
  torchao/prototype/mx_formats/mx_ops.py
Labels: CLA Signed, topic: not user facing

#1751 Fix potential out-of-bound access in int8_mm.py
  torchao/prototype/quantized_training/int8_mm.py
Labels: CLA Signed, topic: bug fix

#1776 Fix internal test_linear_8bit_act_xbit_weightAppleMac
  torchao/experimental/ops/tests/test_linear_8bit_act_xbit_weight.cpp
Labels: CLA Signed, fb-exported

#1779 [1/x] float8 cleanup: remove float8_python_api
  test/float8/test_base.py
  torchao/float8/float8_ops.py
  torchao/float8/float8_python_api.py
Labels: CLA Signed, topic: not user facing

#1780 [2/x] float8 cleanup: move roofline utils to testing
  benchmarks/float8/float8_roofline.py
  torchao/testing/float8/roofline_utils.py
Labels: CLA Signed, topic: not user facing

#1786 modify cast from hp to mx to help inductor fuse
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: performance

#1787 add a benchmark for casting a tensor to MX across dim0 and dim1
  benchmarks/float8/profile_lowp_training.py
Labels: CLA Signed, topic: not user facing

#1778 [1/x] mx roofline: make the script work on NVIDIA B200
  benchmarks/float8/float8_roofline.py
  benchmarks/float8/utils.py
  torchao/testing/float8/roofline_utils.py
Labels: CLA Signed, topic: not user facing

#1782 roofline estimation: delete axiswise scaling, for now
  benchmarks/float8/float8_roofline.py
Labels: CLA Signed, topic: not user facing

#1783 roofline estimator: simplify
  benchmarks/float8/float8_roofline.py
  torchao/testing/float8/roofline_utils.py
Labels: CLA Signed, topic: not user facing

#1791 Add support for copy_ for plain layout and tensor core tiled layout
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/dtypes/floatx/float8_layout.py
  torchao/dtypes/uintx/cutlass_int4_packed_layout.py
  torchao/dtypes/uintx/plain_layout.py
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
  torchao/quantization/linear_activation_quantized_tensor.py
Labels: CLA Signed, topic: improvement

#1794 Updating Cuda 12.1/12.4 to 12.4/12.6 to reflect current state
  README.md
Labels: topic: documentation, CLA Signed

#1795 Fixing DORA imports
  torchao/prototype/dora/kernels/matmul.py
Labels: CLA Signed, topic: bug fix

#1530 Use exp2 for mx scaling
  torchao/prototype/mx_formats/custom_cast.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: not user facing

#1801 bugfix clean_release_notes.py
  scripts/clean_release_notes.py
Labels: CLA Signed, topic: not user facing

#1803 Revert "Add support for copy_ for plain layout and tensor core tiled layout"
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/dtypes/floatx/float8_layout.py
  torchao/dtypes/uintx/cutlass_int4_packed_layout.py
  torchao/dtypes/uintx/plain_layout.py
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
  torchao/quantization/linear_activation_quantized_tensor.py
Labels: CLA Signed, ciflow/rocm, topic: not user facing
