Repository pytorch/ao, pull requests merged in 2025-01, with the labels that each got.

#1466 Run autoquant after compile
  examples/sam2_amg_server/server.py
Labels: CLA Signed, topic: not user facing

#1482 Update utils.py
  torchao/_models/utils.py
Labels: CLA Signed, topic: not user facing

#1468 SAM2: More experimental data
  examples/sam2_amg_server/annotate_with_rle.py
  examples/sam2_amg_server/compare_rle_lists.py
  examples/sam2_amg_server/compile_export_utils.py
  examples/sam2_amg_server/generate_data.py
  examples/sam2_amg_server/reproduce_experiments.py
  examples/sam2_amg_server/requirements.txt
  examples/sam2_amg_server/result.csv
  examples/sam2_amg_server/server.py
  examples/sam2_vos_example/video_profile.py
  torchao/_models/sam2/automatic_mask_generator.py
  torchao/_models/sam2/map_tensor.py
  torchao/_models/sam2/sam2_image_predictor.py
  torchao/_models/sam2/utils/amg.py
Labels: CLA Signed, topic: improvement

#1484 Make int8 dynamic quant in autoquant serializable
  .pre-commit-config.yaml
  torchao/quantization/autoquant.py
Labels: CLA Signed, topic: improvement

#1483 Lint fixes for _models
  ruff.toml
  torchao/_models/_eval.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/_models/llama/model.py
  torchao/_models/llama/tokenizer.py
  torchao/_models/sam/data.py
  torchao/_models/sam/eval_combo.py
  torchao/_models/sam/metrics.py
  torchao/_models/sam2/automatic_mask_generator.py
  torchao/_models/sam2/build_sam.py
  torchao/_models/sam2/map_tensor.py
  torchao/_models/sam2/modeling/backbones/hieradet.py
  torchao/_models/sam2/modeling/backbones/image_encoder.py
  torchao/_models/sam2/modeling/memory_attention.py
  torchao/_models/sam2/modeling/memory_encoder.py
  torchao/_models/sam2/modeling/position_encoding.py
  torchao/_models/sam2/modeling/sam/mask_decoder.py
  torchao/_models/sam2/modeling/sam/prompt_encoder.py
  torchao/_models/sam2/modeling/sam/transformer.py
  torchao/_models/sam2/modeling/sam2_base.py
  torchao/_models/sam2/sam2_image_predictor.py
  torchao/_models/sam2/sam2_video_predictor.py
  torchao/_models/sam2/utils/amg.py
  torchao/_models/sam2/utils/transforms.py
  torchao/_models/utils.py
Labels: CLA Signed, topic: not user facing

#1486 Additional fixes for autoquant serialization
  torchao/quantization/autoquant.py
Labels: CLA Signed, topic: improvement

#1487 Lint fixes for kernel folder
  ruff.toml
  torchao/kernel/__init__.py
  torchao/kernel/autotuner.py
  torchao/kernel/intmm.py
  torchao/kernel/intmm_triton.py
Labels: CLA Signed, topic: not user facing

#1485 SAM2 Batched experiments
  examples/sam2_amg_server/compile_export_utils.py
  examples/sam2_amg_server/generate_data.py
  examples/sam2_amg_server/reproduce_experiments.py
  examples/sam2_amg_server/result_batch_size_16.csv
  examples/sam2_amg_server/result_batch_size_8.csv
  examples/sam2_amg_server/server.py
  torchao/_models/sam2/automatic_mask_generator.py
  torchao/_models/sam2/modeling/sam2_base.py
  torchao/_models/sam2/sam2_image_predictor.py
  torchao/_models/sam2/utils/misc.py
Labels: CLA Signed, topic: improvement

#1504 Lint test prototype
  ruff.toml
  test/prototype/mx_formats/test_custom_cast.py
  test/prototype/mx_formats/test_mx_linear.py
  test/prototype/mx_formats/test_mx_tensor.py
  test/prototype/test_autoround.py
  test/prototype/test_awq.py
  test/prototype/test_bitpacking_gen.py
  test/prototype/test_low_bit_optim.py
  test/prototype/test_mixed_precision.py
  test/prototype/test_performance_counter.py
  test/prototype/test_quantized_training.py
  test/prototype/test_smoothquant.py
  test/prototype/test_sparse_api.py
  test/prototype/test_sparsifier.py
  test/prototype/test_sparsity_utils.py
  test/prototype/test_spinquant.py
  test/prototype/test_splitk.py
  test/prototype/test_structured_sparsifier.py
Labels: CLA Signed, topic: not user facing

#1506 Lint test dora
  ruff.toml
  test/dora/test_dora_fusion.py
  test/dora/test_dora_layer.py
Labels: CLA Signed, topic: not user facing

#1491 add add fp8 conversion kernel for column major
  torchao/prototype/float8nocompile/.gitignore
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise.py
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise_test.py
Labels: CLA Signed, topic: not user facing

#1507 Lint test galore
  ruff.toml
  test/galore/profile_memory_usage.py
  test/galore/profiling_utils.py
Labels: CLA Signed, topic: not user facing

#1508 Lint test hqq
  ruff.toml
  test/hqq/test_hqq_affine.py
  test/hqq/test_triton_mm.py
  test/hqq/test_triton_qkv_fused.py
Labels: CLA Signed, topic: not user facing

#1509 Lint test integration
  ruff.toml
  test/integration/test_integration.py
Labels: CLA Signed, topic: not user facing

#1492 add fp8 conversion kernel for transpose in row major format
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise.py
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise_test.py
Labels: CLA Signed, topic: not user facing

#1510 Lint test kernel
  ruff.toml
  test/kernel/galore_test_utils.py
  test/kernel/test_autotuner.py
  test/kernel/test_fused_kernels.py
  test/kernel/test_galore_downproj.py
Labels: CLA Signed, topic: not user facing

#1503 Move test file to right location
  test/quantization/test_gptq_mt.py
Labels: CLA Signed, topic: not user facing

#1493 add fp8 conversion kernel for transpose in column major format
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise.py
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise_test.py
Labels: CLA Signed, topic: not user facing

#1511 Lint test folder
  ruff.toml
  test/smoke_tests/smoke_tests.py
  test/test_ao_models.py
  test/test_ops.py
  test/test_s8s4_linear_cutlass.py
  test/test_utils.py
Labels: CLA Signed, topic: not user facing

#1494 add fp8 conversion kernel that writes both row and column major outputs
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise.py
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise_test.py
Labels: CLA Signed, topic: not user facing

#1495 add torch autograd funcs wrapping new fp8 conversion kernels
  torchao/prototype/float8nocompile/float8nocompile_scaling_utils.py
Labels: CLA Signed, topic: not user facing

#1513 🐛 Fix: Memory leak in image processing endpoint
  examples/sam2_amg_server/server.py
Labels: CLA Signed, topic: bug fix

#1502 Add min_sqnr to torchao/_models
  examples/sam2_amg_server/compile_export_utils.py
  examples/sam2_amg_server/server.py
  torchao/_models/llama/generate.py
  torchao/_models/sam/eval_combo.py
  torchao/_models/utils.py
  torchao/quantization/autoquant.py
Labels: CLA Signed, topic: not user facing

#1519 Lint benchmark folder
  benchmarks/bench_galore_fused_kernels.py
  benchmarks/benchmark_aq.py
  benchmarks/benchmark_fp6.py
  benchmarks/benchmark_gpu_sparsity.py
  benchmarks/benchmark_hqq.py
  benchmarks/benchmark_low_bit_adam.py
  benchmarks/benchmark_marlin_qqq.py
  benchmarks/benchmark_s8s4_cutlass.py
  benchmarks/benchmark_semi_sparse_training.py
  benchmarks/benchmark_uintx.py
  benchmarks/dora/bench_utils.py
  benchmarks/dora/dora_bench.py
  benchmarks/float8/bench_linear_float8.py
  benchmarks/float8/bench_matmul.py
  benchmarks/float8/bench_multi_gpu.py
  benchmarks/float8/bench_padding.py
  benchmarks/float8/float8_roofline.py
  benchmarks/float8/profile_linear_float8.py
  benchmarks/float8/utils.py
  benchmarks/fused_benchmark_utils.py
  benchmarks/intmm.py
  benchmarks/print_config_shapes.py
  benchmarks/quantized_training/benchmark_int8mm.py
  benchmarks/quantized_training/pretrain_llama2.py
  ruff.toml
  torchao/prototype/float8nocompile/float8nocompile_scaling_utils.py
Labels: CLA Signed, topic: not user facing

#1527 Fix gcc warning
  torchao/csrc/cuda/sparse_marlin/marlin_kernel_nm.cu
Labels: CLA Signed, topic: not user facing

#1497 add fused transpose and non-transpose kernel and use it for grad output
  torchao/prototype/float8nocompile/__init__.py
  torchao/prototype/float8nocompile/float8nocompile_linear.py
  torchao/prototype/float8nocompile/float8nocompile_scaling_utils.py
  torchao/prototype/float8nocompile/kernels/__init__.py
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise.py
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise_test.py
Labels: CLA Signed, topic: not user facing

#1520 Lint tutorials
  ruff.toml
  tutorials/add_an_op.py
  tutorials/calibration_flow/awq_like.py
  tutorials/calibration_flow/gptq_like.py
  tutorials/calibration_flow/static_quant.py
  tutorials/developer_api_guide/export_to_executorch.py
  tutorials/developer_api_guide/my_dtype_tensor_subclass.py
  tutorials/developer_api_guide/my_trainable_tensor_subclass.py
  tutorials/developer_api_guide/print_op_and_shapes.py
  tutorials/developer_api_guide/tensor_parallel.py
  tutorials/huggingface_24sparse_example.py
  tutorials/quantize_vit/bfloat16_code.py
  tutorials/quantize_vit/quant_code.py
  tutorials/quantize_vit/run_vit_b.py
  tutorials/quantize_vit/run_vit_b_quant.py
Labels: CLA Signed, topic: not user facing

#1521 Lint ao
  .github/scripts/github_utils.py
  .github/scripts/gitutils.py
  .github/scripts/label_utils.py
  .github/scripts/trymerge.py
  .github/scripts/trymerge_explainer.py
  docs/source/conf.py
  docs/source/tutorials_source/template_tutorial.py
  examples/sam2_amg_server/amg_example.py
  examples/sam2_amg_server/annotate_with_rle.py
  examples/sam2_amg_server/cli.py
  examples/sam2_amg_server/cli_on_modal.py
  examples/sam2_amg_server/compare_rle_lists.py
  examples/sam2_amg_server/generate_data.py
  examples/sam2_amg_server/reproduce_experiments.py
  examples/sam2_amg_server/server.py
  examples/sam2_vos_example/video_profile.py
  packaging/smoke_test.py
  ruff.toml
  scripts/clean_release_notes.py
  scripts/convert_hf_checkpoint.py
  scripts/create_weight_map.py
  scripts/download.py
  scripts/hf_eval.py
  setup.py
  torchao/experimental/_linear_8bit_act_xbit_weight_layout.py
  torchao/experimental/kernels/mps/codegen/gen_metal_shader_lib.py
  torchao/experimental/ops/mps/test/test_lowbit.py
  torchao/experimental/ops/mps/test/test_quantizer.py
  torchao/experimental/quant_api.py
  torchao/experimental/temp_build.py
  torchao/experimental/tests/test_embedding_xbit_quantizer.py
  torchao/experimental/tests/test_linear_8bit_act_xbit_weight_quantizer.py
  torchao/experimental/tests/test_linear_int8_dynamic_activation_intx_weight_subclass.py
Labels: CLA Signed, topic: not user facing

#1512 add handling for batch dim in float8nocompile
  torchao/prototype/float8nocompile/float8nocompile_linear.py
  torchao/prototype/float8nocompile/float8nocompile_linear_test.py
  torchao/prototype/float8nocompile/float8nocompile_linear_utils.py
  torchao/prototype/float8nocompile/test/train_test.py
Labels: CLA Signed, topic: not user facing

#1516 fix bug in tl.store mask for kernel _to_fp8_row_major_t_and_non_t
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise.py
  torchao/prototype/float8nocompile/test/train_test.py
Labels: CLA Signed, topic: not user facing

#1531 Skip calling unwrap_tensor_subclass for torch 2.7+
  test/integration/test_integration.py
  torchao/quantization/README.md
  torchao/utils.py
Labels: CLA Signed, topic: not user facing

#1533 Update CI to ues checkout v4
  .github/workflows/dashboard_perf_test.yml
  .github/workflows/doc_build.yml
  .github/workflows/ruff_linter.yml
  .github/workflows/trymerge.yml
Labels: CLA Signed, topic: not user facing

#1532 Skip tests on fbcode
  test/quantization/test_gptq_mt.py
Labels: CLA Signed, fb-exported, topic: not user facing

#1542 Fix failing docs build in CI
  .github/workflows/doc_build.yml
Labels: CLA Signed, topic: not user facing

#1490 torchao setup.py with cmake
  setup.py
  torchao/__init__.py
Labels: CLA Signed, fb-exported, topic: improvement, build

#1543 SAM2: Rerun batch size 1 experiments on latest nightly
  examples/sam2_amg_server/compile_export_utils.py
  examples/sam2_amg_server/reproduce_experiments.py
  examples/sam2_amg_server/result.csv
  examples/sam2_amg_server/server.py
Labels: CLA Signed, topic: improvement

#1546 Add run_tutorials github action and fix existing errors
  .github/pytorch-probot.yml
  .github/workflows/run_tutorials.yml
  torchao/quantization/linear_activation_quantized_tensor.py
  tutorials/calibration_flow/awq_like.py
  tutorials/calibration_flow/gptq_like.py
  tutorials/calibration_flow/static_quant.py
  tutorials/developer_api_guide/my_trainable_tensor_subclass.py
  tutorials/huggingface_24sparse_example.py
  tutorials/run_all.sh
Labels: CLA Signed, topic: not user facing, ciflow/tutorials

#1539 Add support for eager mode performance
  examples/sam2_amg_server/server.py
  scripts/upload_to_s3.py
  torchao/_models/llama/generate.py
  torchao/_models/sam/eval_combo.py
  torchao/_models/utils.py
Labels: CLA Signed, topic: not user facing

#1550 Update run_tutorials.yml
  .github/workflows/run_tutorials.yml
Labels: CLA Signed, topic: not user facing, ciflow/tutorials

#1551 Remove temp build files from torchao
  torchao/_models/llama/generate.py
  torchao/experimental/tests/test_embedding_xbit_quantizer.py
  torchao/experimental/tests/test_linear_8bit_act_xbit_weight_quantizer.py
  torchao/experimental/tests/test_linear_int8_dynamic_activation_intx_weight_subclass.py
Labels: CLA Signed, fb-exported

#1540 Add convert path for quantize_ QAT API
  test/quantization/test_qat.py
  torchao/quantization/qat/__init__.py
  torchao/quantization/qat/api.py
  torchao/quantization/qat/embedding.py
  torchao/quantization/qat/linear.py
Labels: CLA Signed, topic: improvement

#1552 Fix run_tutorials code
  .github/workflows/run_tutorials.yml
  dev-requirements.txt
  tutorials/developer_api_guide/my_dtype_tensor_subclass.py
  tutorials/developer_api_guide/my_trainable_tensor_subclass.py
  tutorials/run_all.sh
Labels: CLA Signed, topic: not user facing, ciflow/tutorials

#1536 Verify that submodules are checked out
  setup.py
Labels: CLA Signed, topic: for developers, build

#1458 [cleanup][1/x] make hp_tensor_to_float8_dynamic only work with hp inputs
  torchao/float8/float8_linear.py
  torchao/float8/float8_scaling_utils.py
  torchao/float8/float8_tensor_parallel.py
  torchao/float8/stateful_float8_linear.py
Labels: CLA Signed, topic: not user facing

#1461 [cleanup][2/x] split float8 mm by delayed vs dynamic
  torchao/float8/float8_linear.py
  torchao/float8/stateful_float8_linear.py
Labels: CLA Signed, topic: not user facing

#1480 [cleanup][3/x] unify dynamic input and grad_output casting
  benchmarks/float8/profile_linear_float8.py
  torchao/float8/float8_linear.py
Labels: CLA Signed, topic: not user facing

#1538 Make sure tests are ran with pytest
  test/test_ops.py
Labels: CLA Signed, topic: not user facing

#1544 Fix torch.intx support in FakeQuantizeConfig
  test/quantization/test_qat.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed, topic: bug fix

#1553 Clean up linear_int8_dynamic_activation_intx_weight_subclass
  torchao/_models/llama/generate.py
  torchao/dtypes/uintx/plain_layout.py
  torchao/dtypes/utils.py
  torchao/experimental/_linear_8bit_act_xbit_weight_layout.py
  torchao/experimental/docs/readme.md
  torchao/experimental/packed_linear_int8_dynamic_activation_intx_weight_layout.py
  torchao/experimental/quant_api.py
  torchao/experimental/tests/test_packed_linear_int8_dynamic_activation_intx_weight_layout.py
Labels: CLA Signed, fb-exported, topic: improvement

#1500 SAM2 Modal script extensions
  examples/sam2_amg_server/cli_on_modal.py
  examples/sam2_amg_server/generate_data.py
  examples/sam2_amg_server/modal_experiments.sh
Labels: CLA Signed, topic: improvement

#1562 Fix float related autoquant options
  test/integration/test_integration.py
  torchao/_models/utils.py
  torchao/quantization/autoquant.py
Labels: CLA Signed, autoquant, topic: bug fix

#1565 Update __init__.py to load experimental ops even if other C++ ops are not found
  torchao/__init__.py
Labels: CLA Signed, topic: improvement

#1560 Bug Fix (#1559): sparsity instead of sparstiy
  torchao/_models/llama/eval.py
Labels: CLA Signed, topic: bug fix

#1517 [float8nocompile] support option to not precompute fp8 tensor for backward
  torchao/prototype/float8nocompile/float8nocompile_linear.py
  torchao/prototype/float8nocompile/float8nocompile_linear_utils.py
  torchao/prototype/float8nocompile/test/train_test.py
Labels: CLA Signed, topic: not user facing

#1523 [float8nocompile] add e2e fsdp test
  torchao/prototype/float8nocompile/.gitignore
  torchao/prototype/float8nocompile/test/fsdp_test.py
Labels: CLA Signed, topic: not user facing

#1566 [float8nocompile] add triton kernel which does fp8 conversion to col major and transpose in col major at once
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise.py
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise_test.py
Labels: CLA Signed, topic: not user facing

#1469 Add a register_replacement to fix float8 delayed scaling kernel fusion issues in torchao/float8
  benchmarks/float8/profile_linear_float8.py
  test/float8/test_compile.py
  torchao/float8/README.md
  torchao/float8/__init__.py
  torchao/float8/inductor_utils.py
Labels: CLA Signed, fb-exported, topic: not user facing

#1568 Update version to 0.9.0
  version.txt
Labels: CLA Signed, topic: not user facing

#1573 Update supported dtypes for fp8
  torchao/quantization/README.md
Labels: topic: documentation, CLA Signed

#1571 Relax dtype requirements for int4 and float8 quants in autoquant
  test/integration/test_integration.py
  torchao/dtypes/uintx/marlin_sparse_layout.py
  torchao/quantization/autoquant.py
Labels: CLA Signed, autoquant, topic: improvement

#999 Enable ROCM in CI
  .github/workflows/regression_test.yml
  torchao/utils.py
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing

#1563 Skip Unit Tests for ROCm CI
  test/__init__.py
  test/dtypes/test_affine_quantized.py
  test/dtypes/test_floatx.py
  test/float8/test_base.py
  test/hqq/test_hqq_affine.py
  test/integration/test_integration.py
  test/kernel/test_galore_downproj.py
  test/prototype/test_awq.py
  test/prototype/test_low_bit_optim.py
  test/prototype/test_splitk.py
  test/quantization/test_galore_quant.py
  test/quantization/test_marlin_qqq.py
  test/sparsity/test_marlin.py
  test/test_ops.py
  test/test_s8s4_linear_cutlass.py
  test/test_utils.py
Labels: CLA Signed, module: rocm, topic: not user facing

#1579 Delete unused QAT utils code
  torchao/quantization/qat/utils.py
Labels: CLA Signed, topic: not user facing

#1580 Revert "Skip Unit Tests for ROCm CI"
  test/__init__.py
  test/dtypes/test_affine_quantized.py
  test/dtypes/test_floatx.py
  test/float8/test_base.py
  test/hqq/test_hqq_affine.py
  test/integration/test_integration.py
  test/kernel/test_galore_downproj.py
  test/prototype/test_awq.py
  test/prototype/test_low_bit_optim.py
  test/prototype/test_splitk.py
  test/quantization/test_galore_quant.py
  test/quantization/test_marlin_qqq.py
  test/sparsity/test_marlin.py
  test/test_ops.py
  test/test_s8s4_linear_cutlass.py
  test/test_utils.py
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing

#1583 Revert "Enable ROCM in CI"
  .github/workflows/regression_test.yml
  torchao/utils.py
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing

#1576 Fix CI linux_job permissions
  .github/workflows/float8_test.yml
  .github/workflows/nightly_smoke_test.yml
  .github/workflows/regression_test.yml
  test/integration/test_integration.py
Labels: CLA Signed, ci, topic: not user facing

#1545 Refactor s8s4_linear_cutlass()
  torchao/csrc/cuda/s8s4_linear_cutlass/s8s4_linear_cutlass.cu
Labels: CLA Signed, topic: not user facing

#1590 Sparsity docs update
  docs/source/api_ref_sparsity.rst
  torchao/sparsity/sparse_api.py
Labels: topic: documentation, CLA Signed

#1592 Sparsity getting started docs
  docs/source/index.rst
  docs/source/sparsity.rst
Labels: topic: documentation, CLA Signed

#1602 gate sparsity tests by presence of cusparselt
  test/dtypes/test_affine_quantized.py
Labels: CLA Signed, topic: not user facing

#1582 Fix broken link on doc page
  docs/source/_templates/layout.html
Labels: topic: documentation, CLA Signed

#1608 pin nightlies to 20250122
  .github/workflows/float8_test.yml
  .github/workflows/nightly_smoke_test.yml
  .github/workflows/regression_test.yml
Labels: CLA Signed, topic: not user facing

#1589 [BE] Only run docs build in CI if docs have changed
  .github/workflows/doc_build.yml
Labels: CLA Signed, ci, topic: improvement

#1570 [float8nocompile] Add float8nocompile CI tests which only trigger on relevant code changes
  .github/workflows/float8nocompile_test.yaml
Labels: CLA Signed, ci, topic: not user facing

#1578 [CPU] Fix registration of int4wo linear implementation on CPU
  test/quantization/test_quant_api.py
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/dtypes/uintx/int4_cpu_layout.py
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: not user facing, topic: bug fix

#1575 Add H100 to Float8 CI for testing
  .github/workflows/float8_test.yml
Labels: CLA Signed, ci, topic: not user facing

#1611 Add quick start guide for first time users
  .gitignore
  docs/source/contributor_guide.rst
  docs/source/getting-started.rst
  docs/source/index.rst
  docs/source/overview.rst
  docs/source/quantization.rst
  docs/source/quick_start.rst
  docs/source/sparsity.rst
  scripts/quick_start.py
Labels: topic: documentation, CLA Signed

#1603 Move fpx to tensor subclass
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/floatx/__init__.py
  torchao/dtypes/floatx/floatx_tensor_core_layout.py
Labels: CLA Signed, topic: not user facing, topic: for developers

#1610 Update api_ref_dtypes docs
  docs/source/api_ref_dtypes.rst
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/floatx/float8_layout.py
  torchao/dtypes/floatx/floatx_tensor_core_layout.py
  torchao/dtypes/nf4tensor.py
  torchao/dtypes/uintx/block_sparse_layout.py
  torchao/dtypes/uintx/cutlass_int4_packed_layout.py
  torchao/dtypes/uintx/int4_cpu_layout.py
  torchao/dtypes/uintx/marlin_qqq_tensor.py
  torchao/dtypes/uintx/marlin_sparse_layout.py
  torchao/dtypes/uintx/semi_sparse_layout.py
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
  torchao/dtypes/uintx/uintx_layout.py
  torchao/dtypes/utils.py
Labels: topic: documentation, CLA Signed

#1596 Add module swap -> tensor subclass migration tutorial
  docs/source/contributor_guide.rst
  docs/source/index.rst
  docs/source/subclass_advanced.rst
  docs/source/subclass_basic.rst
  tutorials/examples/logging_subclass.py
  tutorials/examples/quantized_module_swap.py
  tutorials/examples/quantized_subclass.py
Labels: topic: documentation, CLA Signed

#1569 mx cleanup [1/x]: unbreak mx_formats tests
  test/prototype/mx_formats/test_mx_linear.py
Labels: CLA Signed, topic: not user facing

#1593 mx cleanup [2/x]: refactor mx gemm
  test/prototype/mx_formats/test_mx_linear.py
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/mx_linear.py
  torchao/prototype/mx_formats/mx_ops.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: not user facing

#1597 add separate quantization primitives for float8
  test/quantization/test_quant_primitives.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed, quantize, topic: improvement

#1626 Update symlink to use 0.8 docs
  stable
Labels: CLA Signed

#1628 Update versions.html to show versions of the docs
  versions.html
Labels: CLA Signed

#1627 Prepare for -DPy_LIMITED_API flag in pytorch #145764
  setup.py
  torchao/csrc/cuda/fp6_llm/fp6_linear.cu
  torchao/csrc/cuda/s8s4_linear_cutlass/s8s4_linear_cutlass.cu
  torchao/csrc/cuda/tensor_core_tiled_layout/tensor_core_tiled_layout.cu
Labels: CLA Signed, topic: for developers, build

#1631 Update docs to refer to version.html
  docs/source/_templates/layout.html
Labels: topic: documentation, CLA Signed

#1547 notify when CI job fails
  .github/workflows/build_wheels_linux.yml
Labels: CLA Signed, topic: not user facing

#1586 Add torchao/experimental CI test
  .github/workflows/torchao_experimental_test.yml
Labels: CLA Signed, topic: improvement

#1556 Consolidate `ZeroPointDomain.NONE` & `None` zero point domains
  test/integration/test_integration.py
  test/quantization/test_observer.py
  test/quantization/test_quant_primitives.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/uintx/marlin_qqq_tensor.py
  torchao/quantization/observer.py
  torchao/quantization/qat/affine_fake_quantized_tensor.py
  torchao/quantization/qat/api.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed, topic: bc-breaking, topic: improvement

#1640 Pass all args to pytest.main to propagate user options like -k
  test/test_ops.py
Labels: CLA Signed, topic: not user facing

#1612 only run docs CI jobs on PRs when docs have changed
  .github/workflows/doc_build.yml
Labels: CLA Signed, topic: improvement

#1630 Fix `.item()` issue in running parallel evaluation for BO mixed precision
  torchao/prototype/quantization/mixed_precision/scripts/BO_acc_modelsize.py
Labels: CLA Signed, fb-exported, topic: bug fix

#1618 Split contributor guide into quantization overview
  docs/source/contributor_guide.rst
  docs/source/quantization.rst
Labels: topic: documentation, CLA Signed

#1619 Update api_ref_quantization docs
  docs/source/api_ref_quantization.rst
  docs/source/api_ref_sparsity.rst
Labels: topic: documentation, CLA Signed

#1638 [Experimental][Kleidi] Add GEMM operator tests
  torchao/experimental/kernels/cpu/aarch64/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/kleidi/kai_matmul_clamp_f32_qai8dxp1x8_qsi4c32p4x8_1x4x32_neon_dotprod.h
  torchao/experimental/kernels/cpu/aarch64/kleidi/kai_matmul_clamp_f32_qai8dxp1x8_qsi4c32p8x8_1x8x32_neon_dotprod.h
  torchao/experimental/kernels/cpu/aarch64/kleidi/kai_matmul_clamp_f32_qai8dxp4x8_qsi4c32p4x8_8x4x32_neon_i8mm.h
  torchao/experimental/kernels/cpu/aarch64/kleidi/kai_matmul_clamp_f32_qai8dxp4x8_qsi4c32p8x8_4x8x32_neon_i8mm.h
  torchao/experimental/ops/tests/CMakeLists.txt
  torchao/experimental/ops/tests/build_and_run_tests.sh
  torchao/experimental/ops/tests/generate_tests.py
  torchao/experimental/ops/tests/test_linear_8bit_act_xbit_weight.cpp
Labels: CLA Signed, cpu, topic: not user facing

#1620 mx: add ceil and RNE rounding modes to the cast from fp32 to e8m0
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: improvement

#1624 skip failing MX tests on cuda capability 10.0
  test/prototype/mx_formats/test_custom_cast.py
  test/prototype/mx_formats/test_mx_linear.py
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/utils.py
Labels: CLA Signed, topic: not user facing

#1447 [Feat]: Add support for kleidiai quantization schemes
  torchao/experimental/docs/readme.md
  torchao/experimental/packed_linear_int8_dynamic_activation_intx_weight_layout.py
  torchao/experimental/quant_api.py
  torchao/experimental/tests/test_packed_linear_int8_dynamic_activation_intx_weight_layout_target_aten.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#1646 Ruff lint
  torchao/experimental/packed_linear_int8_dynamic_activation_intx_weight_layout.py
  torchao/experimental/quant_api.py
  torchao/experimental/tests/test_packed_linear_int8_dynamic_activation_intx_weight_layout_target_aten.py
Labels: CLA Signed, ci

#1629 float8 rowwise training: add FSDP workaround
  torchao/float8/float8_linear.py
Labels: CLA Signed, topic: performance
