Repository pytorch/ao, pull requests merged in 2025-09, with the labels that each got.

#2916 [Intel GPU][doc] Change x86 quantizer to xpu quantizer in doc
  docs/source/tutorials_source/pt2e_quant_xpu_inductor.rst
Labels: CLA Signed

#2918 fix torchao version check on torch version
  torchao/__init__.py
Labels: CLA Signed, topic: bug fix

#2922 another fix for torch version
  torchao/__init__.py
Labels: CLA Signed, topic: bug fix

#2913 SpinQuant rotate bias
  torchao/prototype/spinquant/hadamard_utils.py
Labels: CLA Signed, fb-exported, topic: improvement

#2911 [fp8 moe training] improve 3d quant kernel perf via removing annotations for strides that don't require int64 to represent
  torchao/prototype/moe_training/kernels/float8_rowwise.py
Labels: CLA Signed, topic: not user facing

#2920 Update README.md with link to version compatibility matrix
  README.md
Labels: topic: documentation, CLA Signed

#2925 Added SpinQuant rotation unit test
  torchao/prototype/spinquant/hadamard_utils.py
  torchao/prototype/tests/test_spinquant.py
Labels: CLA Signed, topic: improvement

#2927 Exclude libcuda.so from auditwheel replair
  .github/workflows/build_wheels_linux.yml
  packaging/post_build_script.sh
Labels: CLA Signed, topic: bug fix

#2695 [pt2e] Avoid getting model device once per node
  torchao/quantization/pt2e/convert.py
  torchao/quantization/pt2e/observer.py
  torchao/quantization/pt2e/prepare.py
  torchao/quantization/pt2e/utils.py
Labels: CLA Signed, topic: improvement

#2924 Set seed in numeric tests to make them more reliable
  test/prototype/test_dynamic_activation_lut.py
Labels: CLA Signed, topic: not user facing

#2845 Add Int4PlainInt32Tensor
  test/quantization/quantize_/workflows/int4/test_int4_plain_int32_tensor.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
  torchao/quantization/quantize_/common/packing_format.py
  torchao/quantization/quantize_/workflows/__init__.py
  torchao/quantization/quantize_/workflows/int4/int4_plain_int32_tensor.py
Labels: CLA Signed, topic: new feature

#2935 Remove unused attributes in Float8Tensor
  torchao/quantization/quantize_/workflows/float8/float8_tensor.py
Labels: CLA Signed, topic: improvement

#2941 Fix xnnpack export
  test/quantization/quantize_/workflows/intx/test_intx_unpacked_to_int8_tensor.py
  torchao/quantization/quant_api.py
  torchao/quantization/quantize_/workflows/intx/intx_opaque_tensor.py
  torchao/quantization/quantize_/workflows/intx/intx_unpacked_to_int8_tensor.py
Labels: CLA Signed, topic: bug fix

#2945 Update model script for INT8-INT4
  .github/scripts/torchao_model_releases/quantize_and_upload.py
Labels: CLA Signed, topic: not user facing

#2946 Move packing format used by int4 to int4_packing_format.py
  test/core/test_config.py
  test/quantization/quantize_/workflows/int4/test_int4_marlin_sparse_tensor.py
  test/quantization/quantize_/workflows/int4/test_int4_opaque_tensor.py
  test/quantization/quantize_/workflows/int4/test_int4_plain_int32_tensor.py
  test/quantization/quantize_/workflows/int4/test_int4_preshuffled_tensor.py
  test/quantization/quantize_/workflows/int4/test_int4_tensor.py
  test/quantization/quantize_/workflows/int4/test_int4_tile_packed_to_4d_tensor.py
  torchao/quantization/quant_api.py
  torchao/quantization/quantize_/common/packing_format.py
  torchao/quantization/quantize_/workflows/__init__.py
  torchao/quantization/quantize_/workflows/int4/int4_packing_format.py
Labels: CLA Signed, topic: improvement

#2952 Delete copy of quantized SDPA in torchao/experimental
  torchao/experimental/kernels/cpu/aarch64/macro.h
  torchao/experimental/kernels/cpu/aarch64/matmul/channelwise_8bit_a_channelwise_8bit_b_1x16x16_f32_smlal-impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/channelwise_8bit_a_channelwise_8bit_b_1x8x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/channelwise_8bit_a_channelwise_8bit_b_4x8x8_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/fp32_a_input_channelwise_8bit_b_1x16x4_f32_impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/fp32_a_input_channelwise_8bit_b_4x16x4_f32_impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/matmul.h
  torchao/experimental/kernels/cpu/aarch64/matmul/matmul_utils.h
  torchao/experimental/kernels/cpu/fallback/matmul/channelwise_8bit_a_channelwise_8bit_b.h
  torchao/experimental/kernels/cpu/fallback/matmul/fp32_a_channelwise_8bit_b_fp32_c.h
  torchao/experimental/kernels/cpu/interface/quantized_matmul.h
  torchao/experimental/kernels/cpu/interface/test_qmatmul_interface.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#2943 Add eval scripts for memory, latency and quality
  .github/scripts/torchao_model_releases/README.md
  .github/scripts/torchao_model_releases/eval.sh
  .github/scripts/torchao_model_releases/eval_env_checks.sh
  .github/scripts/torchao_model_releases/eval_latency.sh
  .github/scripts/torchao_model_releases/eval_memory.sh
  .github/scripts/torchao_model_releases/eval_peak_memory_usage.py
  .github/scripts/torchao_model_releases/eval_quality.sh
  .github/scripts/torchao_model_releases/release.sh
  .github/scripts/torchao_model_releases/summarize_results.sh
Labels: CLA Signed, topic: not user facing

#2959 IntxWeightOnlyConfig/Int8DynamicIntxWeightConfig v2 migration: use version=1 in tests
  .github/workflows/torchao_experimental_test.yml
  test/quantization/quantize_/workflows/intx/test_intx_opaque_tensor.py
  test/quantization/test_int8_dynamic_activation_intx_weight_config_v1.py
  torchao/experimental/quant_api.py
  torchao/quantization/quantize_/workflows/intx/intx_opaque_tensor.py
Labels: CLA Signed, topic: not user facing

#2955 Use defaults CUDAExtension linker option when building mxfp8_cuda
  setup.py
Labels: CLA Signed, topic: not user facing

#2949 Bump `Int4WeightOnlyConfig` version to 2
  .github/scripts/torchao_model_releases/quantize_and_upload.py
  test/dtypes/test_affine_quantized_tensor_parallel.py
  test/integration/test_load_and_run_checkpoint.py
  test/prototype/test_awq.py
  test/quantization/quantize_/workflows/int4/test_int4_marlin_sparse_tensor.py
  test/quantization/quantize_/workflows/int4/test_int4_opaque_tensor.py
  test/quantization/quantize_/workflows/int4/test_int4_plain_int32_tensor.py
  test/quantization/quantize_/workflows/int4/test_int4_preshuffled_tensor.py
  test/quantization/quantize_/workflows/int4/test_int4_tensor.py
  test/quantization/quantize_/workflows/int4/test_int4_tile_packed_to_4d_tensor.py
  torchao/dtypes/uintx/int4_cpu_layout.py
  torchao/dtypes/uintx/int4_xpu_layout.py
  torchao/dtypes/uintx/marlin_sparse_layout.py
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
  torchao/prototype/awq/example.py
  torchao/quantization/README.md
  torchao/quantization/quant_api.py
  torchao/sparsity/README.md
Labels: CLA Signed, topic: deprecation

#2963 Skip QAT tests using `quantize_fp8_row` in fbcode
  test/quantization/test_qat.py
Labels: CLA Signed, topic: not user facing

#2965 Move some experimental tests
  .github/workflows/regression_test_aarch64.yml
  test/prototype/test_groupwise_lowbit_weight_lut_quantizer.py
  test/quantization/test_embedding_xbit_quantizer.py
Labels: CLA Signed, topic: not user facing

#2966 Add support for only update models and push to a different user ID
  .github/scripts/torchao_model_releases/eval.sh
  .github/scripts/torchao_model_releases/quantize_and_upload.py
  .github/scripts/torchao_model_releases/release.sh
Labels: CLA Signed, topic: not user facing

#2938 [CPU] Support int8 scaled embedding bag
  test/test_ops.py
  torchao/csrc/cpu/aten_kernels/scaled_embedding_bag.cpp
Labels: CLA Signed, topic: not user facing

#2974 Revert "[CPU] Support int8 scaled embedding bag"
  test/test_ops.py
  torchao/csrc/cpu/aten_kernels/scaled_embedding_bag.cpp
Labels: CLA Signed, topic: not user facing, ci-no-td

#2973 Update latency test script due to deprecation in vllm
  .github/scripts/torchao_model_releases/eval_latency.sh
Labels: CLA Signed, topic: not user facing

#3007 Fix parametrized tests
  test/quantization/test_int8_dynamic_activation_intx_weight_config_v1.py
Labels: CLA Signed, fb-exported, topic: not user facing, meta-exported

#3005 Rename Int4WeightPreshuffledFakeQuantizeConfig
  test/quantization/test_qat.py
  torchao/quantization/qat/fake_quantize_config.py
  torchao/quantization/qat/fake_quantizer.py
Labels: CLA Signed, topic: bc-breaking

#2995 Remove internal usage of all config functions like `int4_weight_only`
  benchmarks/benchmark_aq.py
  benchmarks/quantized_training/pretrain_llama2.py
  test/dtypes/test_affine_quantized.py
  test/dtypes/test_affine_quantized_tensor_parallel.py
  test/dtypes/test_floatx.py
  test/dtypes/test_uintx.py
  test/hqq/test_hqq_affine.py
  test/integration/test_integration.py
  test/prototype/test_parq.py
  test/quantization/pt2e/test_x86inductor_fusion.py
  test/quantization/test_marlin_qqq.py
  test/quantization/test_quant_api.py
  test/sparsity/test_marlin.py
  test/sparsity/test_sparse_api.py
  torchao/_models/llama/eval.py
  torchao/_models/llama/generate.py
  torchao/_models/sam/eval_combo.py
  torchao/dtypes/floatx/README.md
  torchao/prototype/autoround/README.md
  torchao/prototype/autoround/eval_autoround.py
  torchao/prototype/hqq/example.py
  torchao/prototype/quantization/mixed_precision/scripts/naive_intNwo.py
  torchao/prototype/quantized_training/int8.py
  torchao/quantization/README.md
  torchao/quantization/pt2e/inductor_passes/x86.py
  torchao/quantization/pt2e/tests/test_reference_representation_rewrite.py
  torchao/quantization/quant_api.py
  torchao/sparsity/sparse_api.py
  torchao/testing/utils.py
  tutorials/quantize_vit/run_vit_b_quant.py
Labels: CLA Signed, topic: not user facing

#2998 [mxfp8 moe training] use dim1 cast cuda kernel for 3d weights by reshaping to 2d
  benchmarks/utils.py
  torchao/prototype/moe_training/scaled_grouped_mm.py
Labels: CLA Signed, mx, topic: not user facing, moe

#2999 [moe training] add benchmarks for dsv3 236b, 671b shapes; reorganize benchmarks dir
  benchmarks/prototype/moe_training/bench_2d_3d_grouped_gemm.py
  benchmarks/prototype/moe_training/benchmark_scaled_grouped_mm_dq.py
  benchmarks/prototype/moe_training/fp8_rowwise/bench_triton_fp8_per_group_colwise_scales.py
  benchmarks/prototype/moe_training/fp8_rowwise/bench_triton_fp8_per_group_rowwise_scales.py
  benchmarks/prototype/moe_training/fp8_rowwise/bench_triton_fp8_rowwise_3d_transpose_rhs.py
  benchmarks/prototype/moe_training/mxfp8/bench_triton_mx_block_rearrange_2d_M_groups.py
  benchmarks/prototype/moe_training/mxfp8/bench_triton_mx_block_rearrange_per_group_3d.py
Labels: CLA Signed, topic: not user facing, moe

#3014 [sparse] Add in missing op support for FP8 Sparse
  test/sparsity/test_sparse_api.py
  torchao/dtypes/floatx/cutlass_semi_sparse_layout.py
Labels: CLA Signed, sparsity, topic: improvement

#3015 Fix torchao_convert, remove StretchedAffineQuantizedTensor
  test/prototype/test_parq.py
  torchao/core/config.py
  torchao/prototype/parq/optim/quantopt.py
  torchao/prototype/parq/quant/config_torchao.py
  torchao/prototype/parq/quant/quant_api.py
Labels: CLA Signed, topic: bug fix

#3032 Remove FbgemmConfig and remaining Fbgemm tensors
  docs/source/torchao_vllm_integration.md
  test/core/test_config.py
  test/dtypes/test_affine_quantized.py
  torchao/_models/llama/generate.py
  torchao/dtypes/__init__.py
  torchao/dtypes/fbgemm_fp8_tensor.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: not user facing

#3029 Add main tensor conversion API for packed tensors
  test/prototype/test_tensor_conversion.py
  torchao/prototype/tensor_conversion/api.py
Labels: CLA Signed, topic: not user facing

#3002 [mxfp8 moe training] add CUDA kernel to quantize 3d tensor colwise
  benchmarks/prototype/moe_training/mxfp8/bench_quantize_3d.py
  test/prototype/moe_training/test_kernels.py
  torchao/csrc/cuda/mx_kernels/mxfp8_cuda.cu
  torchao/csrc/cuda/mx_kernels/mxfp8_extension.cpp
  torchao/csrc/cuda/mx_kernels/mxfp8_quantize.cuh
  torchao/prototype/moe_training/scaled_grouped_mm.py
Labels: CLA Signed, mx, topic: not user facing, moe

#3033 [mxfp8 moe training] remove mxfp8_gemms.py
  test/prototype/moe_training/test_training.py
  torchao/prototype/moe_training/kernels/__init__.py
  torchao/prototype/moe_training/kernels/mxfp8_gemms.py
Labels: CLA Signed

#3022 Pass QAT learned qparams in convert
  test/quantization/test_qat.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/quantization/qat/api.py
  torchao/quantization/quant_api.py
  torchao/quantization/quantize_/workflows/intx/intx_unpacked_to_int8_tensor.py
Labels: CLA Signed, topic: improvement

#3034 [mxfp8 moe training] update 3d quant colwise scaling kernel to use single input/output TMA descriptors
  test/prototype/moe_training/test_kernels.py
  torchao/csrc/cuda/mx_kernels/mxfp8_extension.cpp
  torchao/csrc/cuda/mx_kernels/mxfp8_quantize.cuh
Labels: CLA Signed, mx, topic: not user facing, moe

#2991 [Bug fix][CPU] Fix fp8 sdpa compiling issue with latest PyTorch
  torchao/csrc/cpu/aten_kernels/quantized_sdpa.cpp
  torchao/prototype/inductor/fx_passes/qsdpa_fusion.py
Labels: CLA Signed, topic: not user facing

#2961 [Float8] add non-decomposed version of quantize/dequantize ops for fp8
  test/dtypes/test_affine_quantized_float.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed, topic: not user facing

#3030 Avoid normalization layers in HF's quantization_config
  test/prototype/test_parq.py
  torchao/prototype/parq/quant/config_torchao.py
Labels: CLA Signed, topic: bug fix

#3031 Minor fix on TAO op to support lowering
  torchao/dtypes/floatx/cutlass_semi_sparse_layout.py
  torchao/quantization/linear_activation_quantized_tensor.py
Labels: CLA Signed, fb-exported, meta-exported

#3054 Revert "Unify get_block_size"
  test/quantization/pt2e/test_quantize_pt2e.py
  torchao/quantization/__init__.py
  torchao/quantization/observer.py
  torchao/quantization/pt2e/__init__.py
  torchao/quantization/pt2e/_affine_quantization.py
  torchao/quantization/pt2e/observer.py
  torchao/quantization/qat/fake_quantizer.py
  torchao/quantization/quant_api.py
  torchao/quantization/quantize_/workflows/float8/float8_tensor.py
  torchao/quantization/utils.py
Labels: CLA Signed, topic: not user facing, ci-no-td

#3052 [CPU] Add ops for float8 linear
  test/test_ops.py
  torchao/csrc/cpu/aten_kernels/float8_linear.cpp
  torchao/csrc/cpu/aten_kernels/utils.h
  torchao/ops.py
Labels: CLA Signed, topic: not user facing

#3053 support select.int for Float8Tensor
  test/quantization/quantize_/workflows/float8/test_float8_tensor.py
  torchao/quantization/quantize_/workflows/float8/float8_tensor.py
Labels: CLA Signed, topic: bug fix

#3056 add int4tensor support for safetensors
  test/prototype/safetensors/test_safetensors_support.py
  torchao/prototype/safetensors/safetensors_support.py
  torchao/prototype/safetensors/safetensors_utils.py
Labels: CLA Signed, topic: new feature

#3021 Add Sparsify overhead benchmark
  benchmarks/benchmark_e2e_fp8_sparse_linear.py
Labels: CLA Signed, sparsity, topic: improvement

#3073 Don't use_cache for lm_eval by default
  .github/scripts/torchao_model_releases/README.md
  .github/scripts/torchao_model_releases/eval.sh
  .github/scripts/torchao_model_releases/eval_quality.sh
Labels: CLA Signed, topic: improvement

#3071 Add awq support for Int4TilePackedTo4dTensor
  test/prototype/test_awq.py
  test/quantization/quantize_/workflows/int4/test_int4_tile_packed_to_4d_tensor.py
  torchao/prototype/awq/core.py
  torchao/quantization/quantize_/workflows/int4/int4_tile_packed_to_4d_tensor.py
Labels: CLA Signed, topic: improvement

#3018 fix: avoid removing from tuple in _get_to_kwargs
  test/test_utils.py
  torchao/utils.py
Labels: CLA Signed, topic: bug fix

#3066 expose emulation in mxfp4 inference workflow
  test/prototype/mx_formats/test_inference_workflow.py
  torchao/prototype/mx_formats/inference_workflow.py
Labels: CLA Signed, topic: not user facing

#3068 make mxtensor printing nicer
  torchao/prototype/mx_formats/inference_workflow.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: improvement

#3070 mxtensor: support clone
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/mx_ops.py
Labels: CLA Signed, topic: improvement

#3078 mxtensor: add serialization support
  test/prototype/mx_formats/test_inference_workflow.py
  torchao/prototype/mx_formats/inference_workflow.py
Labels: CLA Signed, topic: improvement

#3079 mxtensor: add index select support
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/mx_ops.py
Labels: CLA Signed, topic: improvement

#3080 mxtensor: switch to AOBaseTensor dispatch
  torchao/prototype/mx_formats/mx_ops.py
  torchao/prototype/mx_formats/mx_tensor.py
  torchao/prototype/mx_formats/utils.py
Labels: CLA Signed, topic: improvement

#3011 Prevent union-finding cycles for shared qspecs
  test/quantization/pt2e/test_quantize_pt2e.py
  torchao/quantization/pt2e/prepare.py
Labels: CLA Signed, topic: bug fix, pt2e_quant

#3087 [mxfp8 moe training] increase num_warps in mxfp8 a2a comms kernel
  torchao/prototype/moe_training/kernels/mxfp8/comms.py
Labels: CLA Signed, mx, topic: not user facing, moe

#3060 [Reland][CPU] Support int8 scaled embedding bag
  test/test_ops.py
  torchao/csrc/cpu/aten_kernels/scaled_embedding_bag.cpp
  torchao/ops.py
Labels: CLA Signed, topic: not user facing, ci-no-td

#3081 enroll mxtensor in vllm integration tests
  test/prototype/mx_formats/test_inference_workflow.py
  torchao/prototype/mx_formats/mx_tensor.py
  torchao/testing/utils.py
Labels: CLA Signed, topic: improvement

#3086 nvfp4tensor: improve printing
  torchao/prototype/mx_formats/nvfp4_tensor.py
Labels: CLA Signed, topic: improvement

#3095 Revert "[CPU] Add ops for float8 linear (#3052)"
  test/test_ops.py
  torchao/csrc/cpu/aten_kernels/float8_linear.cpp
  torchao/csrc/cpu/aten_kernels/utils.h
  torchao/ops.py
Labels: CLA Signed, topic: bug fix, ci-no-td

#3088 [mxfp8 moe training] mxfp8 a2a working e2e in torchtitan llama4 training; improve tests + bench scripts
  benchmarks/prototype/moe_training/mxfp8/bench_all_to_all_v.py
  benchmarks/utils.py
  test/prototype/moe_training/mxfp8/test_mxfp8_a2a.py
  torchao/prototype/moe_training/kernels/mxfp8/comms.py
Labels: CLA Signed, mx, topic: not user facing, moe
