Repository pytorch/ao, pull requests merged in 2025-05, with the labels that each got.

#2159 Remove prototpe low bit optim code completely
  test/prototype/test_quantized_training.py
  torchao/prototype/low_bit_optim/README.md
  torchao/prototype/low_bit_optim/__init__.py
  torchao/prototype/low_bit_optim/adam.py
  torchao/prototype/low_bit_optim/cpu_offload.py
  torchao/prototype/low_bit_optim/quant_utils.py
  torchao/prototype/low_bit_optim/subclass_4bit.py
  torchao/prototype/low_bit_optim/subclass_8bit.py
  torchao/prototype/low_bit_optim/subclass_fp8.py
Labels: CLA Signed, topic: not user facing

#2163 Uses torch.version.cuda to compile CUDA extensions
  setup.py
Labels: CLA Signed, topic: not user facing

#2130 [MX] Remove mxfp8 kernel and rely on cublas
  test/prototype/mx_formats/test_mx_linear.py
  test/prototype/mx_formats/test_mx_mm.py
  torchao/csrc/cuda/mx_kernels/mx_fp_cutlass_kernels.cu
  torchao/ops.py
  torchao/prototype/mx_formats/config.py
  torchao/prototype/mx_formats/mx_ops.py
  torchao/testing/float8/roofline_utils.py
Labels: CLA Signed, topic: not user facing

#2158 Removes pinned version for pytest
  .github/workflows/regression_test.yml
  dev-requirements.txt
Labels: CLA Signed, topic: not user facing

#2162 Update QAT README.md
  torchao/quantization/qat/README.md
Labels: CLA Signed

#2160 Remove fix not needed anymore after moving CUTLASS pin to v3.9.0
  torchao/dtypes/floatx/cutlass_semi_sparse_layout.py
Labels: CLA Signed, topic: not user facing

#2172 Update ruff version in dev-requirements to match CI
  dev-requirements.txt
Labels: CLA Signed, topic: not user facing, topic: for developers

#2174 Fixing aliasing behavior for slice in AQT TensorCoreTiledLayout
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
Labels: CLA Signed, topic: bug fix

#2175 Revert "Fixing aliasing behavior for slice in AQT TensorCoreTiledLayout"
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
Labels: CLA Signed, topic: not user facing, ci-no-td

#2176 [reland] Fixing aliasing behavior for slice in AQT int4wo layout
  test/dtypes/test_affine_quantized.py
  test/dtypes/test_affine_quantized_tensor_parallel.py
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
Labels: CLA Signed, topic: not user facing, ci-no-td

#2170 Fix linux cpu builds. Resolves nightly build for mac stops on 0422
  setup.py
  test/prototype/inductor/test_int8_sdpa_fusion.py
  test/test_ops.py
  torchao/__init__.py
  torchao/csrc/cpu/int8_sdpa.cpp
  torchao/csrc/rocm/swizzle/swizzle.cpp
  torchao/ops.py
  torchao/prototype/inductor/__init__.py
  torchao/prototype/inductor/fx_passes/README.md
  torchao/prototype/inductor/fx_passes/__init__.py
  torchao/prototype/inductor/fx_passes/int8_sdpa_fusion.py
  torchao/swizzle/__init__.py
  torchao/swizzle/swizzle_tensor.py
Labels: CLA Signed, module: rocm, topic: not user facing, distribution

#2122 Fix cuda compile error with bf16
  torchao/csrc/cuda/fp6_llm/utils_parallel_dequant.cuh
Labels: CLA Signed, fb-exported, topic: not user facing, topic: bug fix

#2151 Generate speedup for inference
  benchmarks/microbenchmarks/README.md
  benchmarks/microbenchmarks/benchmark_inference.py
  benchmarks/microbenchmarks/benchmark_runner.py
  benchmarks/microbenchmarks/test/benchmark_config.yml
  benchmarks/microbenchmarks/utils.py
Labels: CLA Signed, topic: for developers

#2186 Add serialization support for `AOPerModuleConfig`
  test/quantization/test_config_serialization.py
  torchao/core/config.py
Labels: CLA Signed, topic: improvement

#2043 Enabling MOE Quantization using linear decomposition
  test/quantization/test_moe_quant.py
  torchao/_models/mixtral-moe/README.md
  torchao/_models/mixtral-moe/generate.py
  torchao/_models/mixtral-moe/model.py
  torchao/_models/mixtral-moe/run.sh
  torchao/_models/mixtral-moe/scripts/convert_hf_checkpoint.py
  torchao/_models/mixtral-moe/scripts/download.py
  torchao/_models/mixtral-moe/scripts/prepare.sh
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/dtypes/floatx/float8_layout.py
  torchao/dtypes/uintx/packed_linear_int8_dynamic_activation_intx_weight_layout.py
  torchao/dtypes/uintx/plain_layout.py
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
  torchao/experimental/tests/test_int8_dynamic_activation_intx_weight.py
  torchao/quantization/linear_activation_quantized_tensor.py
  torchao/quantization/prototype/moe_quant/README.md
  torchao/quantization/prototype/moe_quant/__init__.py
  torchao/quantization/prototype/moe_quant/llama4_quant.py
  torchao/quantization/prototype/moe_quant/quantizable_moe_modules.py
  torchao/quantization/prototype/moe_quant/utils.py
  torchao/quantization/quant_api.py
  torchao/quantization/transform_module.py
  torchao/quantization/utils.py
  torchao/utils.py
Labels: CLA Signed, topic: new feature

#2168 Add a triton kernel for swizziling
  benchmarks/mx_formats/cast_bench.py
  test/prototype/mx_formats/test_kernels.py
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/fp_format_spec.py
  torchao/prototype/mx_formats/kernels.py
  torchao/prototype/mx_formats/mx_linear.py
  torchao/prototype/mx_formats/mx_tensor.py
  torchao/prototype/mx_formats/utils.py
Labels: CLA Signed, performance, topic: performance

#2161 [testing]Triaging ROCm wheel build
  .github/workflows/build_wheels_linux.yml
  setup.py
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing

#2167 metal lowbit kernels: qmv_fast optimization
  torchao/experimental/kernels/mps/metal.yaml
  torchao/experimental/kernels/mps/metal/int1mm.metal
  torchao/experimental/kernels/mps/metal/int2mm_opt.metal
  torchao/experimental/kernels/mps/metal/int3mm_opt.metal
  torchao/experimental/kernels/mps/metal/int4mm_opt.metal
  torchao/experimental/kernels/mps/metal/int5mm.metal
  torchao/experimental/kernels/mps/metal/int6mm.metal
  torchao/experimental/kernels/mps/metal/int7mm.metal
  torchao/experimental/kernels/mps/metal/qmv_fast.metal
  torchao/experimental/kernels/mps/src/dispatch.h
  torchao/experimental/kernels/mps/src/lowbit.h
  torchao/experimental/kernels/mps/src/packing.h
  torchao/experimental/kernels/mps/test/test_lowbit.mm
  torchao/experimental/ops/mps/linear_fp_act_xbit_weight_aten.mm
  torchao/experimental/ops/mps/linear_fp_act_xbit_weight_executorch.mm
  torchao/experimental/ops/mps/mps_op_lib.py
  torchao/experimental/ops/mps/test/test_lowbit.py
  torchao/experimental/ops/mps/test/test_quantizer.py
  torchao/experimental/quant_api.py
Labels: CLA Signed, topic: not user facing

#2180 Set eps in end-to-end QAT flow
  test/quantization/test_qat.py
  torchao/experimental/quant_passes.py
  torchao/experimental/tests/test_int8_dynamic_activation_intx_weight.py
  torchao/quantization/GPTQ.py
  torchao/quantization/qat/api.py
  torchao/quantization/qat/fake_quantizer.py
  torchao/quantization/qat/linear.py
  torchao/quantization/quant_api.py
  torchao/quantization/utils.py
Labels: CLA Signed, topic: improvement

#2192 Move moe quant to better prototype dir
  test/quantization/test_moe_quant.py
  torchao/_models/mixtral-moe/generate.py
  torchao/_models/mixtral-moe/model.py
  torchao/experimental/tests/test_int8_dynamic_activation_intx_weight.py
  torchao/prototype/moe_quant/README.md
  torchao/prototype/moe_quant/__init__.py
  torchao/prototype/moe_quant/llama4_quant.py
  torchao/prototype/moe_quant/quantizable_moe_modules.py
  torchao/prototype/moe_quant/utils.py
Labels: CLA Signed, topic: for developers

#2193 Uses torch.version.cuda to compile CUDA extensions
  setup.py
Labels: CLA Signed, topic: not user facing

#2140 [PT2E][X86] Migrate fusion passes in Inductor to torchao
  test/quantization/pt2e/test_x86inductor_fusion.py
  torchao/quantization/pt2e/inductor_passes/__init__.py
  torchao/quantization/pt2e/inductor_passes/x86.py
  torchao/quantization/pt2e/lowering.py
  torchao/quantization/pt2e/quantizer/x86_inductor_quantizer.py
Labels: CLA Signed, topic: new feature

#2195 [optim] Fix low-bit optim when used with FSDP2+CPUOffload
  test/test_low_bit_optim.py
  torchao/optim/adam.py
Labels: CLA Signed, topic: bug fix

#2191 Skip ROCm MoE Quantization
  test/quantization/test_moe_quant.py
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing

#2197 Forward fix lint
  CONTRIBUTING.md
  test/test_low_bit_optim.py
Labels: CLA Signed, topic: not user facing

#2198 unpin torch to unbreak mac tests
  .github/workflows/torchao_experimental_test.yml
Labels: CLA Signed, topic: not user facing

#2132 Add subclass based method for inference w/ MXFP8
  test/prototype/mx_formats/test_mx_linear.py
  torchao/__init__.py
  torchao/core/config.py
  torchao/prototype/mx_formats/__init__.py
  torchao/prototype/mx_formats/mx_funcs.py
  torchao/prototype/mx_formats/mx_ops.py
  torchao/prototype/mx_formats/mx_subclass.py
  torchao/prototype/mx_formats/mx_tensor.py
  torchao/prototype/mx_formats/utils.py
Labels: CLA Signed, quantize, topic: new feature

#1763 Feat: Implementation of the DeepSeek blockwise quantization for fp8 tensors
  benchmarks/benchmark_blockwise_scaled_linear_triton.py
  test/prototype/test_blockwise_triton.py
  torchao/prototype/blockwise_fp8/README.md
  torchao/prototype/blockwise_fp8/__init__.py
  torchao/prototype/blockwise_fp8/blockwise_linear.py
  torchao/prototype/blockwise_fp8/blockwise_quantization.py
Labels: CLA Signed, topic: new feature

#2202 Skips for ROCm (X86 Inductor Tests)
  test/quantization/pt2e/test_x86inductor_fusion.py
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing

#2205 Remove `sparsity/prototype/blocksparse`
  torchao/sparsity/prototype/superblock/__init__.py
  torchao/sparsity/prototype/superblock/blocksparse.py
  torchao/sparsity/prototype/superblock/supermask.py
  torchao/sparsity/prototype/superblock/utils.py
Labels: CLA Signed, sparsity, topic: deprecation

#2190 [float] document e2e training -> inference flow
  torchao/float8/README.md
Labels: topic: documentation, CLA Signed

#2139 Arm_inductor_quantizer for Pt2e quantization
  test/quantization/pt2e/test_arm_inductor_quantizer.py
  torchao/quantization/pt2e/quantizer/arm_inductor_quantizer.py
Labels: CLA Signed, topic: new feature, pt2e_quant

#2201 Add mx_fp4 path
  test/prototype/mx_formats/test_kernels.py
  test/prototype/mx_formats/test_mx_linear.py
  test/prototype/mx_formats/test_mx_mm.py
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/README.md
  torchao/prototype/mx_formats/benchmarks/bench_qdq.py
  torchao/prototype/mx_formats/config.py
  torchao/prototype/mx_formats/constants.py
  torchao/prototype/mx_formats/fp_format_spec.py
  torchao/prototype/mx_formats/mx_ops.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, mx, topic: new feature

#2206 Update __init__.py
  torchao/quantization/__init__.py
Labels: CLA Signed, topic: not user facing

#2208 unbreak CI by fixing MX tests
  test/prototype/mx_formats/test_mx_linear.py
  test/prototype/mx_formats/test_mx_tensor.py
Labels: CLA Signed, topic: not user facing

#2169 Add support for KleidiAI int4 kernels on aarch64 Linux
  setup.py
  torchao/experimental/CMakeLists.txt
  torchao/experimental/build_torchao_ops.sh
  torchao/experimental/kernels/cpu/aarch64/valpacking/interleave.cpp
  torchao/experimental/op_lib.py
  torchao/experimental/ops/linear_8bit_act_xbit_weight/kernel_config.h
  torchao/experimental/ops/packed_weights_header.h
  torchao/experimental/ops/parallel-aten-impl.h
  torchao/experimental/tests/test_load_libtorchao_ops.py
Labels: CLA Signed

#2209 ROCm mxfp4 Skips
  test/prototype/mx_formats/test_mx_linear.py
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing

#2211 Add CI for Arm Linux
  .github/workflows/torchao_experimental_test.yml
Labels: CLA Signed, ci, topic: not user facing

#2212 Enable {conv3d, conv_transpose3d} + bn fusion in pt2e
  test/quantization/pt2e/test_quantize_pt2e.py
  torchao/quantization/pt2e/utils.py
Labels: CLA Signed, topic: improvement, pt2e_quant

#2221 Make torchao pt2e prepare/convert functions compatible with quantizers in torch.ao
  torchao/quantization/pt2e/quantize_pt2e.py
Labels: CLA Signed, topic: not user facing

#2225 use correct fp8 quantization dtype for AMD GPU
  test/float8/test_base.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, fb-exported, topic: not user facing

#2149 Remove preserve_zero and zero_point_domain from choose_qparams_affine
  test/dtypes/test_uintx.py
  test/quantization/test_quant_primitives.py
  test/sparsity/test_marlin.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/dtypes/uintx/int4_cpu_layout.py
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
  torchao/experimental/quant_passes.py
  torchao/prototype/parq/quant/uniform_torchao.py
  torchao/quantization/__init__.py
  torchao/quantization/pt2e/observer.py
  torchao/quantization/qat/affine_fake_quantized_tensor.py
  torchao/quantization/quant_primitives.py
  torchao/quantization/utils.py
Labels: CLA Signed, topic: bc-breaking, topic: not user facing, topic: for developers

#2233 remove benchmarks from top level repo
  e2e_fp8_sparse.csv
  rowwise_scaled_linear_sparse_cutlass_time_results.csv
Labels: CLA Signed, topic: not user facing

#2232 clean up prototype folder
  torchao/sparsity/prototype/__init__.py
  torchao/sparsity/prototype/pruner/FPGM_pruner.py
  torchao/sparsity/prototype/pruner/__init__.py
  torchao/sparsity/prototype/pruner/base_structured_sparsifier.py
  torchao/sparsity/prototype/pruner/lstm_saliency_pruner.py
  torchao/sparsity/prototype/pruner/parametrization.py
  torchao/sparsity/prototype/pruner/saliency_pruner.py
  torchao/sparsity/prototype/scheduler/__init__.py
  torchao/sparsity/prototype/scheduler/base_scheduler.py
  torchao/sparsity/prototype/scheduler/cubic_scheduler.py
  torchao/sparsity/prototype/scheduler/lambda_scheduler.py
  torchao/sparsity/prototype/sparsifier/__init__.py
  torchao/sparsity/prototype/sparsifier/base_sparsifier.py
  torchao/sparsity/prototype/sparsifier/nearly_diagonal_sparsifier.py
  torchao/sparsity/prototype/sparsifier/utils.py
  torchao/sparsity/prototype/sparsifier/weight_norm_sparsifier.py
Labels: CLA Signed, topic: deprecation

#2227 Relax MOE constraints and add test for torch.mm computation
  test/dtypes/test_affine_quantized.py
  test/dtypes/test_affine_quantized_float.py
  torchao/prototype/moe_quant/utils.py
Labels: CLA Signed, topic: not user facing

#2238 Try fixing CI by pinning pytest
  .github/workflows/regression_test.yml
  dev-requirements.txt
Labels: CLA Signed, topic: not user facing

#2242 [sparse] Add fp8 sparse gemm with rowwise scaling for activation sparsity
  setup.py
  test/sparsity/test_activation24.py
  torchao/csrc/cuda/activation24/sparse_gemm.cu
  torchao/ops.py
Labels: CLA Signed, topic: improvement

#1526 Update Readme
  README.md
  torchao/quantization/README.md
Labels: topic: documentation, CLA Signed

#2223 Patch the _is_conv_node function
  test/quantization/pt2e/test_quantize_pt2e.py
  torchao/quantization/pt2e/utils.py
Labels: CLA Signed, fb-exported

#2247 Revert "Patch the _is_conv_node function"
  test/quantization/pt2e/test_quantize_pt2e.py
  torchao/quantization/pt2e/utils.py
Labels: CLA Signed, ci-no-td

#2243 Rename AOPerModuleConfig to ModuleFqnToConfig
  test/quantization/test_config_serialization.py
  test/quantization/test_quant_api.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: improvement

#2263 Revert "Try fixing CI by pinning pytest (#2238)"
  .github/workflows/regression_test.yml
  dev-requirements.txt
Labels: CLA Signed, topic: not user facing, ci-no-td

#2258 integration-vllm-test
  test/integration/test_vllm.py
Labels: CLA Signed, topic: not user facing

#2267 Fix torchao generate script for cpu device
  torchao/_models/llama/generate.py
Labels: CLA Signed, topic: not user facing

#2273 Fix generate.py for fbgemm int4 integration
  torchao/_models/llama/generate.py
Labels: CLA Signed, topic: not user facing

#2277 Make optim lazily intialize global state
  torchao/optim/subclass_4bit.py
  torchao/optim/subclass_8bit.py
Labels: CLA Signed, topic: not user facing

#2268 Add Integration Tests to H100 CI
  .github/workflows/float8_test.yml
  test/integration/test_integration.py
  test/integration/test_vllm.py
  torchao/quantization/autoquant.py
Labels: CLA Signed, topic: not user facing, topic: for developers

#2250 Resolve logger warnings
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: not user facing

#2274 Update CMake to enable building ops on iOS
  torchao/experimental/CMakeLists.txt
  torchao/experimental/ops/embedding_xbit/CMakeLists.txt
  torchao/experimental/ops/linear_8bit_act_xbit_weight/CMakeLists.txt
Labels: CLA Signed, topic: not user facing

#2257 Patch the _is_conv_node function
  test/quantization/pt2e/test_quantize_pt2e.py
  torchao/quantization/pt2e/utils.py
Labels: CLA Signed, fb-exported, topic: new feature

#2282 Add back AOPerModuleConfig for BC
  test/integration/test_vllm.py
  torchao/quantization/__init__.py
Labels: CLA Signed, topic: not user facing

#2284 Fix Bug in MX Builds
  setup.py
  torchao/csrc/cuda/mx_kernels/mx_fp_cutlass_kernels.cu
Labels: CLA Signed, topic: not user facing
