Repository pytorch/ao, pull requests merged in 2025-10, with the labels that each got.

#3107 [moe training] update llama4 bench script to handle torchtitan new log format
  benchmarks/float8/training/parse_torchtitan_logs.py
Labels: topic: bug fix, moe

#3103 [mxfp8 moe training] mxfp8 a2a with d2h sync
  benchmarks/prototype/moe_training/mxfp8/bench_all_to_all_v.py
  test/prototype/moe_training/mxfp8/test_mxfp8_a2a.py
  torchao/prototype/moe_training/kernels/mxfp8/comms.py
Labels: CLA Signed, mx, topic: not user facing, moe

#3108 make scale shape 2d and match qdata shape in NVFP4Tensor
  test/prototype/mx_formats/test_nvfp4_tensor.py
  torchao/prototype/mx_formats/nvfp4_tensor.py
  torchao/prototype/mx_formats/utils.py
Labels: CLA Signed, topic: improvement

#3042 generalize torch compatibility check
  .github/scripts/validate_binaries.sh
  scripts/test_torch_version_torchao_version_compatibility.sh
  torchao/__init__.py
Labels: CLA Signed, topic: bug fix

#3114 [mxfp8 moe training] fix mxfp8 a2a bench script; set mxfp8 a2a scaling type to RCEIL
  benchmarks/prototype/moe_training/mxfp8/bench_all_to_all_v.py
  torchao/prototype/moe_training/kernels/mxfp8/comms.py
Labels: CLA Signed, mx, topic: not user facing, moe

#3104 Replace param_group quantizer instance with QuantOptimizer attribute
  test/prototype/test_parq.py
  torchao/prototype/parq/optim/quantopt.py
Labels: CLA Signed, topic: bug fix
