Repository pytorch/ao, pull requests merged in 2025-07, with the labels that each got.

#2468 Update microbenchmarking run to run once daily, remove run from every pull_request
  .github/workflows/run_microbenchmarks.yml
Labels: CLA Signed, ci, topic: not user facing

#2469 Update test_quant_api.py
  test/quantization/test_quant_api.py
Labels: CLA Signed, topic: not user facing

#2470 increase torch dynamo cache size limit to support all tests
  test/quantization/pt2e/test_numeric_debugger.py
  torchao/testing/pt2e/utils.py
Labels: CLA Signed, fb-exported, topic: not user facing

#2455 [moe training] Cast to mixed precision policy param dtype in fsdp_pre_all_gather hook
  torchao/prototype/moe_training/conversion_utils.py
  torchao/prototype/moe_training/scaled_grouped_mm.py
  torchao/prototype/moe_training/tensor.py
Labels: CLA Signed, topic: not user facing

#2473 [moe training] Add TP support for routed experts
  test/prototype/moe_training/test_fsdp.py
  test/prototype/moe_training/test_fsdp.sh
  test/prototype/moe_training/test_tp.py
  test/prototype/moe_training/test_tp.sh
  test/prototype/moe_training/test_training.py
  test/prototype/moe_training/testing_utils.py
  torchao/prototype/moe_training/scaled_grouped_mm.py
  torchao/prototype/moe_training/tensor.py
Labels: CLA Signed, topic: not user facing

#2472 Add FP32 LUT lookup functions
  torchao/experimental/kernels/cpu/aarch64/lut/lut.h
  torchao/experimental/kernels/cpu/aarch64/tests/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/tests/build_and_run_tests.sh
  torchao/experimental/kernels/cpu/aarch64/tests/test_lut.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#2421 Add support for Int4GroupwisePreshuffleTensor for fbgemm
  test/quantization/quantize_/test_int4_groupwise_preshuffle.py
  torchao/dtypes/__init__.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
  torchao/quantization/quantize_/__init__.py
  torchao/quantization/quantize_/int4_groupwise_preshuffle_tensor.py
  torchao/utils.py
Labels: CLA Signed, topic: new feature

#2486 Add packing activation and packing weight.
  torchao/experimental/kernels/cpu/aarch64/linear/groupwise_lowbit_weight/pack_activations.h
  torchao/experimental/kernels/cpu/aarch64/linear/groupwise_lowbit_weight/pack_weights.h
Labels: CLA Signed, fb-exported, topic: not user facing

#2489 Add kernel implementatin for the lut kernel
  torchao/experimental/kernels/cpu/aarch64/linear/groupwise_lowbit_weight/kernel_f32-impl.h
Labels: CLA Signed, fb-exported, topic: not user facing

#2422 Remove `transpose_input` from fbgemm configs
  test/dtypes/test_fbgemm_fp8.py
  test/dtypes/test_fbgemm_int4.py
  torchao/dtypes/fbgemm_fp8_tensor.py
  torchao/dtypes/fbgemm_int4_tensor.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: not user facing

#2490 [moe training] add benchmarking script for grouped mm
  benchmarks/float8/bench_grouped_mm.py
  benchmarks/float8/bench_matmul.py
  benchmarks/float8/utils.py
Labels: CLA Signed, benchmark, topic: for developers

#2439 Add kernel
  test/prototype/mx_formats/test_mx_linear.py
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/kernels.py
  torchao/prototype/mx_formats/mx_subclass.py
  torchao/prototype/mx_formats/mx_tensor.py
  torchao/prototype/mx_formats/nvfp4_tensor.py
Labels: CLA Signed, mx, topic: not user facing

#2491 Switch alignemtn to 8 for cutlass 4 upgrade
  torchao/csrc/cuda/activation24/sparse_gemm.cu
Labels: CLA Signed, fb-exported

#2431 test rowwise fp32
  test/float8/test_base.py
  torchao/float8/float8_ops.py
Labels: CLA Signed, fb-exported, float8, topic: not user facing

#2485 [mps] Add cshim for torchao mps ops
  torchao/experimental/ops/mps/cshim.py
  torchao/experimental/ops/mps/linear_fp_act_xbit_weight_aten.mm
  torchao/experimental/ops/mps/test/test_quantizer.py
Labels: CLA Signed, topic: not user facing

#2484 [mps] Add offsets to enable aoti
  torchao/experimental/kernels/mps/src/lowbit.h
  torchao/experimental/kernels/mps/test/test_lowbit.mm
  torchao/experimental/ops/mps/linear_fp_act_xbit_weight_aten.mm
  torchao/experimental/ops/mps/linear_fp_act_xbit_weight_executorch.mm
  torchao/experimental/ops/mps/test/test_quantizer.py
Labels: CLA Signed, topic: not user facing

#2436 mxfp8 training: add TP sharding strategy for dim1 kernel
  test/float8/test_dtensor.py
  test/float8/test_fsdp2_tp.py
  test/prototype/mx_formats/test_mx_dtensor.py
  torchao/prototype/mx_formats/kernels.py
  torchao/prototype/mx_formats/mx_linear.py
  torchao/testing/training/dtensor_utils.py
Labels: CLA Signed, topic: improvement

#2499 Tutorial for benchmarking
  docs/source/benchmarking_api_guide.md
  docs/source/benchmarking_user_guide.md
  docs/source/index.rst
Labels: topic: documentation, CLA Signed, topic: for developers

#2380 [CPU INT8 SDPA] use manual transpose and pack
  torchao/prototype/inductor/codegen/cpp_int8_sdpa_template.py
Labels: CLA Signed, topic: not user facing

#2522 Update function params and corresponding usages.
  torchao/experimental/kernels/cpu/aarch64/linear/groupwise_lowbit_weight/groupwise_lowbit_weight_lut.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_lut.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils.h
Labels: CLA Signed, fb-exported, topic: not user facing

#2516 Fix tutorials
  tutorials/calibration_flow/awq_like.py
  tutorials/calibration_flow/gptq_like.py
Labels: bug, CLA Signed, topic: bug fix, ciflow/tutorials

#2526 Fix experimental build failure with ExecuTorch enabled
  torchao/experimental/CMakeLists.txt
  torchao/experimental/Utils.cmake
Labels: CLA Signed, topic: not user facing

#2525 Replace the "quantization_annotation" string with a constant variable
  torchao/quantization/pt2e/prepare.py
  torchao/quantization/pt2e/quantizer/composable_quantizer.py
  torchao/quantization/pt2e/quantizer/duplicate_dq_pass.py
  torchao/quantization/pt2e/quantizer/embedding_quantizer.py
  torchao/quantization/pt2e/quantizer/port_metadata_pass.py
  torchao/quantization/pt2e/quantizer/quantizer.py
  torchao/quantization/pt2e/quantizer/utils.py
Labels: enhancement, CLA Signed, fb-exported, topic: not user facing, topic: improvement

#2524 Update function params and corresponding usages.
  torchao/experimental/kernels/cpu/aarch64/linear/groupwise_lowbit_weight/groupwise_lowbit_weight_lut.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_lut.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils.h
Labels: CLA Signed, fb-exported, topic: not user facing

#2527 Update version.txt
  version.txt
Labels: CLA Signed, topic: not user facing

#2531 Update torchao_experimental_test.yml
  .github/workflows/torchao_experimental_test.yml
Labels: CLA Signed, topic: not user facing

#2530 Add packed weight format for LUT based low bit quantization.
  torchao/experimental/ops/groupwise_lowbit_weight_lut/packed_weights_format.h
Labels: CLA Signed, fb-exported, topic: not user facing

#2479 Rename torchao.float8.Float8Tensor to torchao.float8.Float8TrainingTensor
  benchmarks/float8/bench_linear_float8.py
  benchmarks/float8/bench_padding.py
  test/float8/test_base.py
  test/float8/test_compile.py
  test/float8/test_dtensor.py
  test/float8/test_fsdp2/test_fsdp2.py
  test/prototype/moe_training/test_scaled_grouped_mm.py
  test/quantization/test_qat.py
  torchao/dtypes/nf4tensor.py
  torchao/float8/__init__.py
  torchao/float8/distributed_utils.py
  torchao/float8/float8_linear.py
  torchao/float8/float8_ops.py
  torchao/float8/float8_scaling_utils.py
  torchao/float8/float8_tensor_parallel.py
  torchao/float8/float8_training_tensor.py
  torchao/float8/fsdp_utils.py
  torchao/float8/inference.py
  torchao/prototype/float8nocompile/float8nocompile_linear.py
  torchao/prototype/float8nocompile/float8nocompile_scaling_utils.py
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise.py
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise_test.py
Labels: CLA Signed, topic: not user facing

#2535 Rename torchao.float8.Float8Tensor to Float8TrainingTensor
  benchmarks/float8/bench_linear_float8.py
  benchmarks/float8/bench_padding.py
  test/float8/test_base.py
  test/float8/test_compile.py
  test/float8/test_dtensor.py
  test/float8/test_fsdp2/test_fsdp2.py
  test/prototype/moe_training/test_scaled_grouped_mm.py
  test/quantization/test_qat.py
  torchao/dtypes/nf4tensor.py
  torchao/float8/__init__.py
  torchao/float8/distributed_utils.py
  torchao/float8/float8_linear.py
  torchao/float8/float8_ops.py
  torchao/float8/float8_scaling_utils.py
  torchao/float8/float8_tensor_parallel.py
  torchao/float8/float8_training_tensor.py
  torchao/float8/fsdp_utils.py
  torchao/float8/inference.py
  torchao/prototype/float8nocompile/float8nocompile_linear.py
  torchao/prototype/float8nocompile/float8nocompile_scaling_utils.py
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise.py
  torchao/prototype/float8nocompile/kernels/fp8_dynamic_tensorwise_test.py
Labels: CLA Signed, topic: not user facing

#2513 Add CUDA kernel for MXFP8 dim1 casting
  benchmarks/mx_formats/cast_bench.py
  setup.py
  test/prototype/mx_formats/test_kernels.py
  torchao/csrc/cuda/mx_kernels/mxfp8_cuda.cu
  torchao/csrc/cuda/mx_kernels/mxfp8_extension.cpp
  torchao/csrc/cuda/mx_kernels/mxfp8_quantize.cuh
  torchao/csrc/cuda/mx_kernels/ptx.cuh
  torchao/prototype/mx_formats/kernels.py
Labels: CLA Signed, mx, topic: not user facing

#2548 Increase timeout for regression tests
  .github/workflows/regression_test.yml
Labels: CLA Signed, ci, ciflow/rocm, topic: not user facing

#2549 Increase timeout for regression tests
  .github/workflows/regression_test_rocm.yml
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing

#2550 add custom op wrapping mxfp8 dim1 cast cuda kernel
  torchao/prototype/mx_formats/kernels.py
Labels: CLA Signed, mx, topic: not user facing

#2562 Explicitly specify docker-image to be used for ROCm yml
  .github/workflows/regression_test_rocm.yml
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing

#2559 Update README with PEFT integration + installation
  README.md
Labels: topic: documentation, CLA Signed

#2563 Update paper link readme
  README.md
Labels: topic: documentation, CLA Signed

#2539 Avoid configuring the root logger on import
  torchao/__init__.py
Labels: CLA Signed, topic: not user facing

#2561 [BE] [CI] Set up 1xL4, 1xH100, 4xH100 CI workflows
  .github/workflows/1xH100_tests.yml
  .github/workflows/1xL4_tests.yml
  .github/workflows/4xH100_tests.yml
  test/float8/test_everything_multi_gpu.sh
  test/float8/test_everything_single_gpu.sh
Labels: CLA Signed, ci, float8, topic: not user facing

#2573 allowlist WeightWithDynamicFloat8CastTensor for deserialization for checkpointing
  torchao/float8/fsdp_utils.py
Labels: CLA Signed, topic: not user facing

#2540 Add operation utils.
  torchao/experimental/ops/groupwise_lowbit_weight_lut/groupwise_lowbit_weight_lut.h
Labels: CLA Signed, fb-exported, topic: not user facing

#2579 minor cleanup to float8 roofline script
  benchmarks/float8/float8_roofline.py
Labels: topic: not user facing

#2575 add TORCH_VERSION_CHECK for _register_meta
  torchao/quantization/quant_primitives.py
  torchao/utils.py
Labels: CLA Signed, topic: not user facing

#2576 Add StretchedUnifTorchaoQuantizer
  test/prototype/test_parq.py
  torchao/prototype/parq/quant/__init__.py
  torchao/prototype/parq/quant/quant_api.py
  torchao/prototype/parq/quant/uniform_torchao.py
Labels: CLA Signed, topic: improvement

#2587 fix autocast handling for float8 training rowwise recipes
  test/float8/test_base.py
  torchao/float8/float8_ops.py
  torchao/float8/float8_training_tensor.py
Labels: CLA Signed, topic: bug fix

#2568 [BE] Convert quantization internal methods private
  test/integration/test_integration.py
  test/quantization/test_quant_primitives.py
  torchao/_models/llama/model.py
  torchao/prototype/quantization/autoquant_v2.py
  torchao/quantization/README.md
  torchao/quantization/autoquant.py
  torchao/quantization/dynamic_quant.py
  torchao/quantization/smoothquant.py
  torchao/quantization/subclass.py
  torchao/quantization/utils.py
Labels: CLA Signed, topic: bc-breaking, topic: for developers

#2603 Misc fixes to prepare for adding Float8Tensor
  test/dtypes/test_affine_quantized_float.py
  test/integration/test_integration.py
  torchao/core/config.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/floatx/float8_layout.py
  torchao/float8/inference.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed, topic: not user facing

#2597 Add more utils to TorchAOBaseTensor
  test/test_utils.py
  torchao/utils.py
Labels: CLA Signed, topic: for developers

#2598 Support more ops in TorchAOBaseTensor
  test/test_utils.py
  torchao/utils.py
Labels: CLA Signed, topic: for developers

#2609 Support more ops in TorchAOBaseTensor
  test/test_utils.py
  torchao/utils.py
Labels: CLA Signed

#2582 Update packed_weghts_header to include the new groupwise lowbit header.
  torchao/experimental/ops/packed_weights_header.h
Labels: CLA Signed, fb-exported, topic: not user facing

#2581 [OpenVINOQuantizer] Minor improvements
  docs/source/tutorials_source/pt2e_quant_openvino_inductor.rst
Labels: topic: documentation, CLA Signed, pt2e_quant

#2623 Disable register_da8w4_concat_linear_cpu_pass
  test/quantization/test_da8w4_cpu.py
  torchao/dtypes/uintx/dyn_int8_act_int4_wei_cpu_layout.py
Labels: CLA Signed, fb-exported, topic: not user facing

#2624 Add tests
  torchao/experimental/ops/tests/test_groupwise_lowbit_weight_lut.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#2637 Update test_dynamic_activation_lut.py
  test/prototype/test_dynamic_activation_lut.py
  torchao/experimental/tests/test_int8_dynamic_activation_intx_weight.py
Labels: CLA Signed, ci, topic: not user facing

#2634 fix: improve formatting and resolve minor bug for better utility
  torchao/experimental/kernels/cpu/aarch64/linear/groupwise_lowbit_weight/groupwise_lowbit_weight_lut.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_lut.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils.h
  torchao/experimental/ops/groupwise_lowbit_weight_lut/groupwise_lowbit_weight_lut.cpp
  torchao/experimental/ops/groupwise_lowbit_weight_lut/kernel_config.h
  torchao/experimental/ops/groupwise_lowbit_weight_lut/kernel_selector.h
  torchao/experimental/ops/groupwise_lowbit_weight_lut/packed_weights_format.h
Labels: CLA Signed, fb-exported, topic: not user facing

#2635 Clarifying the meaning of VERSION in AOBaseConfig
  test/core/test_config.py
  torchao/core/config.py
Labels: CLA Signed, topic: not user facing

#2645 Add op_exetorch
  torchao/experimental/ops/groupwise_lowbit_weight_lut/op_groupwise_lowbit_weight_lut_executorch.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#2646 skip rocm for moe training tests
  test/prototype/moe_training/test_scaled_grouped_mm.py
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing
