Repository pytorch/ao, pull requests merged in 2025-03, with the labels that each got.

#1785 metal lowbit kernels: pip install
  .gitignore
  setup.py
  torchao/experimental/CMakeLists.txt
  torchao/experimental/ops/mps/CMakeLists.txt
  torchao/experimental/ops/mps/test/test_lowbit.py
  torchao/experimental/ops/mps/test/test_quantizer.py
Labels: CLA Signed, topic: improvement, build

#1802 [float8] add float8 training benchmarking scripts
  benchmarks/float8/README.md
  benchmarks/float8/training/float8_training_benchmark.sh
  benchmarks/float8/training/parse_torchtitan_logs.py
Labels: CLA Signed, float8, topic: improvement, training

#1808 Silence loud error on torchao cpu builds
  torchao/kernel/intmm.py
Labels: CLA Signed, topic: not user facing

#1815 Delete DORA
  benchmarks/dora/bench_utils.py
  benchmarks/dora/dora_bench.py
  test/dora/test_dora_fusion.py
  test/dora/test_dora_layer.py
  torchao/prototype/dora/README.md
  torchao/prototype/dora/__init__.py
  torchao/prototype/dora/dora_layer.py
  torchao/prototype/dora/dora_profile.py
  torchao/prototype/dora/kernels/__init__.py
  torchao/prototype/dora/kernels/common.py
  torchao/prototype/dora/kernels/custom_autotune.py
  torchao/prototype/dora/kernels/matmul.py
  torchao/prototype/dora/kernels/smallk.py
Labels: CLA Signed, topic: deprecation

#1813 Revert "Use exp2 for mx scaling"
  torchao/prototype/mx_formats/custom_cast.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: not user facing

#1820 Fix experimental CI
  torchao/experimental/ops/tests/test_linear_8bit_act_xbit_weight.cpp
Labels: CLA Signed, ci

#1720 CPUOffload: only offload parameters above a certain size
  test/prototype/test_low_bit_optim.py
  torchao/prototype/low_bit_optim/cpu_offload.py
Labels: CLA Signed, topic: not user facing

#1740 update typehint
  torchao/float8/float8_linear_utils.py
Labels: CLA Signed, topic: not user facing

#1789 roofline estimator: add float8 rowwise and mxfp8 recipe support
  benchmarks/float8/float8_roofline.py
  benchmarks/float8/utils.py
  torchao/testing/float8/roofline_utils.py
Labels: CLA Signed, topic: not user facing

#1825 metal lowbit ops: ci
  .github/workflows/torchao_experimental_test.yml
Labels: CLA Signed, ci, topic: improvement

#1827 Fix experimental CI
  .github/workflows/torchao_experimental_test.yml
Labels: CLA Signed

#1826 Optionally enable KleidiAI + clean up setup.py flags
  setup.py
  torchao/experimental/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/tests/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/tests/build_and_run_tests.sh
  torchao/experimental/ops/embedding_xbit/CMakeLists.txt
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit-impl.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/CMakeLists.txt
  torchao/experimental/ops/linear_8bit_act_xbit_weight/kernel_selector.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight-impl.h
  torchao/experimental/ops/tests/CMakeLists.txt
  torchao/experimental/ops/tests/build_and_run_tests.sh
Labels: CLA Signed, topic: improvement, build

#1695 Fix float8nocompile CI workflow
  .github/workflows/float8nocompile_test.yaml
Labels: CLA Signed, ci, topic: not user facing

#1201 ROCm Support : Tile_Layout kernel
  setup.py
  torchao/csrc/cuda/tensor_core_tiled_layout/tensor_core_tiled_layout.cu
Labels: CLA Signed, module: rocm, topic: new feature

#1834 ROCm Sparse Marlin Kernels #1206
  setup.py
  torchao/_models/llama/bsr_bench_results.txt
  torchao/_models/llama/bsr_benchmarks.sh
  torchao/csrc/cuda/sparse_marlin/marlin_kernel_nm.cu
  torchao/csrc/cuda/sparse_marlin/mem.h
  torchao/csrc/cuda/sparse_marlin/mma.h
Labels: CLA Signed, module: rocm, ciflow/rocm, sparsity, topic: improvement

#1832 Update float8 training benchmark script tensorwise configs
  benchmarks/float8/training/README.md
  benchmarks/float8/training/float8_training_benchmark.sh
Labels: CLA Signed, float8, topic: not user facing

#1741 Disable obsolete binary builds
  .github/workflows/build-wheels_m1.yml
  .github/workflows/build_wheels_aarch64_linux.yml
  .github/workflows/build_wheels_linux.yml
  .github/workflows/build_wheels_windows.yml
Labels: CLA Signed, topic: not user facing, build

#1837 Fix CI
  setup.py
Labels: CLA Signed, topic: not user facing

#1804 Add support for copy_ for plain layout and tensor core tiled layout (#1791)
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/dtypes/floatx/float8_layout.py
  torchao/dtypes/uintx/cutlass_int4_packed_layout.py
  torchao/dtypes/uintx/plain_layout.py
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
  torchao/quantization/linear_activation_quantized_tensor.py
  torchao/utils.py
Labels: CLA Signed, ciflow/rocm, topic: not user facing

#1829 float8 matmul bench: make peak tops lookup dynamic
  benchmarks/float8/bench_matmul.py
Labels: CLA Signed, topic: not user facing

#1830 float8 matmul benchmark: hook up cublas mxfp8 gemm
  benchmarks/float8/bench_matmul.py
Labels: CLA Signed, topic: not user facing

#1840 Fix CI
  .github/workflows/torchao_experimental_test.yml
Labels: CLA Signed

#1839 Avoid assert error when there's bias
  torchao/quantization/GPTQ.py
Labels: CLA Signed, fb-exported, topic: bug fix

#1838 enable compile with mxfp8 and mxfp4 cutlass gemm
  test/prototype/mx_formats/test_mx_linear.py
  torchao/ops.py
  torchao/prototype/mx_formats/mx_ops.py
Labels: CLA Signed, topic: not user facing

#1738 Initial PARQ addition and testing
  test/prototype/test_parq.py
  torchao/prototype/parq/README.md
  torchao/prototype/parq/__init__.py
  torchao/prototype/parq/optim/__init__.py
  torchao/prototype/parq/optim/binarelax.py
  torchao/prototype/parq/optim/parq.py
  torchao/prototype/parq/optim/proxmap.py
  torchao/prototype/parq/optim/quantopt.py
  torchao/prototype/parq/quant/__init__.py
  torchao/prototype/parq/quant/lsbq.py
  torchao/prototype/parq/quant/quantizer.py
  torchao/prototype/parq/quant/uniform.py
  torchao/prototype/parq/utils.py
Labels: CLA Signed, topic: new feature

#1842 Update triton import error message
  torchao/kernel/intmm.py
Labels: CLA Signed, topic: bug fix

#1849 fix typing annotation
  torchao/float8/float8_ops.py
Labels: CLA Signed, topic: not user facing

#1836 Migrate to config for Int8DynamicActivationIntxWeightConfig
  .github/workflows/torchao_experimental_test.yml
  torchao/experimental/ops/linear_8bit_act_xbit_weight/kernel_selector.h
  torchao/experimental/packed_linear_int8_dynamic_activation_intx_weight_layout.py
  torchao/experimental/quant_api.py
  torchao/experimental/tests/test_int8_dynamic_activation_intx_weight.py
  torchao/experimental/tests/test_packed_linear_int8_dynamic_activation_intx_weight_layout_target_aten.py
Labels: CLA Signed, topic: improvement

#1860 fix ruff on main branch
  torchao/experimental/quant_api.py
Labels: CLA Signed, topic: not user facing

#1824 Enable the CPU int4 with HQQ quant
  test/integration/test_integration.py
  test/quantization/test_quant_api.py
  torchao/dtypes/affine_quantized_tensor.py
Labels: CLA Signed, topic: bug fix

#1851 config migration: smoothquant
  test/prototype/test_smoothquant.py
  torchao/prototype/smoothquant/README.md
  torchao/prototype/smoothquant/__init__.py
  torchao/prototype/smoothquant/api.py
  torchao/prototype/smoothquant/example.py
Labels: CLA Signed, topic: not user facing

#1852 add assertion error about config migration to prototype/autoround
  test/prototype/test_autoround.py
  torchao/prototype/autoround/core.py
Labels: CLA Signed, topic: not user facing

#1853 migrate prototype/awq to configs
  torchao/prototype/awq/api.py
Labels: CLA Signed, topic: not user facing

#1854 migrates prototype/mixed_precision to configs
  test/prototype/test_mixed_precision.py
  torchao/prototype/quantization/mixed_precision/scripts/naive_intNwo.py
Labels: CLA Signed, topic: not user facing

#1810 Support MXFP6 packing and fused unpack-dequantise kernel (conflicts resolved)
  test/prototype/mx_formats/test_custom_cast.py
  test/prototype/mx_formats/test_mx_linear.py
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/config.py
  torchao/prototype/mx_formats/custom_cast.py
  torchao/prototype/mx_formats/mx_linear.py
  torchao/prototype/mx_formats/mx_ops.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: improvement

#1862 Remove prototype profiler
  test/prototype/test_device_spec.py
  test/prototype/test_performance_counter.py
  test/prototype/utils.py
  torchao/_models/llama/perf_profile.py
  torchao/prototype/profiler/__init__.py
  torchao/prototype/profiler/device_spec.py
  torchao/prototype/profiler/performance_counter.py
  torchao/prototype/profiler/utils.py
Labels: CLA Signed, topic: deprecation

#1845 Add bias support for Int8DynActInt4WeightLinear
  test/quantization/test_qat.py
  test/quantization/test_quant_api.py
  torchao/quantization/GPTQ.py
  torchao/quantization/qat/linear.py
Labels: CLA Signed, topic: improvement

#1864 Promote Low Bit Optim out of prototype
  README.md
  benchmarks/benchmark_low_bit_adam.py
  benchmarks/quantized_training/pretrain_llama2.py
  test/test_low_bit_optim.py
  torchao/__init__.py
  torchao/optim/README.md
  torchao/optim/__init__.py
  torchao/optim/adam.py
  torchao/optim/cpu_offload.py
  torchao/optim/quant_utils.py
  torchao/optim/subclass_4bit.py
  torchao/optim/subclass_8bit.py
  torchao/optim/subclass_fp8.py
  torchao/prototype/README.md
  torchao/prototype/low_bit_optim/__init__.py
Labels: CLA Signed, topic: new feature

#1846 Migrate to int args
  .github/workflows/torchao_experimental_test.yml
  torchao/experimental/build_torchao_ops.sh
  torchao/experimental/ops/embedding_xbit/CMakeLists.txt
  torchao/experimental/ops/linear_8bit_act_xbit_weight/CMakeLists.txt
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight-impl.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_aten.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w1s.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w1sz.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w2s.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w2sz.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w3s.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w3sz.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w4s.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w4sz.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w5s.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w5sz.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w6s.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w6sz.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w7s.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w7sz.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w8s.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch/w8sz.cpp
  torchao/experimental/packed_linear_int8_dynamic_activation_intx_weight_layout.py
Labels: CLA Signed

#1866 Remove prototype/dtypes folder
  test/dtypes/test_bitnet.py
  test/dtypes/test_uint2.py
  test/prototype/test_bitpacking_gen.py
  torchao/prototype/dtypes/__init__.py
  torchao/prototype/dtypes/bitnet.py
  torchao/prototype/dtypes/uint2.py
  torchao/prototype/dtypes/uintgen.py
Labels: CLA Signed, topic: deprecation

#1841 enable torch.compile for mxfp8_cublas recipe
  test/prototype/mx_formats/test_mx_linear.py
  torchao/prototype/mx_formats/mx_ops.py
Labels: CLA Signed, topic: performance

#1843 enable mxfp8_cublas recipe in roofline script
  benchmarks/float8/float8_roofline.py
  torchao/testing/float8/roofline_utils.py
Labels: CLA Signed, topic: not user facing

#1870 Add build flag to set parallel_backend
  torchao/experimental/CMakeLists.txt
  torchao/experimental/ops/embedding_xbit/CMakeLists.txt
  torchao/experimental/ops/linear_8bit_act_xbit_weight/CMakeLists.txt
Labels: CLA Signed

#1873 [float8] Bug fix: do not override requires_grad=False when enable_float8_all_gather=True
  test/float8/test_fsdp2/test_fsdp2.py
  torchao/float8/float8_linear.py
  torchao/testing/float8/fsdp2_utils.py
Labels: CLA Signed, float8, topic: bug fix

#1872 [float8] update float8 training benchmark readme
  benchmarks/float8/training/README.md
Labels: topic: documentation, CLA Signed, benchmark, float8

#1793 [float8] add perf benchmarks for float8 training with rowwise + tensorwise scaling
  torchao/float8/README.md
Labels: topic: documentation, CLA Signed

#1855 migrate prototype/quantized_training to configs
  test/prototype/test_quantized_training.py
  torchao/prototype/quantized_training/bitnet.py
  torchao/prototype/quantized_training/int8.py
  torchao/prototype/quantized_training/int8_mixed_precision.py
Labels: CLA Signed, topic: not user facing

#1856 migrate `sparsify_` to configs
  test/sparsity/test_supermask.py
  torchao/sparsity/README.md
  torchao/sparsity/sparse_api.py
Labels: CLA Signed, topic: improvement

#1857 migrate nf4 to configs
  test/dtypes/test_nf4.py
  torchao/dtypes/_nf4tensor_api.py
  torchao/dtypes/nf4tensor.py
Labels: CLA Signed, topic: not user facing

#1858 migrate prototype codebook quant to configs
  test/prototype/test_codebook_quant.py
  torchao/prototype/quantization/codebook/codebook_quantized_tensor.py
Labels: CLA Signed, topic: not user facing

#1861 enforce AOBaseConfig type in quantize_'s `config` argument
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: bc-breaking

#1865 remove the `set_inductor_config` argument of `quantize_`.
  test/integration/test_integration.py
  test/prototype/test_quantized_training.py
  torchao/prototype/awq/api.py
  torchao/prototype/quantization/mixed_precision/scripts/naive_intNwo.py
  torchao/prototype/smoothquant/api.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: bc-breaking

#1881 [float8] Fix link markdown in readme
  torchao/float8/README.md
Labels: topic: documentation, CLA Signed

#1879 Add bias support to torchao kernels
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_linear.cpp
  torchao/experimental/kernels/cpu/aarch64/kleidi/kai_matmul_clamp_f32_qai8dxp_qsi4c32p.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x1x32_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x4x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x8x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_prepare_activation_data_1xk_f32-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/linear.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_linear.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/kernel_selector.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight-impl.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_aten.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_executorch.cpp
  torchao/experimental/ops/tests/test_linear_8bit_act_xbit_weight.cpp
  torchao/experimental/packed_linear_int8_dynamic_activation_intx_weight_layout.py
  torchao/experimental/quant_api.py
  torchao/experimental/tests/test_int8_dynamic_activation_intx_weight.py
Labels: CLA Signed, fb-exported

#1888 unpin nightly builds
  .github/workflows/float8_test.yml
  .github/workflows/nightly_smoke_test.yml
  .github/workflows/regression_test.yml
  .github/workflows/regression_test_rocm.yml
  test/prototype/test_smoothquant.py
Labels: CLA Signed, module: rocm, topic: not user facing

#1889 Remove torchao.quantization.prototype
  test/quantization/test_qat.py
  torchao/quantization/prototype/__init__.py
  torchao/quantization/prototype/qat/README.md
  torchao/quantization/prototype/qat/__init__.py
  torchao/quantization/prototype/qat/_module_swap_api.py
  torchao/quantization/prototype/qat/affine_fake_quantized_tensor.py
  torchao/quantization/prototype/qat/api.py
  torchao/quantization/prototype/qat/embedding.py
  torchao/quantization/prototype/qat/fake_quantizer.py
  torchao/quantization/prototype/qat/linear.py
Labels: CLA Signed, topic: bc-breaking

#1890 [float8] Make check for rowwise scales more explicit/readable
  torchao/float8/float8_ops.py
Labels: CLA Signed, topic: improvement

#1886 Add module swap quantization API from Quanty
  test/prototype/module_swap_quantization/test_kmeans_codebook.py
  test/prototype/module_swap_quantization/test_llm_ptq_data_getter.py
  test/prototype/module_swap_quantization/test_module_swap.py
  test/prototype/module_swap_quantization/test_module_swap_quantization_utils.py
  test/prototype/module_swap_quantization/test_quantized_modules.py
  test/prototype/module_swap_quantization/test_quantizers.py
  test/prototype/module_swap_quantization/test_range_setting_methods.py
  torchao/prototype/quantization/module_swap/README.md
  torchao/prototype/quantization/module_swap/__init__.py
  torchao/prototype/quantization/module_swap/algorithms/__init__.py
  torchao/prototype/quantization/module_swap/algorithms/kmeans_codebook.py
  torchao/prototype/quantization/module_swap/data_getters/__init__.py
  torchao/prototype/quantization/module_swap/data_getters/llm_ptq_data_getter.py
  torchao/prototype/quantization/module_swap/data_getters/ptq_data_getter.py
  torchao/prototype/quantization/module_swap/module_swap.py
  torchao/prototype/quantization/module_swap/quantized_modules.py
  torchao/prototype/quantization/module_swap/quantizers.py
  torchao/prototype/quantization/module_swap/range_setting_methods.py
  torchao/prototype/quantization/module_swap/utils.py
Labels: CLA Signed, topic: new feature

#1875 Config Serilization No Deps
  test/quantization/test_config_serialization.py
  torchao/core/config.py
  torchao/quantization/__init__.py
Labels: CLA Signed, topic: new feature

#1759 Micro-benchmark inference
  benchmarks/__init__.py
  benchmarks/microbenchmarks/README.md
  benchmarks/microbenchmarks/__init__.py
  benchmarks/microbenchmarks/benchmark_inference.py
  benchmarks/microbenchmarks/benchmark_runner.py
  benchmarks/microbenchmarks/test/__init__.py
  benchmarks/microbenchmarks/test/benchmark_config.yml
  benchmarks/microbenchmarks/test/test_benchmark_inference.py
  benchmarks/microbenchmarks/test/test_benchmark_runner.py
  benchmarks/microbenchmarks/test/test_utils.py
  benchmarks/microbenchmarks/utils.py
  docs/static/microbenchmarking_process_diagram.png
  docs/static/microbenchmarks_code_flow_diagram.png
Labels: CLA Signed, topic: new feature, topic: performance

#1906 skip the sparse rowwise fp8 cutlass kernel test on ROCm
  test/test_ops_rowwise_scaled_linear_sparse_cutlass.py
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing

#1905 enable tests on mx_formats + Blackwell
  test/prototype/mx_formats/test_custom_cast.py
  test/prototype/mx_formats/test_mx_linear.py
  test/prototype/mx_formats/test_mx_mm.py
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/utils.py
Labels: CLA Signed, topic: not user facing

#1907 mx cast performance bench
  benchmarks/mx_formats/cast_bench.py
Labels: CLA Signed, topic: not user facing

#1908 mx cast: torch.log2 -> bit shifts
  torchao/prototype/mx_formats/constants.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: not user facing

#1910 mx cast: torch.pow -> bit shifts
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: not user facing

#1911 mx cast: remove clamping of output tensor for torch.compile path
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: not user facing

#1913 Add MI300X specs to roofline benchmark
  benchmarks/float8/float8_roofline.py
  torchao/float8/README.md
  torchao/testing/float8/roofline_utils.py
Labels: CLA Signed, float8, topic: bug fix

#1904 Remove duplicated code from setup.py
  setup.py
Labels: CLA Signed, merging, topic: not user facing, build

#1919 Revert "Remove torchao.quantization.prototype"
  test/quantization/test_qat.py
  torchao/quantization/prototype/__init__.py
  torchao/quantization/prototype/qat/README.md
  torchao/quantization/prototype/qat/__init__.py
  torchao/quantization/prototype/qat/_module_swap_api.py
  torchao/quantization/prototype/qat/affine_fake_quantized_tensor.py
  torchao/quantization/prototype/qat/api.py
  torchao/quantization/prototype/qat/embedding.py
  torchao/quantization/prototype/qat/fake_quantizer.py
  torchao/quantization/prototype/qat/linear.py
Labels: CLA Signed, topic: not user facing

#1922 Guard cpuinfo target
  torchao/experimental/ops/linear_8bit_act_xbit_weight/CMakeLists.txt
Labels: CLA Signed, topic: not user facing

#1877 Remove torch.export.export_for_inference
  examples/sam2_amg_server/compile_export_utils.py
  examples/sam2_vos_example/compile_export_utils.py
Labels: CLA Signed, fb-exported, topic: for developers

#1927 fix-ci
  torchao/experimental/ops/mps/test/test_lowbit.py
Labels: CLA Signed

#1923 Allow different dtype for scales_and_zeros
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
Labels: CLA Signed, fb-exported, topic: improvement

#1921 Write weight packing/unpacking functions for universal kernels
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x1x32_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x4x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight_1x8x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/pack_weights.h
  torchao/experimental/kernels/cpu/aarch64/tests/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/tests/build_and_run_tests.sh
  torchao/experimental/kernels/cpu/aarch64/tests/test_weight_packing.cpp
Labels: CLA Signed, fb-exported

#1933 Unpack weights at col
  torchao/experimental/kernels/cpu/aarch64/linear/pack_weights.h
Labels: CLA Signed, fb-exported

#1934 Shared embedding kernel
  torchao/experimental/kernels/cpu/aarch64/embedding/embedding.h
  torchao/experimental/kernels/cpu/aarch64/linear/pack_weights.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_embedding.cpp
Labels: CLA Signed, fb-exported

#1935 Shared embedding ops
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit-impl.h
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit_aten.cpp
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit_executorch.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/kernel_selector.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/packed_weights_format.h
Labels: CLA Signed, fb-exported

#1937 Add quant api + python test for shared embedding
  .github/workflows/torchao_experimental_test.yml
  torchao/experimental/packed_linear_int8_dynamic_activation_intx_weight_layout.py
  torchao/experimental/quant_api.py
  torchao/experimental/tests/test_embedding_xbit_quantizer.py
Labels: CLA Signed, fb-exported, topic: new feature

#1941 Bug fixes for shared_embedding
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit-impl.h
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit_executorch.cpp
Labels: CLA Signed

#1942 Add dynamic shape support for lowbit kernels
  torchao/__init__.py
  torchao/experimental/op_lib.py
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit-impl.h
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit_aten.cpp
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit_executorch.cpp
  torchao/experimental/ops/library.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight-impl.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_aten.cpp
  torchao/experimental/quant_api.py
  torchao/experimental/tests/test_int8_dynamic_activation_intx_weight.py
Labels: CLA Signed

#1946 Fix dynamic shape for shared embedding
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit-impl.h
Labels: CLA Signed

#1954 Move config out of experimental
  .github/workflows/torchao_experimental_test.yml
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/dtypes/uintx/__init__.py
  torchao/dtypes/uintx/packed_linear_int8_dynamic_activation_intx_weight_layout.py
  torchao/dtypes/uintx/q_dq_layout.py
  torchao/experimental/packed_linear_int8_dynamic_activation_intx_weight_layout.py
  torchao/experimental/q_dq_layout.py
  torchao/experimental/quant_api.py
  torchao/experimental/tests/test_embedding_xbit_quantizer.py
  torchao/experimental/tests/test_int8_dynamic_activation_intx_weight.py
Labels: CLA Signed

#1915 Install bitsandbytes for ROCm
  .github/workflows/regression_test_rocm.yml
Labels: CLA Signed, module: rocm, topic: not user facing, triaged

#1932 mx: triton kernel to cast to mx and write in col-major
  benchmarks/mx_formats/cast_bench.py
  test/prototype/mx_formats/test_custom_cast.py
  torchao/prototype/mx_formats/custom_cast.py
Labels: CLA Signed, topic: performance

#1943 integrate mx dim1 triton kernel into MXLinear
  test/prototype/mx_formats/test_mx_linear.py
  torchao/prototype/mx_formats/config.py
  torchao/prototype/mx_formats/custom_cast.py
  torchao/prototype/mx_formats/mx_linear.py
Labels: CLA Signed, topic: not user facing

#1953 mx roofline: adjust mxfp8 formulas
  torchao/testing/float8/roofline_utils.py
Labels: CLA Signed, topic: not user facing

#1961 [float8] Support passing extra args to benchmarking script
  benchmarks/float8/training/README.md
  benchmarks/float8/training/float8_training_benchmark.sh
Labels: CLA Signed, float8, topic: not user facing

#1835 Implemented RCEIL (CUBLAS-style) MXFP scale factor derivation, with test cases.
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: improvement

#1974 remove dynamic=True for decode
  torchao/_models/llama/generate.py
Labels: CLA Signed, topic: not user facing

#1973 fix mps ci
  .github/workflows/torchao_experimental_test.yml
Labels: CLA Signed

#1917 Add sparsity to benchmarking
  benchmarks/microbenchmarks/benchmark_inference.py
  benchmarks/microbenchmarks/benchmark_runner.py
  benchmarks/microbenchmarks/test/benchmark_config.yml
  benchmarks/microbenchmarks/test/test_benchmark_inference.py
  benchmarks/microbenchmarks/test/test_benchmark_runner.py
  benchmarks/microbenchmarks/test/test_utils.py
  benchmarks/microbenchmarks/utils.py
Labels: CLA Signed, topic: new feature, topic: performance

#1965 delete mxfp8 torch._scaled_mm wrapper
  test/prototype/mx_formats/test_mx_linear.py
  torchao/prototype/mx_formats/mx_ops.py
Labels: CLA Signed, module: rocm, topic: not user facing

#1966 use torch.float8_e8m0fnu in mx_formats
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/custom_cast.py
  torchao/prototype/mx_formats/mx_linear.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: improvement

#1970 mx_formats: move training to the quantize_ API
  benchmarks/float8/float8_roofline.py
  benchmarks/float8/profile_lowp_training.py
  test/prototype/mx_formats/test_mx_linear.py
  torchao/prototype/mx_formats/README.md
  torchao/prototype/mx_formats/__init__.py
  torchao/prototype/mx_formats/config.py
  torchao/prototype/mx_formats/mx_linear.py
Labels: CLA Signed, topic: improvement

#1971 mx_formats: move inference to the quantize_ API
  test/prototype/mx_formats/test_mx_linear.py
  torchao/prototype/mx_formats/README.md
  torchao/prototype/mx_formats/__init__.py
  torchao/prototype/mx_formats/config.py
  torchao/prototype/mx_formats/mx_linear.py
Labels: CLA Signed, topic: not user facing
