Repository pytorch/ao, pull requests merged in 2025-04, with the labels that each got.

#1977 mx: temporarily disable the rceil tests
  test/prototype/mx_formats/test_mx_tensor.py
Labels: CLA Signed, topic: not user facing

#1978 mx: remove differentiable casts
  test/prototype/mx_formats/test_mx_tensor.py
  torchao/prototype/mx_formats/mx_tensor.py
Labels: CLA Signed, topic: not user facing

#1986 refresh torchao.float8 README
  torchao/float8/README.md
Labels: topic: documentation, CLA Signed

#1985 refresh float8 training section of main readme
  README.md
Labels: topic: documentation, CLA Signed

#1989 refresh MX readme
  torchao/prototype/mx_formats/README.md
Labels: topic: documentation, CLA Signed

#1990 Add lut support to linear kernel
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight/channelwise_8bit_activation_groupwise_lowbit_weight.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight/kernel_1x8x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight/pack_weights.h
  torchao/experimental/kernels/cpu/aarch64/linear/linear.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_linear.cpp
Labels: CLA Signed, fb-exported

#1991 Reintroduce has_weight_zeros as a template param
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight/channelwise_8bit_activation_groupwise_lowbit_weight.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight/kernel_1x8x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/linear/linear.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_linear.cpp
  torchao/experimental/ops/embedding_xbit/op_embedding_xbit-impl.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/kernel_selector.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/packed_weights_format.h
  torchao/experimental/ops/tests/test_linear_8bit_act_xbit_weight.cpp
Labels: CLA Signed, fb-exported

#1998 Claen up op interface
  torchao/experimental/kernels/cpu/aarch64/kleidi/kai_matmul_clamp_f32_qai8dxp_qsi4c32p.h
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight/channelwise_8bit_activation_groupwise_lowbit_weight.h
  torchao/experimental/kernels/cpu/aarch64/linear/linear.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_linear.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/kernel_config.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/kernel_selector.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight-impl.h
  torchao/experimental/ops/tests/test_linear_8bit_act_xbit_weight.cpp
Labels: CLA Signed, fb-exported

#1994 quantized matmul
  torchao/experimental/kernels/cpu/aarch64/matmul/channelwise_8bit_a_channelwise_8bit_b_1x16x16_f32_smlal-impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/channelwise_8bit_a_channelwise_8bit_b_1x8x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/matmul.h
  torchao/experimental/kernels/cpu/aarch64/matmul/matmul_utils.h
  torchao/experimental/kernels/cpu/aarch64/quantization/quantize.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/tests/build_and_run_tests.sh
  torchao/experimental/kernels/cpu/aarch64/tests/test_qmatmul.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils.h
Labels: enhancement, CLA Signed, fb-exported, cpu, topic: new feature, topic: performance

#1999 Allow builds on less than sm75 raise runtime failure
  torchao/csrc/cuda/fp6_llm/fp6_linear.cu
  torchao/csrc/cuda/fp6_llm/kernel_matmul.cuh
  torchao/ops.py
Labels: CLA Signed, topic: not user facing

#2003 Skip galore test if not cuda
  test/quantization/test_galore_quant.py
Labels: CLA Signed, topic: not user facing

#2005 Fix experimental CI
  .github/workflows/torchao_experimental_test.yml
  dev-requirements.txt
Labels: CLA Signed, topic: not user facing

#2004 Add fp32xint8 matmul
  torchao/experimental/kernels/cpu/aarch64/matmul/fp32_a_input_channelwise_8bit_b_1x16x4_f32_impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/matmul.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_qmatmul.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils.h
Labels: CLA Signed, fb-exported, topic: new feature, topic: performance

#2006 Add quantized q @ k test for intented used in quantized attention
  torchao/experimental/kernels/cpu/aarch64/tests/test_qmatmul.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils_quantized_attention.h
Labels: CLA Signed, fb-exported, topic: new feature, topic: performance

#2009 Update version.txt
  version.txt
Labels: CLA Signed, topic: not user facing

#1969 Initial prototype of differentiable _scaled_grouped_mm function
  torchao/prototype/scaled_grouped_mm/__init__.py
  torchao/prototype/scaled_grouped_mm/scaled_grouped_mm.py
  torchao/prototype/scaled_grouped_mm/test_scaled_grouped_mm.py
Labels: CLA Signed, topic: not user facing

#2008 Add quantized attn_scores @ v test for intented used in quantized attention
  torchao/experimental/kernels/cpu/aarch64/matmul/fp32_a_input_channelwise_8bit_b_1x16x4_f32_impl.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_qmatmul.cpp
  torchao/experimental/kernels/cpu/aarch64/tests/test_utils_quantized_attention.h
Labels: CLA Signed, fb-exported, topic: new feature, topic: performance

#2010 add fallback kernel and interface
  torchao/experimental/kernels/cpu/aarch64/tests/test_qmatmul.cpp
  torchao/experimental/kernels/cpu/fallback/matmul/channelwise_8bit_a_channelwise_8bit_b.h
  torchao/experimental/kernels/cpu/interface/quantized_matmul.h
  torchao/experimental/kernels/cpu/interface/test_qmatmul_interface.cpp
Labels: CLA Signed, fb-exported, topic: new feature, topic: performance

#2011 Add fallback kernel and interface for rhs only quantized matmul
  torchao/experimental/kernels/cpu/fallback/matmul/fp32_a_channelwise_8bit_b_fp32_c.h
  torchao/experimental/kernels/cpu/interface/quantized_matmul.h
  torchao/experimental/kernels/cpu/interface/test_qmatmul_interface.cpp
Labels: CLA Signed, fb-exported, topic: new feature, topic: performance

#2000 Add KleidiAI gemm kernels
  .github/workflows/torchao_experimental_test.yml
  torchao/experimental/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/CMakeLists.txt
  torchao/experimental/kernels/cpu/aarch64/kleidi/kai_matmul_clamp_f32_qai8dxp_qsi4c32p.h
  torchao/experimental/kernels/cpu/aarch64/tests/CMakeLists.txt
  torchao/experimental/ops/linear_8bit_act_xbit_weight/kernel_selector.h
  torchao/experimental/ops/tests/CMakeLists.txt
  torchao/experimental/ops/tests/test_linear_8bit_act_xbit_weight.cpp
  torchao/experimental/tests/test_int8_dynamic_activation_intx_weight.py
Labels: CLA Signed, fb-exported

#2013 Update float8nocompile test code to use new float8 matmul function
  torchao/prototype/float8nocompile/float8nocompile_linear_test.py
Labels: CLA Signed, topic: not user facing

#1976 Temporarily remove float8nocompile CI
  .github/workflows/float8nocompile_test.yaml
Labels: CLA Signed, topic: not user facing

#2014 Update clean_release_notes.py
  scripts/clean_release_notes.py
Labels: CLA Signed, topic: not user facing

#1964 Match QAT prepare and convert numerics exactly
  test/quantization/test_qat.py
  torchao/_executorch_ops.py
  torchao/quantization/GPTQ.py
  torchao/quantization/utils.py
Labels: CLA Signed, topic: improvement

#2022 Skip failing tests for rowwise-scaled
  test/test_ops_rowwise_scaled_linear_cutlass.py
Labels: CLA Signed, topic: not user facing

#2017 Update torchao.prototype.parq and add 4-bit Llama 3.2 1B benchmark
  torchao/prototype/parq/__init__.py
  torchao/prototype/parq/optim/__init__.py
  torchao/prototype/parq/optim/binarelax.py
  torchao/prototype/parq/optim/parq.py
  torchao/prototype/parq/optim/proxmap.py
  torchao/prototype/parq/optim/quantopt.py
  torchao/prototype/parq/quant/__init__.py
  torchao/prototype/parq/quant/lsbq.py
  torchao/prototype/parq/quant/quantizer.py
  torchao/prototype/parq/quant/uniform.py
  torchao/prototype/parq/utils.py
Labels: CLA Signed, topic: improvement

#2023 Use quantized gemm only on aarch64
  torchao/experimental/kernels/cpu/aarch64/matmul/channelwise_8bit_a_channelwise_8bit_b_1x16x16_f32_smlal-impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/channelwise_8bit_a_channelwise_8bit_b_1x8x16_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/fp32_a_input_channelwise_8bit_b_1x16x4_f32_impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/matmul.h
  torchao/experimental/kernels/cpu/interface/quantized_matmul.h
Labels: CLA Signed, fb-exported, topic: new feature, topic: performance

#1967 Adds utility to replace Q/DQ ops with torchao quantized linear ops
  .github/workflows/torchao_experimental_test.yml
  torchao/experimental/quant_passes.py
  torchao/experimental/tests/test_quant_passes.py
Labels: CLA Signed

#2015 Fix slice and padding for TensorCoreTiledLayout
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/affine_quantized_tensor.py
  torchao/dtypes/uintx/gemlite_layout.py
  torchao/dtypes/uintx/int4_cpu_layout.py
  torchao/dtypes/uintx/marlin_qqq_tensor.py
  torchao/dtypes/uintx/packed_linear_int8_dynamic_activation_intx_weight_layout.py
  torchao/dtypes/uintx/tensor_core_tiled_layout.py
  torchao/dtypes/uintx/uintx_layout.py
  torchao/dtypes/utils.py
  torchao/testing/utils.py
Labels: CLA Signed, topic: bug fix

#2024 Fix Int4WeightEmbeddingQATQuantizer.convert path
  test/quantization/test_qat.py
  torchao/quantization/qat/embedding.py
Labels: CLA Signed, topic: bug fix

#2001 Add gguf q4_k quantization
  test/prototype/test_gguf_quant.py
  torchao/core/config.py
  torchao/prototype/quantization/__init__.py
  torchao/prototype/quantization/gguf/__init__.py
  torchao/prototype/quantization/gguf/api.py
  torchao/prototype/quantization/gguf/gguf_quantized_tensor.py
  torchao/quantization/quant_primitives.py
Labels: CLA Signed, topic: not user facing

#2029 torch/ao
  test/integration/test_integration.py
Labels: CLA Signed, fb-exported, topic: not user facing

#1972 Adds Q/DQ layout support for embedding quantization with IntxWeightOnlyConfig
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/dtypes/uintx/q_dq_layout.py
  torchao/experimental/quant_api.py
  torchao/experimental/quant_passes.py
  torchao/experimental/tests/test_embedding_xbit_quantizer.py
  torchao/experimental/tests/test_quant_passes.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#1968 Move Int8DynamicActivationIntxWeightConfig out of experimental
  torchao/_models/llama/generate.py
  torchao/dtypes/__init__.py
  torchao/dtypes/uintx/__init__.py
  torchao/dtypes/uintx/packed_linear_int8_dynamic_activation_intx_weight_layout.py
  torchao/experimental/op_lib_utils.py
  torchao/experimental/packed_linear_int8_dynamic_activation_intx_weight_layout.py
  torchao/experimental/quant_api.py
  torchao/experimental/quant_passes.py
  torchao/experimental/tests/test_embedding_xbit_quantizer.py
  torchao/experimental/tests/test_int8_dynamic_activation_intx_weight.py
  torchao/experimental/tests/test_quant_passes.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: new feature

#1702 [ROCm] preshuffled weight mm
  setup.py
  test/test_ops.py
  torchao/__init__.py
  torchao/csrc/rocm/swizzle/swizzle.cpp
  torchao/ops.py
  torchao/swizzle/__init__.py
  torchao/swizzle/swizzle_ops.py
  torchao/swizzle/swizzle_tensor.py
Labels: CLA Signed, module: rocm

#2031 Revert "[ROCm] preshuffled weight mm"
  setup.py
  test/test_ops.py
  torchao/__init__.py
  torchao/csrc/rocm/swizzle/swizzle.cpp
  torchao/ops.py
  torchao/swizzle/__init__.py
  torchao/swizzle/swizzle_ops.py
  torchao/swizzle/swizzle_tensor.py
Labels: CLA Signed, module: rocm, ciflow/rocm, ci-no-td

#1876 Initial ParetoQ commit
  ruff.toml
  test/prototype/test_paretoq.py
  torchao/prototype/paretoq/1_run_train.sh
  torchao/prototype/paretoq/2_run_eval.sh
  torchao/prototype/paretoq/README.md
  torchao/prototype/paretoq/__init__.py
  torchao/prototype/paretoq/main_result_234bit.jpg
  torchao/prototype/paretoq/main_result_scaling_law.jpg
  torchao/prototype/paretoq/main_result_ternary.jpg
  torchao/prototype/paretoq/models/__init__.py
  torchao/prototype/paretoq/models/configuration_llama.py
  torchao/prototype/paretoq/models/modeling_llama_quant.py
  torchao/prototype/paretoq/models/utils_quant.py
  torchao/prototype/paretoq/requirement.txt
  torchao/prototype/paretoq/train.py
  torchao/prototype/paretoq/utils/datautils.py
  torchao/prototype/paretoq/utils/process_args.py
  torchao/prototype/paretoq/utils/utils.py
Labels: CLA Signed, topic: new feature

#1577 INT4 XPU enabling
  test/dtypes/test_affine_quantized.py
  test/integration/test_integration.py
  test/quantization/test_quant_api.py
  test/quantization/test_quant_primitives.py
  torchao/dtypes/__init__.py
  torchao/dtypes/affine_quantized_tensor_ops.py
  torchao/dtypes/uintx/__init__.py
  torchao/dtypes/uintx/int4_xpu_layout.py
  torchao/kernel/intmm.py
  torchao/prototype/hqq/hqq_tinygemm_linear.py
  torchao/quantization/quant_api.py
  torchao/quantization/quant_primitives.py
  torchao/quantization/subclass.py
  torchao/quantization/utils.py
  torchao/utils.py
Labels: CLA Signed, topic: new feature

#2030 Remove old code from torchao.experimental.quant_api
  torchao/experimental/quant_api.py
  torchao/experimental/tests/test_linear_8bit_act_xbit_weight_quantizer.py
Labels: CLA Signed

#2034 vectorized row sum
  torchao/experimental/kernels/cpu/aarch64/matmul/channelwise_8bit_a_channelwise_8bit_b_1x8x16_f32_neondot-impl.h
Labels: CLA Signed, fb-exported, topic: new feature, topic: performance

#2039 Add gemm for fp32_a_int8_b matmul kernel
  torchao/experimental/kernels/cpu/aarch64/matmul/fp32_a_input_channelwise_8bit_b_4x16x4_f32_impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/matmul.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_qmatmul.cpp
Labels: CLA Signed, fb-exported, topic: new feature, topic: performance

#2040 Add gemm kernel to interface
  torchao/experimental/kernels/cpu/aarch64/matmul/matmul.h
  torchao/experimental/kernels/cpu/interface/quantized_matmul.h
  torchao/experimental/kernels/cpu/interface/test_qmatmul_interface.cpp
Labels: CLA Signed, fb-exported, topic: new feature, topic: performance

#2041 Add tests for attention matmul for gemm kernels
  torchao/experimental/kernels/cpu/aarch64/tests/test_qmatmul.cpp
Labels: CLA Signed, fb-exported, topic: new feature, topic: performance

#2037 Fix QDQLayout
  torchao/dtypes/uintx/q_dq_layout.py
Labels: CLA Signed, topic: not user facing

#2046 Fix static AQT flow
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/affine_quantized_tensor.py
Labels: CLA Signed, topic: bug fix

#2045 [BE] Remove hf_eval.py and add documentation on using lm-eval
  README.md
  scripts/hf_eval.py
Labels: topic: documentation, CLA Signed, topic: improvement

#2049 gemm int8 a int8 b kernels
  torchao/experimental/kernels/cpu/aarch64/matmul/channelwise_8bit_a_channelwise_8bit_b_4x8x8_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/fp32_a_input_channelwise_8bit_b_4x16x4_f32_impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/matmul.h
  torchao/experimental/kernels/cpu/aarch64/matmul/matmul_utils.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_qmatmul.cpp
Labels: CLA Signed, fb-exported, topic: new feature, topic: performance

#2051 Add tests cases for q @ k attention variant
  torchao/experimental/kernels/cpu/aarch64/matmul/channelwise_8bit_a_channelwise_8bit_b_4x8x8_f32_neondot-impl.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_qmatmul.cpp
Labels: CLA Signed, fb-exported, topic: new feature, topic: performance

#2054 Fix QDQ layout slice operation when zero_point is None
  torchao/dtypes/uintx/q_dq_layout.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#2048 Copy and adapt pt2e quantization code to torchao
  test/integration/test_integration.py
  test/quantization/pt2e/test_duplicate_dq.py
  test/quantization/pt2e/test_graph_utils.py
  test/quantization/pt2e/test_metadata_porting.py
  test/quantization/pt2e/test_numeric_debugger.py
  test/quantization/pt2e/test_quantize_pt2e.py
  test/quantization/pt2e/test_quantize_pt2e_qat.py
  test/quantization/pt2e/test_representation.py
  test/quantization/pt2e/test_x86inductor_quantizer.py
  test/quantization/pt2e/test_xnnpack_quantizer.py
  torchao/experimental/quant_passes.py
  torchao/experimental/tests/test_int8_dynamic_activation_intx_weight.py
  torchao/experimental/tests/test_quant_passes.py
  torchao/quantization/pt2e/__init__.py
  torchao/quantization/pt2e/fake_quantize.py
  torchao/quantization/pt2e/observer.py
  torchao/quantization/pt2e/pt2e/__init__.py
  torchao/quantization/pt2e/pt2e/_affine_quantization.py
  torchao/quantization/pt2e/pt2e/_numeric_debugger.py
  torchao/quantization/pt2e/pt2e/constant_fold.py
  torchao/quantization/pt2e/pt2e/convert.py
  torchao/quantization/pt2e/pt2e/duplicate_dq_pass.py
  torchao/quantization/pt2e/pt2e/export_utils.py
  torchao/quantization/pt2e/pt2e/graph_utils.py
  torchao/quantization/pt2e/pt2e/lowering.py
  torchao/quantization/pt2e/pt2e/port_metadata_pass.py
  torchao/quantization/pt2e/pt2e/prepare.py
  torchao/quantization/pt2e/pt2e/qat_utils.py
  torchao/quantization/pt2e/pt2e/representation/__init__.py
  torchao/quantization/pt2e/pt2e/representation/rewrite.py
  torchao/quantization/pt2e/pt2e/utils.py
  torchao/quantization/pt2e/quant_type.py
  torchao/quantization/pt2e/quantize_pt2e.py
  torchao/quantization/pt2e/quantizer/__init__.py
  torchao/quantization/pt2e/quantizer/composable_quantizer.py
  torchao/quantization/pt2e/quantizer/embedding_quantizer.py
  torchao/quantization/pt2e/quantizer/quantizer.py
  torchao/quantization/pt2e/quantizer/utils.py
  torchao/quantization/pt2e/quantizer/x86_inductor_quantizer.py
  torchao/quantization/pt2e/quantizer/xnnpack_quantizer.py
  torchao/quantization/pt2e/quantizer/xnnpack_quantizer_utils.py
  torchao/quantization/pt2e/quantizer/xpu_inductor_quantizer.py
  torchao/quantization/pt2e/utils.py
  torchao/quantization/quant_primitives.py
  torchao/testing/pt2e/__init__.py
  torchao/testing/pt2e/utils.py
  tutorials/developer_api_guide/export_to_executorch.py
Labels: CLA Signed, topic: bc-breaking, topic: new feature

#2059 metal lowbit kernels: add mps_ops_lib
  torchao/experimental/ops/mps/mps_op_lib.py
Labels: CLA Signed, topic: not user facing

#2058 Remove zero_point_domain from quant configs
  benchmarks/microbenchmarks/utils.py
  torchao/_models/llama/generate.py
  torchao/dtypes/uintx/packed_linear_int8_dynamic_activation_intx_weight_layout.py
  torchao/experimental/quant_api.py
  torchao/experimental/tests/test_embedding_xbit_quantizer.py
  torchao/experimental/tests/test_int8_dynamic_activation_intx_weight.py
  torchao/experimental/tests/test_quant_passes.py
  torchao/quantization/quant_api.py
Labels: CLA Signed

#2062 Fix unwrap_tensor_subclass
  torchao/utils.py
Labels: bug, CLA Signed, topic: not user facing

#2057 Remove benchmarks folder from torchao wheel
  setup.py
Labels: CLA Signed, topic: not user facing, topic: bug fix

#2063 Fix compile issues
  torchao/experimental/kernels/cpu/aarch64/benchmarks/benchmark_bitpacking.cpp
  torchao/experimental/kernels/cpu/aarch64/matmul/channelwise_8bit_a_channelwise_8bit_b_1x16x16_f32_smlal-impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/fp32_a_input_channelwise_8bit_b_1x16x4_f32_impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/fp32_a_input_channelwise_8bit_b_4x16x4_f32_impl.h
  torchao/experimental/kernels/cpu/aarch64/matmul/matmul_utils.h
Labels: CLA Signed, topic: not user facing

#2068 Fix `-Wmissing-braces` in a few files (#150802)
  torchao/csrc/cuda/rowwise_scaled_linear_cutlass/rowwise_scaled_linear_cutlass.cuh
  torchao/csrc/cuda/rowwise_scaled_linear_sparse_cutlass/rowwise_scaled_linear_sparse_cutlass.cuh
Labels: CLA Signed, fb-exported, topic: not user facing

#2072 Fix aqt implementation for aten.mm/aten.addmm fallback path
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/affine_quantized_tensor_ops.py
Labels: CLA Signed, topic: bug fix

#2032 Add profiling to benchmarking
  benchmarks/microbenchmarks/benchmark_inference.py
  benchmarks/microbenchmarks/benchmark_runner.py
  benchmarks/microbenchmarks/profiler.py
  benchmarks/microbenchmarks/test/benchmark_config.yml
  benchmarks/microbenchmarks/test/test_benchmark_profiler.py
  benchmarks/microbenchmarks/utils.py
Labels: CLA Signed, topic: performance

#1372 Add INT8 SDPA path for CPU
  setup.py
  test/prototype/inductor/test_int8_sdpa_fusion.py
  test/test_ops.py
  torchao/csrc/cpu/int8_sdpa.cpp
  torchao/ops.py
  torchao/prototype/inductor/__init__.py
  torchao/prototype/inductor/fx_passes/README.md
  torchao/prototype/inductor/fx_passes/__init__.py
  torchao/prototype/inductor/fx_passes/int8_sdpa_fusion.py
Labels: CLA Signed, topic: not user facing

#2080 Add scale and zp dtype in preq
  torchao/quantization/GPTQ.py
Labels: CLA Signed, fb-exported, topic: not user facing

#2065 Adding numerical tests for Int8DynamicActivationIntxWeightConfig
  torchao/experimental/tests/test_embedding_xbit_quantizer.py
  torchao/experimental/tests/test_int8_dynamic_activation_intx_weight.py
Labels: CLA Signed, topic: not user facing

#2060 Match QAT prepare and convert numerics exactly for bf16 and fp16
  test/quantization/test_qat.py
  torchao/quantization/qat/fake_quantizer.py
  torchao/quantization/qat/utils.py
  torchao/quantization/utils.py
Labels: CLA Signed, topic: improvement

#2088 Update torchtitan benchmarking script
  benchmarks/float8/training/README.md
  benchmarks/float8/training/torchtitan_benchmark.sh
Labels: CLA Signed, topic: not user facing

#2064 [scaled grouped mm] add triton kernels for float8 rowwise quantization with per-group/jagged scales
  torchao/prototype/scaled_grouped_mm/kernels/__init__.py
  torchao/prototype/scaled_grouped_mm/kernels/benchmark.py
  torchao/prototype/scaled_grouped_mm/kernels/jagged_float8_scales.py
  torchao/prototype/scaled_grouped_mm/kernels/test_jagged_float8_scales.py
  torchao/prototype/scaled_grouped_mm/scaled_grouped_mm.py
  torchao/prototype/scaled_grouped_mm/test_scaled_grouped_mm.py
  torchao/prototype/scaled_grouped_mm/utils.py
Labels: CLA Signed, topic: improvement, topic: performance

#2083 [1/n] Move a few utils under pt2e/pt2e/ to pt2e/
  test/quantization/pt2e/test_graph_utils.py
  test/quantization/pt2e/test_numeric_debugger.py
  test/quantization/pt2e/test_quantize_pt2e.py
  torchao/quantization/pt2e/__init__.py
  torchao/quantization/pt2e/export_utils.py
  torchao/quantization/pt2e/graph_utils.py
  torchao/quantization/pt2e/pt2e/_numeric_debugger.py
  torchao/quantization/pt2e/pt2e/duplicate_dq_pass.py
  torchao/quantization/pt2e/pt2e/port_metadata_pass.py
  torchao/quantization/pt2e/pt2e/representation/rewrite.py
  torchao/quantization/pt2e/pt2e/utils.py
  torchao/quantization/pt2e/qat_utils.py
  torchao/quantization/pt2e/quantize_pt2e.py
  torchao/quantization/pt2e/quantizer/utils.py
  torchao/quantization/pt2e/quantizer/x86_inductor_quantizer.py
  torchao/quantization/pt2e/quantizer/xnnpack_quantizer_utils.py
  torchao/quantization/pt2e/utils.py
Labels: CLA Signed, topic: not user facing

#2090 [lint] reformat qat files
  torchao/quantization/qat/embedding.py
  torchao/quantization/qat/linear.py
Labels: CLA Signed, topic: not user facing

#2092 Revert "Add INT8 SDPA path for CPU"
  setup.py
  test/prototype/inductor/test_int8_sdpa_fusion.py
  test/test_ops.py
  torchao/csrc/cpu/int8_sdpa.cpp
  torchao/ops.py
  torchao/prototype/inductor/__init__.py
  torchao/prototype/inductor/fx_passes/README.md
  torchao/prototype/inductor/fx_passes/__init__.py
  torchao/prototype/inductor/fx_passes/int8_sdpa_fusion.py
Labels: CLA Signed, topic: not user facing, ci-no-td

#2044 [reland][ROCm] preshuffled weight mm
  setup.py
  test/test_ops.py
  torchao/__init__.py
  torchao/csrc/rocm/swizzle/swizzle.cpp
  torchao/ops.py
  torchao/swizzle/__init__.py
  torchao/swizzle/swizzle_ops.py
  torchao/swizzle/swizzle_tensor.py
Labels: CLA Signed, module: rocm, ci-no-td

#2097 [lint] reformat swizzle ops
  torchao/swizzle/swizzle_ops.py
Labels: CLA Signed, topic: not user facing

#2077 [scaled grouped mm] integrate triton kernels into differentiable scaled grouped mm
  test/prototype/scaled_grouped_mm/__init__.py
  test/prototype/scaled_grouped_mm/test_kernels.py
  test/prototype/scaled_grouped_mm/test_scaled_grouped_mm.py
  torchao/prototype/scaled_grouped_mm/benchmarks/benchmark_kernels.py
  torchao/prototype/scaled_grouped_mm/benchmarks/benchmark_scaled_grouped_mm.py
  torchao/prototype/scaled_grouped_mm/kernels/__init__.py
  torchao/prototype/scaled_grouped_mm/kernels/jagged_float8_scales.py
  torchao/prototype/scaled_grouped_mm/scaled_grouped_mm.py
  torchao/prototype/scaled_grouped_mm/utils.py
Labels: CLA Signed, topic: improvement, topic: performance

#2104 Revert "[lint] reformat qat files"
  torchao/quantization/qat/embedding.py
  torchao/quantization/qat/linear.py
Labels: CLA Signed, topic: not user facing, ci-no-td

#2105 Revert D73201409
  torchao/quantization/qat/embedding.py
  torchao/quantization/qat/linear.py
Labels: CLA Signed, fb-exported, topic: not user facing, ci-no-td

#2106 Revert "Revert D73201409"
  torchao/quantization/qat/embedding.py
  torchao/quantization/qat/linear.py
Labels: CLA Signed, topic: not user facing, ci-no-td

#2036 Model shapes config
  benchmarks/microbenchmarks/README.md
  benchmarks/microbenchmarks/benchmark_inference.py
  benchmarks/microbenchmarks/benchmark_runner.py
  benchmarks/microbenchmarks/test/benchmark_config.yml
  benchmarks/microbenchmarks/test/test_benchmark_profiler.py
  benchmarks/microbenchmarks/test/test_benchmark_runner.py
  benchmarks/microbenchmarks/test/test_utils.py
  benchmarks/microbenchmarks/utils.py
  test/test_model_architecture.py
  torchao/quantization/qat/embedding.py
  torchao/quantization/qat/linear.py
  torchao/testing/model_architectures.py
Labels: CLA Signed, topic: performance

#2098 Revert "Install bitsandbytes for ROCm"
  .github/workflows/regression_test_rocm.yml
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing, ci-no-td

#2107 Revert D73201409 (#2105)
  torchao/quantization/qat/embedding.py
  torchao/quantization/qat/linear.py
Labels: CLA Signed, fb-exported, topic: not user facing, ci-no-td

#2118 Skip test_qat_8da4w_prepare_vs_convert to fix trunk CI
  test/quantization/test_qat.py
Labels: CLA Signed, topic: not user facing

#2116 Model shapes config
  benchmarks/microbenchmarks/README.md
  benchmarks/microbenchmarks/benchmark_inference.py
  benchmarks/microbenchmarks/benchmark_runner.py
  benchmarks/microbenchmarks/test/benchmark_config.yml
  benchmarks/microbenchmarks/test/test_benchmark_profiler.py
  benchmarks/microbenchmarks/test/test_benchmark_runner.py
  benchmarks/microbenchmarks/test/test_utils.py
  benchmarks/microbenchmarks/utils.py
  test/test_model_architecture.py
  torchao/testing/model_architectures.py
Labels: CLA Signed, topic: for developers, topic: performance

#2119 Add AOPerModuleConfig
  .pre-commit-config.yaml
  test/quantization/test_quant_api.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: improvement

#2075 [Quant][PT2E][X86] Enable annotation of aten.mul.tensor with X86InductorQuantizer
  test/quantization/pt2e/test_x86inductor_quantizer.py
  torchao/quantization/pt2e/quantizer/x86_inductor_quantizer.py
Labels: CLA Signed, topic: new feature

#2123 Skip ROCm Tests : Affine Quantized and Scaled Group Gemm
  test/dtypes/test_affine_quantized.py
  test/prototype/scaled_grouped_mm/test_kernels.py
  test/prototype/scaled_grouped_mm/test_scaled_grouped_mm.py
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing

#2117 Update CI to test on torch 2.6, 2.7 and drop older version
  .github/workflows/regression_test.yml
  test/dtypes/test_nf4.py
  test/quantization/test_galore_quant.py
  test/test_low_bit_optim.py
Labels: CLA Signed, topic: not user facing

#1983 Skip Test`test_galore_quant.py` for ROCm
  test/quantization/test_galore_quant.py
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing

#2121 [2/n] flatten pt2e/pt2e folder
  test/quantization/pt2e/test_numeric_debugger.py
  test/quantization/pt2e/test_quantize_pt2e.py
  test/quantization/pt2e/test_x86inductor_quantizer.py
  torchao/quantization/pt2e/__init__.py
  torchao/quantization/pt2e/_affine_quantization.py
  torchao/quantization/pt2e/_numeric_debugger.py
  torchao/quantization/pt2e/constant_fold.py
  torchao/quantization/pt2e/convert.py
  torchao/quantization/pt2e/duplicate_dq_pass.py
  torchao/quantization/pt2e/lowering.py
  torchao/quantization/pt2e/port_metadata_pass.py
  torchao/quantization/pt2e/prepare.py
  torchao/quantization/pt2e/pt2e/__init__.py
  torchao/quantization/pt2e/quantize_pt2e.py
  torchao/quantization/pt2e/representation/__init__.py
  torchao/quantization/pt2e/representation/rewrite.py
Labels: CLA Signed, topic: not user facing

#2124 Disable ROCm support in the Linux wheels build workflow
  .github/workflows/build_wheels_linux.yml
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing

#2126 Allow eager on 2.7 tests
  test/prototype/mx_formats/test_mx_linear.py
  test/prototype/mx_formats/test_mx_mm.py
  torchao/prototype/mx_formats/custom_cast.py
Labels: CLA Signed, topic: not user facing

#2125 [3/n] Flatten import path
  test/quantization/pt2e/test_duplicate_dq.py
  test/quantization/pt2e/test_metadata_porting.py
  test/quantization/pt2e/test_numeric_debugger.py
  test/quantization/pt2e/test_quantize_pt2e.py
  test/quantization/pt2e/test_quantize_pt2e_qat.py
  test/quantization/pt2e/test_representation.py
  test/quantization/pt2e/test_xnnpack_quantizer.py
  torchao/quantization/pt2e/__init__.py
  torchao/quantization/pt2e/_numeric_debugger.py
  torchao/quantization/pt2e/convert.py
  torchao/quantization/pt2e/export_utils.py
  torchao/quantization/pt2e/quantize_pt2e.py
  torchao/quantization/pt2e/quantizer/__init__.py
  torchao/quantization/pt2e/quantizer/duplicate_dq_pass.py
  torchao/quantization/pt2e/quantizer/embedding_quantizer.py
  torchao/quantization/pt2e/quantizer/port_metadata_pass.py
  torchao/quantization/pt2e/quantizer/utils.py
  torchao/quantization/pt2e/quantizer/x86_inductor_quantizer.py
  torchao/quantization/pt2e/quantizer/xpu_inductor_quantizer.py
  torchao/quantization/pt2e/utils.py
  torchao/testing/pt2e/_xnnpack_quantizer.py
  torchao/testing/pt2e/_xnnpack_quantizer_utils.py
  torchao/testing/pt2e/utils.py
Labels: CLA Signed, topic: not user facing

#2129 Make util function and classes public and simplify import path
  .pre-commit-config.yaml
  torchao/quantization/pt2e/__init__.py
  torchao/quantization/pt2e/export_utils.py
  torchao/quantization/pt2e/observer.py
  torchao/quantization/pt2e/prepare.py
  torchao/quantization/pt2e/qat_utils.py
  torchao/quantization/pt2e/quant_type.py
  torchao/quantization/pt2e/quantize_pt2e.py
  torchao/quantization/pt2e/quantizer/__init__.py
  torchao/quantization/pt2e/quantizer/duplicate_dq_pass.py
  torchao/quantization/pt2e/quantizer/port_metadata_pass.py
  torchao/quantization/pt2e/quantizer/quantizer.py
  torchao/quantization/pt2e/quantizer/utils.py
  torchao/quantization/pt2e/quantizer/x86_inductor_quantizer.py
  torchao/quantization/pt2e/reference_representation_rewrite.py
  torchao/quantization/pt2e/representation/__init__.py
  torchao/quantization/pt2e/utils.py
  torchao/testing/pt2e/_xnnpack_quantizer.py
  torchao/testing/pt2e/_xnnpack_quantizer_utils.py
Labels: CLA Signed, topic: not user facing

#2085 Fix numeric mismatches
  test/quantization/test_qat.py
  torchao/experimental/quant_passes.py
  torchao/experimental/tests/test_embedding_xbit_quantizer.py
  torchao/experimental/tests/test_int8_dynamic_activation_intx_weight.py
  torchao/quantization/GPTQ.py
  torchao/quantization/qat/embedding.py
  torchao/quantization/qat/linear.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: not user facing

#2096 Improve GemLite Integration
  test/dtypes/test_affine_quantized.py
  torchao/dtypes/uintx/gemlite_layout.py
  torchao/testing/utils.py
Labels: CLA Signed, topic: improvement

#2134 Add AOPerModuleConfig to `torchao.quantization`
  torchao/quantization/__init__.py
Labels: CLA Signed, topic: new feature

#2135 Fix AOPerModuleConfig bug in skipping quantizing modules
  test/quantization/test_quant_api.py
  torchao/quantization/__init__.py
  torchao/quantization/quant_api.py
Labels: CLA Signed, topic: bug fix

#2061 Memory profiler
  benchmarks/microbenchmarks/README.md
  benchmarks/microbenchmarks/benchmark_inference.py
  benchmarks/microbenchmarks/profiler.py
  benchmarks/microbenchmarks/test/benchmark_config.yml
  benchmarks/microbenchmarks/test/test_benchmark_profiler.py
  benchmarks/microbenchmarks/test/test_benchmark_runner.py
  benchmarks/microbenchmarks/test/test_utils.py
  benchmarks/microbenchmarks/utils.py
Labels: CLA Signed, topic: for developers, topic: performance

#2091 PARQ quantizer support for torchao's weight-only configs
  test/prototype/test_parq.py
  torchao/prototype/parq/README.md
  torchao/prototype/parq/__init__.py
  torchao/prototype/parq/optim/quantopt.py
  torchao/prototype/parq/quant/__init__.py
  torchao/prototype/parq/quant/uniform_torchao.py
Labels: CLA Signed, topic: improvement

#2026 Add int8 LUT CPU ops
  torchao/experimental/kernels/cpu/aarch64/linear/channelwise_8bit_activation_groupwise_lowbit_weight/channelwise_8bit_activation_groupwise_lowbit_weight.h
  torchao/experimental/kernels/cpu/aarch64/tests/test_linear.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/kernel_config.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/kernel_selector.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.cpp
  torchao/experimental/ops/linear_8bit_act_xbit_weight/linear_8bit_act_xbit_weight.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight-impl.h
  torchao/experimental/ops/linear_8bit_act_xbit_weight/op_linear_8bit_act_xbit_weight_aten.cpp
  torchao/experimental/ops/packed_weights_header.h
  torchao/experimental/ops/tests/test_linear_8bit_act_xbit_weight.cpp
Labels: CLA Signed, topic: not user facing

#2142 Update memory profiler
  benchmarks/microbenchmarks/benchmark_inference.py
  benchmarks/microbenchmarks/profiler.py
  benchmarks/microbenchmarks/test/benchmark_config.yml
  benchmarks/microbenchmarks/test/test_benchmark_profiler.py
Labels: CLA Signed, topic: not user facing

#2144 Skip test_slice_int4wo for ROCm
  test/dtypes/test_affine_quantized.py
Labels: CLA Signed, module: rocm, ciflow/rocm, topic: not user facing

#2093 Re-land "Add INT8 SDPA path for CPU"
  setup.py
  test/prototype/inductor/test_int8_sdpa_fusion.py
  test/test_ops.py
  torchao/csrc/cpu/int8_sdpa.cpp
  torchao/ops.py
  torchao/prototype/inductor/__init__.py
  torchao/prototype/inductor/fx_passes/README.md
  torchao/prototype/inductor/fx_passes/__init__.py
  torchao/prototype/inductor/fx_passes/int8_sdpa_fusion.py
Labels: CLA Signed, topic: not user facing
